checkbox {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    line-height: 1em;
    position: relative;

    input[type="checkbox"]  {
        margin: 0;
        opacity: 0;
        position: absolute;

        & + label .checkbox-display:before {
            //content: "\f0c8"; //square
            content: "\f096"; //square-o
        }

        &:checked + label .checkbox-display:before {
            //content: "\f14a"; //check
            content: "\f046"; //check-o
        }
    }

    &.flag {
        input[type="checkbox"]  {
            & + label .checkbox-display:before {
                content: "\f11d"; //flag-o
            }

            &:checked + label .checkbox-display:before {
                content: "\f024"; //flag
            }
        }
    }

    label {
        font-weight: normal;
        margin: 0;
        padding-left: 1.5em;

        &:focus {
            outline: solid green 5px;
            outline-offset: -2px;
        }
    }

    .fa {
        @include font-size(17);
        left: 0;
        position: absolute;
        top: 0;
    }

    &.focused {
        background: $gray;
    }

    &[disabled] {
        .fa {
            color: $gray;
        }
    }
}
