<section id="libraries">
    <h1>{{ vm.library.name }}</h1>

    <div id="library-edit" class="btn btn-default" ng-click="vm.toggleEditable()">{{ vm.editable ? 'Disable Editing' : 'Edit' }}</div>

    <form name="libraryForm" ng-submit="vm.saveLibrary()">
      <fieldset ng-disabled="!vm.editable">
        <div>
            <label for="libraryName">Name</label>
            <input type="text" name="libraryName" ng-model="vm.library.name">
        </div>
        <div>
            <label for="libraryFte">fte</label>
            <input type="text" name="libraryFte" ng-model="vm.library.fte">
        </div>
        <div>
            <label for="libraryInstitutionYears">Institution Type: 2 year/4 year</label>
            <textarea name="libraryInstitutionYears" ng-model="vm.library.institutionYears"></textarea>
        </div>
        <div>
            <label for="libraryInstitutionType">Institution Type: Private/Public</label>
            <textarea name="libraryInstitutionType" ng-model="vm.library.institutionType"></textarea>
        </div>
        <div>
            <label for="libraryIpAddresses">IP Addresses</label>
            <textarea name="libraryIpAddresses" ng-model="vm.library.ipAddresses"></textarea>
        </div>
        <div>
            <label for="libraryMembershipLevel">Membership Level</label>
            <input type="text" name="libraryMembershipLevel" ng-model="vm.library.membershipLevel">
        </div>
        <div>
            <label for="libraryIshareMember">I-Share Member</label>
            <input type="checkbox" name="libraryIshareMember" ng-model="vm.library.isIshareMember">
        </div>
        <div>
            <label for="libraryGar">General Account Receivable</label>
            <input type="text" name="libraryGar" ng-model="vm.library.gar">
        </div>
        <div>
            <label for="libraryStatus">Library Status</label>
            <input type="radio" name="libraryStatus" ng-value="true" ng-model="vm.library.isActive"> Active
            <input type="radio" name="libraryStatus" ng-value="false" ng-model="vm.library.isActive"> Inactive
        </div>
        <div>
            <label for="libraryOutstandingBalances">Outstanding Balances</label>
            <input type="text" name="libraryOutstandingBalances" ng-model="vm.library.outstandingBalances">
        </div>
        <!-- TODO: Products -->
        <div>
            <label for="libraryProducts">Products</label>
        </div>

        <h2>Contacts</h2>

        <h3>Billing</h3>
        <div ng-repeat="contact in vm.library.contacts | filter:{ contactType: 'Billing' }">
            <view-edit-contact contact="contact"></view-edit-contact>
            <a ng-click="vm.deleteContact(contact)">Delete</a>
        </div>
        <a id="add-billing-contact" ng-click="vm.addContact('Billing')">Add Contact</a>

        <h3>Sales</h3>
        <div ng-repeat="contact in vm.library.contacts | filter:{ contactType: 'Sales' }">
            <view-edit-contact contact="contact"></view-edit-contact>
            <a ng-click="vm.deleteContact(contact)">Delete</a>
        </div>
        <a id="add-sales-contact" ng-click="vm.addContact('Sales')">Add Contact</a>

        <h3>Technical</h3>
        <div ng-repeat="contact in vm.library.contacts | filter:{ contactType: 'Technical' }">
            <view-edit-contact contact="contact"></view-edit-contact>
            <a ng-click="vm.deleteContact(contact)">Delete</a>
        </div>
        <a id="add-technical-contact" ng-click="vm.addContact('Technical')">Add Contact</a>

        <div>
            <a href="/library">Cancel</a>
            <input id="library-submit" type="submit">
        </div>
      </fieldset>
    </form>


    <hr><pre>{{ vm.library }}</pre>
</section>
