<menu class="filter-by-active">
    <menuitem ng-click="setShowActive()">
        <i class="fa" ng-class="{ 'fa-dot-circle-o': isShowActive(), 'fa-circle-o': !isShowActive() }"></i> Active {{ entityLabel }}
    </menuitem>
    <menuitem ng-click="setShowInactive()">
        <i class="fa" ng-class="{ 'fa-dot-circle-o': isShowInactive(), 'fa-circle-o': !isShowInactive() }"></i> Inactive {{ entityLabel }}
    </menuitem>
    <menuitem ng-click="setShowAll()">
        <i class="fa" ng-class="{ 'fa-dot-circle-o': isShowAll(), 'fa-circle-o': !isShowAll() }"></i> All {{ entityLabel }}
    </menuitem>

    <div ng-transclude></div>
</menu>
