notification-list {
    clear: both;
    display: block;
    margin: 4rem auto;

    .title,
    .subtitle {
        display: inline-block;
        @include font-size(17);
        font-family: 'Merriweather';
        font-weight: bold;
        color: $black;
    }

    .subtitle {
        font-weight: normal;
    }

    .controls {
        float: right;
        margin: 0 0 0.5rem;

        radio {
            margin-left: 1rem;
        }
    }

    ul {
        clear: both;
        @extend .zebra-table;

        li {
            .column {
                border-left: none;

                &.subject {
                    color: $black;
                    @include font-size(14);
                    font-family: 'Verdana', sans-serif;

                    .total {
                        font-weight: normal;
                    }
                }

                &.preview,
                &.view-pdf,
                &.remove,
                &.send {
                    @include flex(0 1 auto);
                }

                &.remove,
                &.send {
                    padding: 0.25rem;
                    padding-left: 0;
                    text-align: center;
                }

                button.carli-button {
                    min-width: 85px;
                }
            }
        }
    }

    .footer {
        border-top: 0 !important;
        padding: 0.5rem !important;
    }
}