notification-list {
    clear: both;
    display: block;
    margin: 4rem auto;

    .title,
    .subtitle {
        display: inline-block;
        @include font-size(17);
        font-family: 'Merriweather';
        font-weight: bold;
        color: $black;
    }

    .subtitle {
        font-weight: normal;
    }

    .controls {
        float: right;
        margin: 0 0 0.5rem;

        radio {
            margin-left: 1rem;
        }

        .date-filter-controls {
            display: inline-block;

            view-edit-date {
                display: inline-block;
                width: 100px;
            }
        }
    }

    ul {
        clear: both;
        @extend .zebra-table;

        li {
            .column {
                border-left: none;

                &.date-sent,
                &.preview,
                &.remove,
                &.send {
                    align-self: center;
                    -webkit-align-self: center;
                    @include flex(0 1 auto);
                    padding-top: 0;
                    padding-bottom: 0;
                    text-align: center;
                }

                &.subject {
                    color: $black;
                    flex-grow: 2;
                    @include font-size(14);
                    font-family: 'Verdana', sans-serif;

                    .total {
                        font-weight: normal;
                    }
                }

                &.owner {
                    flex: 1 0 1%;
                    padding-right: 2rem;
                    text-align: right;

                    .email {
                        font-size: 13px;
                    }
                }

                &.preview {
                    flex: none;
                    width: 125px;
                }

                &.date-sent {
                    color: $black;
                    @include font-size(12);

                    .date {
                        font-weight: bold;
                    }
                }

                &.remove,
                &.send {
                    padding-right: 0.25rem;
                    padding-left: 0;
                }

                    button.carli-button {
                    min-width: 85px;
                }
            }
        }
    }

    .footer {
        border-top: 0 !important;
        padding: 0.5rem !important;
    }
}