<div class="pull-left">
    <div class="title">{{ vm.title }}</div>
    <div class="subtitle">{{ vm.subTitle }}</div>
</div>

<div class="controls">
    <div ng-if="vm.showDateFilter">
        <view-edit-date ng-model="vm.startDate" edit-mode="true"></view-edit-date>
        <view-edit-date ng-model="vm.endDate" edit-mode="true"></view-edit-date>
    </div>
    <radio name="'notifications-list'+listId+'-filter'"  value="'all'" ng-model="vm.filter">Show <strong>All Notifications</strong></radio>
    <radio name="'notifications-list'+listId+'-filter'" value="'invoice'" ng-model="vm.filter">Show <strong>Library Invoices</strong></radio>
    <radio name="'notifications-list'+listId+'-filter'" value="'report'" ng-model="vm.filter">Show <strong>Vendor Reports</strong></radio>
</div>

<ul>
    <li class="notification-row" ng-repeat="notification in vm.notifications | filter: vm.filterByType | orderBy:vm.orderBy:vm.reverse as filteredResults track by notification.id">
        <div class="column subject">
            <span class="subject">
                <span class="recipient" ng-show="notification.targetEntity">{{ notification.targetEntity.name }}:</span>
                <span class="subject">{{ notification.subject }}</span>
            <span class="total" ng-show="notification.getSummaryTotal() > 0"> - ({{ notification.getSummaryTotal() | currency }})</span>
        </div>
        <div class="column date-sent" ng-if="vm.showDateSent">
            <div class="time">{{ notification.dateSent | date:'shortTime' }}</div>
            <div class="date">{{ notification.dateSent | date:'shortDate' }}</div>
        </div>
        <div class="column preview">
            <a busy-click="vm.previewNotification(notification)">View</a> |
            <a busy-click="vm.previewPdf(notification)">PDF</a>
        </div>
        <div class="column remove" ng-if="vm.showRemove">
            <button type="button" class="carli-button subdued-remove-button" busy-click="vm.removeDraft(notification)">
                Remove <span class="sr-only">draft for {{ notification.subject }}</span>
            </button>
        </div>
        <div class="column send" >
            <button type="button" class="carli-button" busy-click="vm.sendNotification(notification)">
                {{ vm.sendLabel }} <span class="sr-only">{{ vm.sendLabel }} notification {{ notification.subject }}</span>
            </button>
        </div>
    </li>
</ul>

<div class="footer" ng-if="vm.showSendAll && filteredResults.length">
    <button type="button" id="sendAll" class="carli-button primary-button" busy-click="vm.sendAllDrafts()">Send all drafts <fa name="paper-plane"></fa></button>
</div>
