<div class="pull-left">
    <div class="title">{{ ::vm.listTitle }}</div>
    <div class="subtitle">{{ ::vm.subTitle }}</div>
</div>

<div class="controls">
    <div ng-if="vm.showDateFilter" class="date-filter-controls">
        <view-edit-date ng-model="vm.sentFilterStartDate" edit-mode="true"></view-edit-date>
        <view-edit-date ng-model="vm.sentFilterEndDate" edit-mode="true"></view-edit-date>
        <button type="button" class="carli-button" ng-click="vm.updateNotifications()">Set Date Range</button>
    </div>
    <div class="owner-filter-controls">
        <div class="group-by-toggle">
            <button type="button" class="toggle-button" ng-class="{ 'active': vm.ownerFilterEnabled }"
                    ng-click="vm.enableOwnerFilter()">My Notifications</button
            ><button type="button" class="toggle-button" ng-class="{ 'active': !vm.ownerFilterEnabled }"
                    ng-click="vm.disableOwnerFilter()">All Notifications
            </button>
        </div>
    </div>
    <div class="type-filter-controls">
        <radio name="'notifications-list'+listId+'-filter'" value="'all'" ng-model="vm.filter">Show <strong>All Notifications</strong></radio>
        <radio name="'notifications-list'+listId+'-filter'" value="'invoice'" ng-model="vm.filter">Show <strong>Library Invoices</strong></radio>
        <radio name="'notifications-list'+listId+'-filter'" value="'report'" ng-model="vm.filter">Show <strong>Vendor Reports</strong></radio>
    </div>
</div>

<ul cg-busy="vm.loadingPromise">
    <li class="notification-row" ng-repeat="notification in vm.notifications | filter: vm.filterByType | filter: vm.filterByOwner | orderBy:vm.orderBy as filteredResults track by notification.id" data-notification-id="{{ ::notification.id }}">
        <div class="column subject">
            <span class="subject">
                <span class="recipient" ng-show="notification.targetEntity.name || notification.targetEntityName">{{ notification.targetEntity.name || notification.targetEntityName }}:</span>
                <span class="subject">{{ ::notification.subject }}</span>
                <span class="total">{{ ::vm.formatSummaryTotal(notification.summaryTotal) }}</span>
            </span>
        </div>
        <div class="column owner">
            <span class="email">{{ ::notification.ownerEmail }}</span>
        </div>
        <div class="column date-sent" ng-if="::vm.showDateSent">
            <div class="time">{{ ::notification.dateSent | date:'shortTime' }}</div>
            <div class="date">{{ ::notification.dateSent | date:'shortDate' }}</div>
        </div>
        <div class="column preview">
            <a busy-click="vm.editDraft(notification)" ng-if="vm.showEdit && notification.ownerEmail === vm.userEmail">Edit</a>
            <a busy-click="vm.previewNotification(notification)" ng-if="vm.showView">View</a>
            <span ng-show="notification.pdfLink">|</span>
            <a busy-click="vm.previewPdf(notification)" ng-show="notification.pdfLink">PDF</a>
            <span ng-show="notification.csvLink">|</span>
            <a busy-click="vm.previewCsv(notification)" ng-show="notification.csvLink">CSV</a>
        </div>
        <div class="column remove" ng-if="::vm.showRemove">
            <button type="button" class="carli-button subdued-remove-button" busy-click="vm.removeDraft(notification)" ng-if="notification.ownerEmail === vm.userEmail">
                Remove <span class="sr-only">draft for {{ ::notification.subject }}</span>
            </button>
            <button type="button" class="carli-button" disabled ng-if="notification.ownerEmail != vm.userEmail"
                    title="You cannot remove this notification because you do not own it">
                Remove <span class="sr-only">You cannot remove this notification because it is owned by {{ notification.ownerEmail }}</span>
            </button>
        </div>
        <div class="column send" >
            <button type="button" class="carli-button" busy-click="vm.sendNotification(notification)" ng-if="notification.ownerEmail === vm.userEmail">
                {{ ::vm.sendLabel }} <span class="sr-only">{{ ::vm.sendLabel }} notification {{ ::notification.subject }}</span>
            </button>
            <button type="button" class="carli-button" disabled ng-if="notification.ownerEmail != vm.userEmail"
                    title="You cannot send this notification because you do not own it">
                {{ ::vm.sendLabel }} <span class="sr-only">You cannot {{ ::vm.sendLabel }} this notification because it is owned by {{ notification.ownerEmail }}</span>
            </button>
        </div>
    </li>
</ul>

<div class="footer" ng-if="vm.showSendAll && filteredResults.length">
    <button type="button" id="sendAll" class="carli-button primary-button" busy-click="vm.sendAllDrafts()" ng-disabled="vm.userHasNoDrafts()">Send all drafts <fa name="paper-plane"></fa></button>
    <button type="button" id="removeAll" class="carli-button primary-button" busy-click="vm.deleteAllDrafts()" ng-show="false">Delete all drafts <fa name="trash-o"></fa></button>
</div>