
.library-fees-lists.zebra-table {
  & > li {
    background-color: white;
  }
  & > li.zebra-table-header {
    background-color: #f8f8f8;
    font-family: 'Merriweather', serif;
  }
  dt {
    font-weight: bold;
  }
  dd {
    font-weight: normal;
    margin-left: 2em;
  }
}
