<section class="content" id="management" cg-busy="vm.loadingPromise">
    <h1>Management</h1>

    <section class="list-content">
        <h2>Membership {{ vm.currentFiscalYear }}</h2>
        <ul class="library-fees-list zebra-table">
            <li class="column-headers">
                <div class="column"></div>
                <div class="column">Fees</div>
            </li>
            <li>
                <div class="column">
                    <dl>
                        <dt>Membership Level</dt>
                        <dd>{{ vm.library.membershipLevel }}</dd>
                    </dl>
                </div>
                <div class="column">{{ vm.membershipFees.membership | currency }}</div>
            </li>
            <li class="">
                <div class="column">
                    <dl>
                        <dt>Is I-Share Member?</dt>
                        <dd>
                            <span ng-if="vm.library.isIshareMember">Yes</span>
                            <span ng-if="!vm.library.isIshareMember">No</span>
                        </dd>
                    </dl>
                </div>
                <div class="column">
                    <span ng-if="vm.library.isIshareMember">{{ vm.membershipFees.ishare | currency }}</span>
                    <span ng-if="!vm.library.isIshareMember">-</span>
                </div>
            </li>
        </ul>
    </section>

    <p><a ask-carli="Library: Management: Membership Level">Contact CARLI</a> if you would like to make changes to your institution's membership</p>


    <h2>Administrative Users</h2>

    <p>CARLI Staff manage these users. <a ask-carli="Library: Management: Manage Users">Contact CARLI</a> if you need to make a change.</p>

    <section class="list-content">
        <ul class="zebra-table" cg-busy="vm.userLoadingPromise">
            <li class="column-headers">
                <div class="column" ng-repeat="column in vm.userListColumns">{{ column.label }}</div>
            </li>
            <li ng-repeat="entity in vm.userList">
                <div class="column" ng-repeat="column in vm.userListColumns" ng-bind-html="column.contentFunction(entity)"></div>
            </li>
        </ul>
    </section>

    <h2>Invite Colleagues to the Selection System</h2>

    <p>Inviting a colleague to the selection system will only allow them to view the system.
        They will be unable to make selections. <a ask-carli="Library: Management: Manage Users">Contact CARLI</a>
        if you would like to add additional colleagues with selection privileges to the system.</p>

    <section class="list-content" ng-show="vm.readOnlyUserList.length > 0">
        <ul class="zebra-table" cg-busy="vm.readOnlyUserLoadingPromise">
            <li class="column-headers">
                <div class="column" ng-repeat="column in vm.readOnlyUserListColumns">{{ column.label }}</div>
            </li>
            <li ng-repeat="entity in vm.readOnlyUserList">
                <div class="column" ng-repeat="column in vm.readOnlyUserListColumns" ng-bind-html="column.contentFunction(entity)"></div>
            </li>
        </ul>
    </section>


    <div class="button-container">
        <button type="button" id="new-user" class="carli-button" data-toggle="modal" data-target="#new-user-modal">Invite a Colleague <i class="fa fa-plus-circle"></i></button>
    </div>

    <!--<edit-user-modal after-submit-fn="vm.afterUserSubmit"></edit-user-modal>-->
</section>
