<section class="content" id="management" cg-busy="vm.loadingPromise">
    <h1>Management</h1>

    <ul class="library-fees-list zebra-table">
        <li class="zebra-table-header">
            <div class="column">Membership {{ vm.currentFiscalYear }}</div>
            <div class="column">Fees</div>
        </li>
        <li class="">
            <div class="column">
                <dl>
                    <dt>Membership Level</dt>
                    <dd>{{ vm.library.membershipLevel }}</dd>
                </dl>
            </div>
            <div class="column">{{ vm.membershipFees.membership | currency }}</div>
        </li>
        <li class="">
            <div class="column">
                <dl>
                    <dt>Is I-Share Member?</dt>
                    <dd>
                        <span ng-if="vm.library.isIshareMember">Yes</span>
                        <span ng-if="!vm.library.isIshareMember">No</span>
                    </dd>
                </dl>
            </div>
            <div class="column">
                <span ng-if="vm.library.isIshareMember">{{ vm.membershipFees.ishare | currency }}</span>
                <span ng-if="!vm.library.isIshareMember">-</span>
            </div>
        </li>
    </ul>

    <p><a ask-carli="Library: Management: Membership Level">Contact CARLI</a> if you would like to make changes to your institution's membership</p>


    <h2>Administrative Users</h2>

    <p>CARLI Staff manage these users. <a ask-carli="Library: Management: Manage Users">Contact CARLI</a> if you need to make a change.</p>

    {{ vm.userList | json }}
    <section class="content list-content">
        <entity-list values="vm.userList" columns="vm.userListColumns" entity-label="users" loading-promise="vm.userLoadingPromise"></entity-list>
    </section>


    <h2>Invite Colleagues to the Selection System</h2>

    <p>Inviting a colleague to the selection system will only allow them to view the system.
        They will be unable to make selections. <a ask-carli="Library: Management: Manage Users">Contact CARLI</a>
        if you would like to add additional colleagues with selection privileges to the system.</p>

    {{ vm.readOnlyUserList | json }}
    <section class="content list-content">
        <entity-list values="vm.readOnlyUserList" columns="vm.userListColumns" entity-label="users" loading-promise="vm.readOnlyUserLoadingPromise"></entity-list>
    </section>

    <div class="button-container">
        <button type="button" id="new-user" class="carli-button" data-toggle="modal" data-target="#new-user-modal">Invite a Colleague <i class="fa fa-plus-circle"></i></button>
    </div>

    <!--<edit-user-modal after-submit-fn="vm.afterUserSubmit"></edit-user-modal>-->
</section>
