# Ignore everything...
*
# ...except the stuff specifically needed to build
!/bin
!/CARLI
!/config
!/db
!/docker
!/grunt
!/middleware
!/schemas

# Standard .dockerignore

*.swp
*~
.env
vendor
node_modules
