# Ignore everything...
*

# ...except the folders specifically needed to build
!/bin
!/browserClient
!/ca-certs
!/CARLI
!/config
!/db
!/docker
!/grunt
!/middleware
!/schemas

# ...and a handful of files from the root directory
!/package.json
!/install-dependencies.sh
!/Gruntfile.js

# Then standard .dockerignore stuff

*.swp
*~
.env
vendor
node_modules
bower_modules
