/resources

.env

# Ignore Schema Browser build products
/schemas/browser/*.json
!/schemas/browser/package.json
!/schemas/browser/bower.json
/schemas/browser/index.json.html

# Ignore browserClient's karma config.
/browserClient/karma.conf.js

# Ignore CARLI local config, which can be used to override the default configuration that is in the repository.
# Grunt chooses the implementation of some modules, including `request` as appropriate
# for the environment (node vs browser).
# Run `grunt jsenv:node` or `grunt jsenv:browser` to manually
# set the desired environment. Ignore that file too since it is generated.
/config/environmentDependentModules/*.js

#Vagrant
/.vagrant

#Chef
Berksfile.lock

#Couch
couchdb.stderr
couchdb.stdout
erl_crash.dump

#Node
npm-debug.log
node_modules/

#Migrations
migrations/data/

#Bower
bower_modules
bower_components

#Builds
/artifacts
build
compile
.sass-cache

# Windows junk
Thumbs.db
$RECYCLE.BIN/
Desktop.ini
    
# OSX junk
.DS_Store
._* 
.Spotlight-V100
.Trashes

# Editor junk
*.swp
*.swo
*~
*.bat
.idea
*.tmproj

