/resources

# Ignore Schema Browser build products
/schemas/browser/*.json
!/schemas/browser/package.json
!/schemas/browser/bower.json
/schemas/browser/index.json.html

# Ignore browserClient's karma config.
# Run `grunt generate-karmaconf` to generate it.
/browserClient/karma.conf.js

# Grunt chooses the implementation of `request` as appropriate
# for the environment (node vs browser).
# Run `grunt jsenv:node` or `grunt jsenv:browser` to manually
# set the desired environment.
/CARLI/carliRequest.js

#Node
npm-debug.log
node_modules/

#Migrations
migrations/data/

#Bower
bower_modules
bower_components

#Builds
artifacts
build
dist
.sass-cache

# Windows junk
Thumbs.db
$RECYCLE.BIN/
Desktop.ini
    
# OSX junk
.DS_Store
._* 
.Spotlight-V100
.Trashes

# Editor junk
*.swp
*.swo
*~
*.bat
.idea
