#bulk-funding,
#funding-list,
#price-cap-list,
#one-time-purchase-pricing {
    @extend .zebra-table;
    align-items: center;
    margin-top: 1rem;

    .column,
    .column:first-child {
        padding: 0.5rem;
    }

    .column.year,
    .column.library {
        flex: 1 1 75%;
    }

    .column.price,
    .column.access-fee {
        flex: 1 0 150px;
        padding: 7px;

        input {
            background: transparent;
        }

        .price-display {
            padding: 0.5rem;
        }
    }

    .column.hide-from-library {
        flex: 1 0 50px;
        text-align: center;
    }

    .column.purchased {
        flex: 0 0 90px;
        padding: 4px;
        text-align: center;
    }

    span.purchased {
        @include font-size(22);
        .fa {
            vertical-align: baseline;
        }
    }

    .column.funding-mode {
        flex:  0 0 110px;
        .btn {
            width: 40px;
        }
    }
    .column.funded-amount {
        flex:  0 0 150px;
        view-edit-percentage-field {
            margin-bottom: 0;
        }
    }

    .column.apply-bulk-funding {
        flex: 1 0 200px;
    }

    label {
        margin: 0;
    }
}

.add-price-cap {
    border: 0;
    height: auto;
    padding: 0;
    margin-top: 1rem;
    text-align: center;
}

.view-edit-select input:disabled {
    color: #666;
}

#products {
  checkbox {
    line-height: 20px;
  }

    view-edit-percentage-field {
        display: block;
        margin-bottom: 1rem;
    }

    .edit-link-container {
        margin-bottom: 1rem;

        a {
            color: $orange;

            .fa {
                font-size: 1.2rem;
                margin-left: 0.5rem;
                vertical-align: middle;
            }
        }
    }
}

#funding-modal {
    p {
        padding: 15px 40px;
    }
}
#bulk-funding {
    width: 200%; // I don't know why
    .column.library {
        flex: 0 0 300px;
    }
}
