#price-cap-list,
#one-time-purchase-pricing {
    @extend .zebra-table;
    align-items: center;
    margin-top: 1rem;

    .column,
    .column:first-child {
        padding: 0.5rem;
    }

    .column.year,
    .column.library {
        flex: 1 1 75%;
    }

    .column.price {
        flex: 1 0 150px;
        padding: 7px;

        input {
            background: transparent;
            border: 0 none;
        }

        .price-display {
            padding: 0.5rem;
        }
    }

    .column.purchased {
        flex: 0 0 90px;
        padding: 4px;
    }

    label {
        margin: 0;
    }
}

.add-price-cap {
    border: 0;
    height: auto;
    padding: 0;
    margin-top: 1rem;
    text-align: center;
}

.view-edit-select input:disabled {
    color: #666;
}

#products {
  checkbox {
    line-height: 20px;
  }

    view-edit-percentage-field {
        display: block;
        margin-bottom: 1rem;
    }

    .edit-link-container {
        margin-bottom: 1rem;

        a {
            color: $orange;

            .fa {
                font-size: 1.2rem;
                margin-left: 0.5rem;
                vertical-align: middle;
            }
        }
    }
}
