    <form class="edit-form" ng-class="vm.editable ? 'editMode' : 'viewMode'" name="productForm" warn-if-unsaved>

    <div class="page-header">
        <div class="headings">
            <label for="name">Product Name</label>
            <view-edit-text-field ng-model="vm.product.name" edit-mode="vm.editable" input-id="name">
                <h1>{{ vm.product.name }} <span ng-if="vm.product.showPreviousName">(formerly {{ vm.product.previousName }})</span></h1>
            </view-edit-text-field>
            <view-edit-checkbox
                    ng-show="vm.shouldShowPreviousNameOption"
                    label="Display most recent previous name in addition to new name"
                    ng-model="vm.product.showPreviousName"
                    edit-mode="vm.editable"
                    input-id="showPreviousName"></view-edit-checkbox>
        </div>
        <div ng-show="!vm.newProduct" class="controls">
            <div ng-show="vm.editable">
                <button type="button" class="carli-button cancel-button" ng-click="vm.cancelEdit()">Cancel</button>
                <input class="carli-button save-button" ng-disabled="!vm.editable" type="button" value="{{ vm.submitLabel() }}" ng-click="vm.submitAction()" >
            </div>

            <button type="button" id="product-edit" class="carli-button" ng-hide="vm.editable" ng-click="vm.toggleEditable()">
                Edit<fa name="edit"></fa>
            </button>
        </div>
    </div>

    <section class="content">
        <fieldset>
            <div class="column">
                <label for="vendor">Vendor</label>
                <view-edit-typeahead ng-model="vm.product.vendor" options="vm.vendorList" edit-mode="vm.newProduct" input-id="vendor">
                    {{ vm.product.vendor.name }}
                </view-edit-typeahead>

                <label for="productUrl">Product URL <aside role="note">(Vendor can provide)</aside></label>
                <view-edit-text-field ng-model="vm.product.productUrl" edit-mode="vm.editable" input-id="productUrl">
                    {{ vm.product.productUrl }}
                </view-edit-text-field>

                <label for="description">Product Description <aside role="note">(Vendor can provide)</aside></label>
                <view-edit-text-area ng-model="vm.product.description" edit-mode="vm.editable" input-id="description">
                    {{ vm.product.description }}
                </view-edit-text-area>

                <label for="comments">Product Price Comments for Libraries</label>
                <view-edit-text-area ng-model="vm.product.comments" edit-mode="vm.editable" input-id="comments">
                    {{ vm.product.comments }}
                </view-edit-text-area>

                <div class="column">
                    <view-edit-checkbox label="3rd Party Product" ng-model="vm.product.isThirdPartyProduct" edit-mode="vm.editable" input-id="isThirdPartyProduct">
                        <div ng-show="vm.product.isThirdPartyProduct" class="label">Third Party Product</div>
                    </view-edit-checkbox>

                    <view-edit-checkbox label="Sole Source" ng-model="vm.product.soleSource" edit-mode="vm.editable" input-id="soleSource">
                        <div ng-show="vm.product.soleSource" class="label">Sole Source</div>
                    </view-edit-checkbox>

                    <view-edit-checkbox label="Sealed Bid" ng-model="vm.product.sealedBid" edit-mode="vm.editable" input-id="sealedBid">
                        <div ng-show="vm.product.sealedBid" class="label">Sealed Bid</div>
                    </view-edit-checkbox>

                    <view-edit-checkbox label="Consolidated List" ng-model="vm.product.consolidatedList" edit-mode="vm.editable" input-id="consolidatedList">
                        <div ng-show="vm.product.consolidatedList" class="label">Consolidated List</div>
                    </view-edit-checkbox>

                    <view-edit-checkbox label="Archive Capital Fee" ng-model="vm.product.hasArchiveCapitalFee" edit-mode="vm.editable" input-id="hasArchiveCapitalFee">
                        <div ng-show="vm.product.hasArchiveCapitalFee" class="label">Archive Capital Fee</div>
                    </view-edit-checkbox>

                    <div ng-show="vm.editable" class="placeholder" style="white-space: nowrap">
                        TODO: Archive Capital Fee Amount
                    </div>


                    <div ng-show="vm.editable" class="placeholder" style="white-space: nowrap">
                        TODO:<br>
                        <div class="carli-button">Bulk Assign</div>
                        <div class="carli-button">Bulk Remove</div>
                    </div>
                </div>

                <div class="column">
                    <div class="label">Product Status</div>
                    <view-edit-radios radio-group-name="isActive" radio-group-legend="Product Status" items="vm.statusOptions" ng-model="vm.product.isActive" edit-mode="vm.editable" input-id="isActive">
                        {{ vm.product.isActive ? 'Active Product' : 'Inactive Product' }}
                    </view-edit-radios>
                </div>
            </div>

            <div class="column">

                <div class="clearfix double-gap-bottom">
                    <div class="column">

                        <label for="priceCap">Price Cap</label>
                        <view-edit-percentage-field ng-model="vm.product.priceCap" edit-mode="vm.editable" input-id="priceCap">
                            {{ vm.product.priceCap }}%
                        </view-edit-percentage-field>

                        <div class="placeholder">
                            TODO: Manage Price Cap Popup
                        </div>

                        <label for="cycle">Cycle</label>
                        <view-edit-select-object ng-model="vm.product.cycle" objects="vm.activeCycles" label-property="name" track-by="id" edit-mode="vm.newProduct" input-id="cycle">
                            {{ vm.product.cycle.name }}
                        </view-edit-select-object>
                        <a data-toggle="modal" data-target="#otp-modal" ng-show="vm.shouldShowOtpEditLink()">Edit One-Time Purchases <fa name="edit"></fa></a>

                    </div>

                    <div class="column">
                        <label for="license">License Agreement</label>
                        <div ng-show="vm.noLicensesMessage">
                            <div ng-show="vm.editable" class="readonly input">{{ vm.noLicensesMessage }}</div>
                        </div>
                        <view-edit-typeahead ng-show="!vm.noLicensesMessage" ng-model="vm.product.license" options="vm.licenseList" edit-mode="vm.editable" input-id="license">
                            <a ng-href="/license/{{ vm.product.license.id }}">{{ vm.product.license.name }}</a>
                        </view-edit-typeahead>

                        <label for="detailCode">Detail Codes</label>
                        <view-edit-select ng-model="vm.product.detailCode" items="vm.productDetailCodeOptions" edit-mode="vm.editable" input-id="detailCode">
                            {{ vm.product.detailCode }}
                        </view-edit-select>
                    </div>
                </div>

                <div class="placeholder">
                    TODO: Funded for Governing: X%
                </div>

                <div class="placeholder" ng-show="vm.product.cycle.cycleType !== 'One-Time Purchase'">
                    TODO: Table of Subscriber History
                </div>

                <div>
                    <div class="column">
                        <h2>Specific Terms</h2>
                        <div><a data-toggle="modal" data-target="#terms-modal" ng-show="vm.shouldShowTermsEditLink()">Override License-Level Terms<fa name="edit"></fa></a></div>
                        <ul class="terms-list">
                            <li>
                                <label for="downloadTermsDisplay">Download:</label>
                                <view-edit-yes-no-other ng-model="vm.product.terms.downloadTerms" edit-mode="false" input-id="downloadTermsDisplay">
                                    {{ vm.product.terms.downloadTerms || vm.product.license.terms.downloadTerms }}
                                </view-edit-yes-no-other>
                            </li>

                            <li>
                                <label for="interLibraryLoanTermsDisplay">ILL:</label>
                                <view-edit-yes-no-other ng-model="vm.product.terms.interLibraryLoanTerms" edit-mode="false" input-id="interLibraryLoanTermsDisplay">
                                    {{ vm.product.terms.interLibraryLoanTerms || vm.product.license.terms.interLibraryLoanTerms }}
                                </view-edit-yes-no-other>

                            </li>

                            <li>
                                <label for="coursePacksTermsDisplay">Course Packs:</label>
                                <view-edit-yes-no-other ng-model="vm.product.terms.coursePacksTerms" edit-mode="false" input-id="coursePacksTermsDisplay">
                                    {{ vm.product.terms.coursePacksTerms || vm.product.license.terms.coursePacksTerms }}
                                </view-edit-yes-no-other>

                            </li>

                            <li>
                                <label for="printTermsDisplay">Print:</label>
                                <view-edit-yes-no-other ng-model="vm.product.terms.printTerms" edit-mode="false" input-id="printTermsDisplay">
                                    {{ vm.product.terms.printTerms || vm.product.license.terms.printTerms}}
                                </view-edit-yes-no-other>

                            </li>

                            <li>
                                <label for="limitedScholarlySharingTermsDisplay">Limited Sharing for Scholarly Purposes:</label>
                                <view-edit-yes-no-other ng-model="vm.product.terms.limitedScholarlySharingTerms" edit-mode="false" input-id="limitedScholarlySharingTermsDisplay">
                                    {{ vm.product.terms.limitedScholarlySharingTerms || vm.product.license.terms.limitedScholarlySharingTerms}}
                                </view-edit-yes-no-other>

                            </li>

                            <li>
                                <label for="walkinTermsDisplay">Use by Walk-ins:</label>
                                <view-edit-yes-no-other ng-model="vm.product.terms.walkinTerms" edit-mode="false" input-id="walkinTermsDisplay">
                                    {{ vm.product.terms.walkinTerms || vm.product.license.terms.walkinTerms}}
                                </view-edit-yes-no-other>

                            </li>

                            <li>
                                <label for="eReservesTermsDisplay">E-Reserves:</label>
                                <view-edit-yes-no-other ng-model="vm.product.terms.eReservesTerms" edit-mode="false" input-id="eReservesTermsDisplay">
                                    {{ vm.product.terms.eReservesTerms || vm.product.license.terms.eReservesTerms}}
                                </view-edit-yes-no-other>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </fieldset>
    </section>

    <div class="footer" ng-show="vm.editable">
        <fieldset>
            <button type="button" class="carli-button cancel-button" data-dismiss="modal" ng-click="vm.cancelEdit()">Cancel</button>
            <input type="button" id="product-submit" class="carli-button save-button" value="{{ vm.submitLabel() }}" ng-click="vm.submitAction()">
        </fieldset>
    </div>

</form>

    <modal-dialog modal-id="'otp-modal'" modal-title="'One-Time Purchase'">
        <ng-include src="'carliApp/components/entityForms/product/editOneTimePurchase.html'"></ng-include>
    </modal-dialog>

    <modal-dialog modal-id="'terms-modal'" modal-title="'Override License-Level Terms'">
        <ng-include src="'carliApp/components/entityForms/product/editTerms.html'"></ng-include>
    </modal-dialog>
