<form class="edit-form" ng-class="vm.editable ? 'editMode' : 'viewMode'" name="oneTimePurchasePricingForm" warn-if-unsaved>

    <div class="page-header">
        <h1 ng-show="vm.newProduct">{{ vm.product.name }}</h1>
    </div>

    <section class="content">
        <div class="one-time-purchase-settings">
            <label for="annualAccessFee">Annual Access Fee</label>
            <view-edit-price ng-model="vm.product.oneTimePurchaseAnnualAccessFee" edit-mode="vm.editable" input-id="annualAccessFee">
                {{ vm.product.oneTimePurchaseAnnualAccessFee | currency }}
            </view-edit-price>

            <label for="availableForPurchaseThrough">Available for Purchase Through</label>
            <view-edit-date ng-model="vm.product.oneTimePurchaseAvailableForPurchaseThrough" edit-mode="vm.editable" input-id="availableForPurchaseThrough">
                {{ vm.product.oneTimePurchaseAvailableForPurchaseThrough }}
            </view-edit-date>

            <ul id="one-time-purchase-pricing">
                <li class="column-headers">
                    <header class="column library">Library</header>
                    <header class="column price">Price</header>
                    <header class="column purchased">Purchased</header>
                </li>
                <li ng-repeat="offering in vm.productOfferings | orderBy:'library.name'">
                    <span class="column library">
                        <label for="oneTimePurchase_{{ offering.library.name }}">{{ offering.library.name }}</label>
                    </span>
                    <span class="column price">
                        <view-edit-price ng-model="offering.pricing.site" edit-mode="vm.editable && !offering.selection" input-id="oneTimePurchase_{{ offering.library.name }}">
                            <span class="price-display">{{ offering.pricing.site | currency }}</span>
                        </view-edit-price>
                    </span>
                    <span class="column purchased">
                        <i class="fa fa-check-circle" ng-show="offering.selection"></i>
                    </span>
                </li>
            </ul>
        </div>
    </section>
    <div class="footer" ng-show="vm.editable">
        <fieldset ng-show="vm.newProduct">
            <button type="button" class="carli-button cancel-button" data-dismiss="modal" ng-click="vm.cancelEdit()">
                Cancel
            </button>
            <input type="button" id="vendor-submit" class="carli-button save-button" value="{{ vm.submitLabel() }}" busy-click="vm.submitAction()">
        </fieldset>
        <fieldset ng-show="!vm.newProduct">
            <button type="button" class="carli-button cancel-button" data-dismiss="modal" busy-click="vm.cancelOtpEdit()">
                Cancel
            </button>
            <button type="button" class="carli-button save-button" data-dismiss="modal" busy-click="vm.rememberOtpFields()">
                Ok
            </button>
        </fieldset>
    </div>
</form>
