<form class="edit-form" ng-class="vm.editable ? 'editMode' : 'viewMode'" name="productLicenseTermsOverrideForm">

    <div class="page-header">
        Note: Editing the license agreement terms here will only effect this product. This product's license agreement terms will need to be updated individually once the changes are saved.
    </div>

    <section class="content">
        <fieldset>

            <ul class="terms-list">
                <li>
                    <label for="downloadTermsModal">Download:</label>
                    <view-edit-yes-no-other ng-model="vm.product.terms.downloadTerms" edit-mode="true" input-id="downloadTermsModal">
                        {{ vm.product.terms.downloadTerms || vm.product.license.terms.downloadTerms }}
                    </view-edit-yes-no-other>
                </li>

                <li>
                    <label for="interLibraryLoanTermsModal">ILL:</label>
                    <view-edit-yes-no-other ng-model="vm.product.terms.interLibraryLoanTerms" edit-mode="true" input-id="interLibraryLoanTermsModal">
                        {{ vm.product.terms.interLibraryLoanTerms || vm.product.license.terms.interLibraryLoanTerms }}
                    </view-edit-yes-no-other>

                </li>

                <li>
                    <label for="coursePacksTermsModal">Course Packs:</label>
                    <view-edit-yes-no-other ng-model="vm.product.terms.coursePacksTerms" edit-mode="true" input-id="coursePacksTermsModal">
                        {{ vm.product.terms.coursePacksTerms || vm.product.license.terms.coursePacksTerms }}
                    </view-edit-yes-no-other>

                </li>

                <li>
                    <label for="printTermsModal">Print:</label>
                    <view-edit-yes-no-other ng-model="vm.product.terms.printTerms" edit-mode="true" input-id="printTermsModal">
                        {{ vm.product.terms.printTerms || vm.product.license.terms.printTerms}}
                    </view-edit-yes-no-other>

                </li>

                <li>
                    <label for="limitedScholarlySharingTermsModal">Limited Sharing for Scholarly Purposes:</label>
                    <view-edit-yes-no-other ng-model="vm.product.terms.limitedScholarlySharingTerms" edit-mode="true" input-id="limitedScholarlySharingTermsModal">
                        {{ vm.product.terms.limitedScholarlySharingTerms || vm.product.license.terms.limitedScholarlySharingTerms}}
                    </view-edit-yes-no-other>

                </li>

                <li>
                    <label for="walkinTermsModal">Use by Walk-ins:</label>
                    <view-edit-yes-no-other ng-model="vm.product.terms.walkinTerms" edit-mode="true" input-id="walkinTermsModal">
                        {{ vm.product.terms.walkinTerms || vm.product.license.terms.walkinTerms}}
                    </view-edit-yes-no-other>

                </li>

                <li>
                    <label for="eReservesTermsModal">E-Reserves:</label>
                    <view-edit-yes-no-other ng-model="vm.product.terms.eReservesTerms" edit-mode="true" input-id="eReservesTermsModal">
                        {{ vm.product.terms.eReservesTerms || vm.product.license.terms.eReservesTerms}}
                    </view-edit-yes-no-other>
                </li>
            </ul>

        </fieldset>
    </section>
    <div class="footer" ng-show="vm.editable">
        <fieldset ng-show="vm.newProduct">
            <button type="button" class="carli-button cancel-button" data-dismiss="modal" ng-click="vm.cancelEdit()">
                Cancel
            </button>
            <input type="button" id="vendor-submit" class="carli-button save-button" value="{{ vm.submitLabel() }}" ng-click="vm.submitAction()">
        </fieldset>
        <fieldset ng-show="!vm.newProduct">
            <button type="button" class="carli-button cancel-button" data-dismiss="modal" ng-click="vm.cancelTermsEdit()">
                Cancel
            </button>
            <button type="button" class="carli-button save-button" data-dismiss="modal" ng-click="vm.rememberTermFields()">
                Ok
            </button>
        </fieldset>
    </div>

</form>

<hr>
<debug-panel>{{ vm.product | json }}</debug-panel>
