<form class="edit-form" ng-class="vm.editable ? 'editMode' : 'viewMode'" name="productLicenseTermsOverrideForm">

    <header class="page-header">
        <h1 ng-show="vm.newProduct">{{ vm.product.name }}</h1>
    </header>

    <section class="content">
        <fieldset>

            <ul class="terms-list">
                <li>
                    <label>Download:</label>
                    <view-edit-yes-no-other ng-model="vm.product.terms.downloadTerms" edit-mode="true">
                        {{ vm.product.terms.downloadTerms }}
                    </view-edit-yes-no-other>
                </li>

                <li>
                    <label>ILL:</label>
                    <view-edit-yes-no-other ng-model="vm.product.terms.interLibraryLoanTerms" edit-mode="true">
                        {{ vm.product.terms.interLibraryLoanTerms }}
                    </view-edit-yes-no-other>

                </li>

                <li>
                    <label>Course Packs:</label>
                    <view-edit-yes-no-other ng-model="vm.product.terms.coursePacksTerms" edit-mode="true">
                        {{ vm.product.terms.coursePacksTerms }}
                    </view-edit-yes-no-other>

                </li>

                <li>
                    <label>Print:</label>
                    <view-edit-yes-no-other ng-model="vm.product.terms.printTerms" edit-mode="true">
                        {{ vm.product.terms.printTerms }}
                    </view-edit-yes-no-other>

                </li>

                <li>
                    <label>Limited Sharing for Scholarly Purposes:</label>
                    <view-edit-yes-no-other ng-model="vm.product.terms.limitedScholarlySharingTerms" edit-mode="true">
                        {{ vm.product.terms.limitedScholarlySharingTerms }}
                    </view-edit-yes-no-other>

                </li>

                <li>
                    <label>Use by Walk-ins:</label>
                    <view-edit-yes-no-other ng-model="vm.product.terms.walkinTerms" edit-mode="true">
                        {{ vm.product.terms.walkinTerms }}
                    </view-edit-yes-no-other>

                </li>

                <li>
                    <label>E-Reserves:</label>
                    <view-edit-yes-no-other ng-model="vm.product.terms.eReservesTerms" edit-mode="true">
                        {{ vm.product.terms.eReservesTerms }}
                    </view-edit-yes-no-other>
                </li>
            </ul>

        </fieldset>
    </section>
    <footer ng-show="vm.editable">
        <fieldset ng-show="vm.newProduct">
            <button type="button" class="carli-button cancel-button" data-dismiss="modal" ng-click="vm.cancelEdit()">
                Cancel
            </button>
            <input type="button" id="vendor-submit" class="carli-button save-button" value="{{ vm.submitLabel() }}" ng-click="vm.submitAction()">
        </fieldset>
        <fieldset ng-show="!vm.newProduct">
            <button type="button" class="carli-button cancel-button" data-dismiss="modal" ng-click="vm.cancelTermsEdit()">
                Cancel
            </button>
            <button type="button" class="carli-button save-button" data-dismiss="modal" ng-click="vm.rememberTermFields()">
                Ok
            </button>
        </fieldset>
    </footer>

</form>

<hr>
<debug-panel>{{ vm.product | json }}</debug-panel>
