<form class="edit-form" ng-class="vm.editable ? 'editMode' : 'viewMode'" name="productLicenseTermsOverrideForm">

    <div class="page-header">
        Note: Editing the license agreement terms here will only affect this product. This product's license agreement terms will need to be updated individually once the changes are saved.
    </div>

    <section class="content">
        <fieldset>
            <ul class="terms-list">
                <li class="column-headers">
                    <header class="column term">Term</header>
                    <header class="column product">Product</header>
                    <header class="column license">License</header>
                </li>
                <li>
                    <span class="column term">
                        <label for="downloadTermsModal">Download:</label>
                    </span>
                    <span class="column product">
                        <view-edit-yes-no-other ng-model="vm.product.terms.downloadTerms" edit-mode="true" input-id="downloadTermsModal"></view-edit-yes-no-other>
                    </span>
                    <span class="column license">
                        <div class="license-term">{{ vm.product.license.terms.downloadTerms }}</div>
                    </span>
                </li>

                <li>
                    <span class="column term">
                        <label for="interLibraryLoanTermsModal">ILL:</label>
                    </span>
                    <span class="column product">
                        <view-edit-yes-no-other ng-model="vm.product.terms.interLibraryLoanTerms" edit-mode="true" input-id="interLibraryLoanTermsModal"></view-edit-yes-no-other>
                    </span>
                    <span class="column license">
                        <div class="license-term">{{ vm.product.license.terms.interLibraryLoanTerms }}</div>
                    </span>
                </li>

                <li>
                    <span class="column term">
                        <label for="coursePacksTermsModal">Course Packs:</label>
                    </span>
                    <span class="column product">
                        <view-edit-yes-no-other ng-model="vm.product.terms.coursePacksTerms" edit-mode="true" input-id="coursePacksTermsModal"></view-edit-yes-no-other>
                    </span>
                    <span class="column license">
                        <div class="license-term">{{ vm.product.license.terms.coursePacksTerms }}</div>
                    </span>
                </li>

                <li>
                    <span class="column term">
                        <label for="printTermsModal">Print:</label>
                    </span>
                    <span class="column product">
                        <view-edit-yes-no-other ng-model="vm.product.terms.printTerms" edit-mode="true" input-id="printTermsModal"></view-edit-yes-no-other>
                    </span>
                    <span class="column license">
                        <div class="license-term">{{ vm.product.license.terms.printTerms}}</div>
                    </span>
                </li>

                <li>
                    <span class="column term">
                        <label for="limitedScholarlySharingTermsModal">Limited Sharing for Scholarly Purposes:</label>
                    </span>
                    <span class="column product">
                        <view-edit-yes-no-other ng-model="vm.product.terms.limitedScholarlySharingTerms" edit-mode="true" input-id="limitedScholarlySharingTermsModal"></view-edit-yes-no-other>
                    </span>
                    <span class="column license">
                        <div class="license-term">{{ vm.product.license.terms.limitedScholarlySharingTerms}}</div>
                    </span>
                </li>

                <li>
                    <span class="column term">
                        <label for="eReservesTermsModal">E-Reserves:</label>
                    </span>
                    <span class="column product">
                        <view-edit-yes-no-other ng-model="vm.product.terms.eReservesTerms" edit-mode="true" input-id="eReservesTermsModal"></view-edit-yes-no-other>
                    </span>
                    <span class="column license">
                        <div class="license-term">{{ vm.product.license.terms.eReservesTerms}}</div>
                    </span>
                </li>

                <li>
                    <span class="column term">
                        <label for="confidentialityAgreementModal">Confidentiality of Agreement:</label>
                    </span>
                    <span class="column product">
                        <view-edit-yes-no-other ng-model="vm.product.terms.confidentialityAgreement" edit-mode="true" input-id="confidentialityAgreementModal"></view-edit-yes-no-other>
                    </span>
                    <span class="column license">
                        <div class="license-term">{{ vm.product.license.terms.confidentialityAgreement}}</div>
                    </span>
                </li>

                <li>
                    <span class="column term">
                        <label for="confidentialityUserInfoModal">Confidentiality of User Information:</label>
                    </span>
                    <span class="column product">
                        <view-edit-yes-no-other ng-model="vm.product.terms.confidentialityUserInfo" edit-mode="true" input-id="confidentialityUserInfoModal"></view-edit-yes-no-other>
                    </span>
                    <span class="column license">
                        <div class="license-term">{{ vm.product.license.terms.confidentialityUserInfo}}</div>
                    </span>
                </li>

                <li>
                    <span class="column term">
                        <label for="dataMiningModal">Text & Data Mining:</label>
                    </span>
                    <span class="column product">
                        <view-edit-yes-no-other ng-model="vm.product.terms.dataMining" edit-mode="true" input-id="dataMiningModal"></view-edit-yes-no-other>
                    </span>
                    <span class="column license">
                        <div class="license-term">{{ vm.product.license.terms.dataMining}}</div>
                    </span>
                </li>

                <li>
                    <span class="column term">
                        <label for="accessibilityComplianceModal">Accessibility Compliance:</label>
                    </span>
                    <span class="column product">
                        <view-edit-yes-no-other ng-model="vm.product.terms.accessibilityCompliance" edit-mode="true" input-id="accessibilityComplianceModal"></view-edit-yes-no-other>
                    </span>
                    <span class="column license">
                        <div class="license-term">{{ vm.product.license.terms.accessibilityCompliance}}</div>
                    </span>
                </li>

                <li>
                    <span class="column term">
                        <label for="videoPerformanceModal">Video Performance Rights:</label>
                    </span>
                    <span class="column product">
                        <view-edit-yes-no-other ng-model="vm.product.terms.videoPerformance" edit-mode="true" input-id="videoPerformanceModal"></view-edit-yes-no-other>
                    </span>
                    <span class="column license">
                        <div class="license-term">{{ vm.product.license.terms.videoPerformance}}</div>
                    </span>
                </li>
            </ul>
        </fieldset>
    </section>
    <div class="footer" ng-show="vm.editable">
        <fieldset ng-show="vm.newProduct">
            <button type="button" class="carli-button cancel-button" data-dismiss="modal" ng-click="vm.cancelEdit()">
                Cancel
            </button>
            <input type="button" id="vendor-submit" class="carli-button save-button" value="{{ vm.submitLabel() }}" ng-click="vm.submitAction()">
        </fieldset>
        <fieldset ng-show="!vm.newProduct">
            <button type="button" class="carli-button cancel-button" data-dismiss="modal" ng-click="vm.cancelTermsEdit()">
                Cancel
            </button>
            <button type="button" class="carli-button save-button" data-dismiss="modal" ng-click="vm.rememberTermFields()">
                Ok
            </button>
        </fieldset>
    </div>

</form>
