    <form class="edit-form" ng-class="vm.editable ? 'editMode' : 'viewMode'" name="productForm" warn-if-unsaved>

    <header class="page-header">
        <h1 ng-show="vm.newProduct">New Product</h1>

        <fieldset>
            <div class="name">
                <label for="productName">Product Name</label>
                <view-edit-text-field ng-model="vm.product.name" edit-mode="vm.editable">
                    <h1>{{ vm.product.name }}</h1>
                </view-edit-text-field>
            </div>

            <div ng-show="!vm.newProduct" class="edit-buttons pull-right">
                <div ng-show="vm.editable">
                    <a class="carli-button cancel-button" ng-click="vm.cancelEdit()">Cancel</a>
                    <input class="carli-button save-button" ng-disabled="!vm.editable" type="button" value="{{ vm.submitLabel() }}" ng-click="vm.submitAction()" >
                </div>

                <div id="product-edit" class="carli-button" ng-hide="vm.editable" ng-click="vm.toggleEditable()">
                    Edit<i class="fa fa-edit"></i>
                </div>
            </div>
        </fieldset>
    </header>

    <section class="content">
        <fieldset>
            <div class="column">
                <label for="productVendor">Vendor</label>
                <view-edit-typeahead ng-show="vm.newProduct" ng-model="vm.product.vendor" options="vm.vendorList" edit-mode="vm.editable"></view-edit-typeahead>
                <div ng-show="!vm.newProduct">{{ vm.product.vendor.name }}</div>

                <label for="productUrl">Product URL <aside>(Vendor can provide)</aside></label>
                <view-edit-text-field ng-model="vm.product.productUrl" edit-mode="vm.editable">
                    {{ vm.product.productUrl }}
                </view-edit-text-field>

                <label for="productDescription">Product Description <aside>(Vendor can provide)</aside></label>
                <view-edit-text-area ng-model="vm.product.description" edit-mode="vm.editable">
                    {{ vm.product.description }}
                </view-edit-text-area>

                <label for="productComments">Product Price Comments for Libraries</label>
                <view-edit-text-area ng-model="vm.product.comments" edit-mode="vm.editable">
                    {{ vm.product.comments }}
                </view-edit-text-area>

                <div class="column">
                    <view-edit-checkbox label="3rd Party Product" ng-model="vm.product.isThirdPartyProduct" edit-mode="vm.editable">
                        <label>Third Party Product:</label> {{ vm.product.isThirdPartyProduct }}
                    </view-edit-checkbox>

                    <view-edit-checkbox label="Archive Capital Fee" ng-model="vm.product.hasArchiveCapitalFee" edit-mode="vm.editable">
                        <label>Archive Capital Fee:</label> {{ vm.product.hasArchiveCapitalFee }}
                    </view-edit-checkbox>
                </div>

                <div class="column">
                    <label for="productStatus">Status</label>
                    <view-edit-radios radio-group-name="isActive" items="vm.statusOptions" ng-model="vm.product.isActive" edit-mode="vm.editable">
                        {{ vm.product.isActive ? 'Active Product' : 'Inactive Product' }}
                    </view-edit-radios>
                </div>
            </div>

            <div class="column">

                <div class="clearfix double-gap-bottom">
                    <div class="column">

                        <label>Price Cap</label>
                        <view-edit-percentage-field ng-model="vm.product.priceCap" edit-mode="vm.editable">
                            {{ vm.product.priceCap }}%
                        </view-edit-percentage-field>

                        <div class="placeholder">
                            TODO: Manage Price Cap Popup
                        </div>

                        <label>Cycle</label>
                        <view-edit-select ng-model="vm.product.cycleType" items="vm.cycleOptions" edit-mode="vm.newProduct">
                            {{ vm.product.cycleType }}
                        </view-edit-select>
                        <a data-toggle="modal" data-target="#otp-modal" ng-show="vm.shouldShowOtpEditLink()">Edit One-Time Purchases <fa name="edit"></fa></a>

                    </div>

                    <div class="column">
                        <label>License Agreement</label>
                        <div ng-show="vm.noLicensesMessage">
                            <input type="text" ng-show="vm.editable" disabled="disabled" readonly="readonly" value="{{ vm.noLicensesMessage }}">
                        </div>
                        <view-edit-typeahead ng-show="!vm.noLicensesMessage" ng-model="vm.product.license" options="vm.licenseList" edit-mode="vm.editable">
                            {{ vm.product.license.name }}
                        </view-edit-typeahead>

                        <label>Detail Codes</label>
                        <view-edit-select ng-model="vm.product.detailCode" items="vm.productDetailCodeOptions" edit-mode="vm.editable">
                            {{ vm.product.detailCode }}
                        </view-edit-select>
                    </div>
                </div>

                <div class="placeholder">
                    TODO: Funded for Affiliate: X%
                </div>

                <div class="placeholder">
                    TODO: Funded for Governing: X%
                </div>

                <div class="placeholder" ng-show="vm.product.cycleType !== 'One-Time Purchase'">
                    TODO: Table of Subscriber History
                </div>

                <div>
                    <div class="column">
                        <h2>Specific Terms</h2>
                        <div><a data-toggle="modal" data-target="#terms-modal" ng-show="vm.shouldShowTermsEditLink()">Override License-Level Terms<fa name="edit"></fa></a></div>
                        <ul class="terms-list">
                            <li>
                                <label>Download:</label>
                                <view-edit-yes-no-other ng-model="vm.product.terms.downloadTerms" edit-mode="false">
                                    {{ vm.product.terms.downloadTerms || vm.product.license.terms.downloadTerms }}
                                </view-edit-yes-no-other>
                            </li>

                            <li>
                                <label>ILL:</label>
                                <view-edit-yes-no-other ng-model="vm.product.terms.interLibraryLoanTerms" edit-mode="false">
                                    {{ vm.product.terms.interLibraryLoanTerms || vm.product.license.terms.interLibraryLoanTerms }}
                                </view-edit-yes-no-other>

                            </li>

                            <li>
                                <label>Course Packs:</label>
                                <view-edit-yes-no-other ng-model="vm.product.terms.coursePacksTerms" edit-mode="false">
                                    {{ vm.product.terms.coursePacksTerms || vm.product.license.terms.coursePacksTerms }}
                                </view-edit-yes-no-other>

                            </li>

                            <li>
                                <label>Print:</label>
                                <view-edit-yes-no-other ng-model="vm.product.terms.printTerms" edit-mode="false">
                                    {{ vm.product.terms.printTerms || vm.product.license.terms.printTerms}}
                                </view-edit-yes-no-other>

                            </li>

                            <li>
                                <label>Limited Sharing for Scholarly Purposes:</label>
                                <view-edit-yes-no-other ng-model="vm.product.terms.limitedScholarlySharingTerms" edit-mode="false">
                                    {{ vm.product.terms.limitedScholarlySharingTerms || vm.product.license.terms.limitedScholarlySharingTerms}}
                                </view-edit-yes-no-other>

                            </li>

                            <li>
                                <label>Use by Walk-ins:</label>
                                <view-edit-yes-no-other ng-model="vm.product.terms.walkinTerms" edit-mode="false">
                                    {{ vm.product.terms.walkinTerms || vm.product.license.terms.walkinTerms}}
                                </view-edit-yes-no-other>

                            </li>

                            <li>
                                <label>E-Reserves:</label>
                                <view-edit-yes-no-other ng-model="vm.product.terms.eReservesTerms" edit-mode="false">
                                    {{ vm.product.terms.eReservesTerms || vm.product.license.terms.eReservesTerms}}
                                </view-edit-yes-no-other>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </fieldset>
    </section>

    <footer ng-show="vm.editable">
        <fieldset>
            <button type="button" class="carli-button cancel-button" data-dismiss="modal" ng-click="vm.cancelEdit()">Cancel</button>
            <input type="button" id="vendor-submit" class="carli-button save-button" value="{{ vm.submitLabel() }}" ng-click="vm.submitAction()">
        </fieldset>
    </footer>

</form>

    <modal-dialog modal-id="'otp-modal'" title="'One-Time Purchase'">
        <ng-include src="'carliApp/components/entityForms/product/editOneTimePurchase.html'"></ng-include>
    </modal-dialog>

    <modal-dialog modal-id="'terms-modal'" title="'Override License-Level Terms'">
        <ng-include src="'carliApp/components/entityForms/product/editTerms.html'"></ng-include>
    </modal-dialog>

    <hr>
    <debug-panel>{{ vm.product | json }}</debug-panel>
