license-list {
    display: block;
    margin: 1rem auto;
    @extend .clearfix;

    ul {
        @extend .zebra-table;

        li {
            padding: 1rem;
            position: relative;

            a.file {
                color: $purple;
                font-size: 1rem;
            }
        }
    }
}