
$border-color: $gray;
$active-fg-color: $orange;
$inactive-fg-color: $black;
$bg-color: $white;

$height: 54px;
$border: 1px solid $border-color;
$border-top-width: 3px;
$nav-button-width: 138px;
$nav-min-width: 998px;

nav[nav-bar] {
    background: $bg-color;
    border: 0;
    border-bottom: $border;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    @include font-size(15);
    line-height: 18px;
    text-transform: uppercase;
    min-width: $nav-min-width;

    ul {
        @include flexbox;
        list-style: outside none none;
        margin: 0 $page-gutter;
        padding: 0;
	
	@media (max-width: $nav-min-width) {
	    margin: 0;
	}
    }

    li:first-child {
        border-left: $border;
    }
    li {
        border-right: $border;
        @include flex(1 1 auto);
        margin: 0;
        min-width: 120px;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        width: $nav-button-width;
        a {
            @include vendor-prefix('align-items', 'center');
            color: $inactive-fg-color;
            @include flexbox;
            height: $height;
            padding: 0 1em;
            position: relative;
            text-decoration: none;
            transition: color 250ms 50ms;

            &:after {
                background-color: $active-fg-color;
                content: "";
                left: 0;
                height: 3px;
                position: absolute;;
                right: 0;
                top: 0;
                transform: scaleX(0);
                transition: transform 250ms;
            }

            span {
                display: block;
                @include flex(1 1 auto);
            }

            .badge {
                position: absolute;
                top: -12px;
                right: 8px;
                min-width: unset;
                background-color: $light-purple;
                color: $very-dark-purple;
            }
        }
        &.active {
            a {
                color: $active-fg-color;

                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }
}
