<div class="entity-list-controls">
    <div class="filter-input-container">
        <input type="text" class="filter-input" ng-model="filterText">
    </div>
    <div class="filter-by-active-container">
        <filter-by-active-toggle entity-label="'libraries'" active-filter-state="vm.activeFilterState"></filter-by-active-toggle>
    </div>
</div>
<ul class="entity-list">
    <li class="column-headers">
        <div class="column" ng-repeat="(key, value) in columns">{{ key }}</div>
    </li>
    <li ng-repeat="library in values | filterByActive:vm.activeFilterState | filter:filterText">
        <div class="column">
            <a href="library/{{ library.id }}">{{ library.name }}</a>
        </div>
        <div class="column">
            {{ library.institutionYears }}
        </div>
        <div class="column">
            {{ library.institutionType }}
        </div>
    </li>
</ul>
