<div class="entity-list-controls">
    <div class="filter-input-container">
        <input type="text" class="filter-input" ng-model="filterText">
    </div>
    <div class="filter-by-active-container">
        <filter-by-active-toggle entity-label="'libraries'" active-filter-state="vm.activeFilterState"></filter-by-active-toggle>
    </div>
</div>
<ul class="entity-list">
    <li class="column-headers">
        <div class="column" ng-repeat="column in columns">{{ column.label }}</div>
    </li>
    <li ng-repeat="entity in values | filterByActive:vm.activeFilterState | filter:filterText">
        <div class="column" ng-repeat="column in columns">
            {{ column.contentFunction(entity) }}
        </div>
    </li>
</ul>
