entity-list {
    $filter-input-spacing: 0.57rem;
    $filter-by-active-inner-spacing: 1.5em;

    $controls-background: $light-gray;
    $icon-color: $orange;

    .entity-list-controls {
        @include flexbox;
        border-top: $controls-top-border;
        background: $controls-background;

        .filter-input-container {
            @include flex(1 1 33%);
            border-left: $default-border;
            font-size: 1.28rem;
            line-height: 1;
            padding-left: $filter-input-spacing;
            position: relative;

            .filter-input {
                padding-right: 1.75em;
                margin: $filter-input-spacing 0;
                width: 100%;
            }

            &:after {
                color: $icon-color;
                content: "\f002"; // fa-search
                font-family: "FontAwesome";
                position: absolute;
                top: 1.1rem;
                right: $filter-input-spacing;
            }
        }

        .filter-by-active-container {
            @include flex(1 1 66%);
            border-right: $default-border;
            .filter-by-active {
                @include font-size(14);
                line-height: 2;
                margin: .714rem;
                menuitem {
                    margin-right: $filter-by-active-inner-spacing;
                    .fa {
                        @include font-size(17);
                    }
                }
            }
        }
    }
}

ul.entity-list {
    @extend .zebra-table;

    border-bottom: $default-border;
    clear: both;

    li {
        padding: 0;
        .column .list-button {
            @include list-button;
        }
    }
}
