<div class="entity-list-controls">
    <div class="filter-input-container">
        <input type="text" class="filter-input" ng-model="vm.filterText">
    </div>
    <div class="filter-by-active-container">
        <filter-by-active-toggle entity-label="entityLabel" active-filter-state="vm.activeFilterState"></filter-by-active-toggle>
    </div>
</div>
<ul class="entity-list">
    <li class="column-headers">
        <div class="column" ng-class="{ sortable: column.orderByProperty, activeSort: vm.orderBy === column.orderByProperty, reversedSort: vm.reverse }" ng-repeat="column in columns" ng-click="vm.sort(column.orderByProperty)">{{ column.label }}</div>
    </li>
    <li ng-repeat="entity in values | filterByActive:vm.activeFilterState | filter:{ name: vm.filterText } | orderBy:vm.orderBy:vm.reverse">
        <div class="column" ng-repeat="column in columns" ng-bind-html="column.contentFunction(entity)"></div>
    </li>
</ul>
