body {
    $num-columns: 3;
    $column-percent: 100% / $num-columns;

    $filter-input-spacing: 0.57rem;
    $filter-by-active-inner-spacing: 1.5em;

    $controls-top-border: 3px solid $black;

    $controls-background: $light-gray;
    $icon-color: $orange;
    $zebra-table-color: $light-gray;
    $table-header-fg-color: $black;
    $table-content-fg-color: $purple;

    .entity-list-controls {

        @include flexbox;
        border-top: $controls-top-border;
        background: $controls-background;

        .filter-input-container {
            @include flex(1 1 $column-percent);
            border-left: $default-border;
            font-size: 1.28rem;
            line-height: 1;
            padding-left: $filter-input-spacing;
            position: relative;

            .filter-input {
                padding-right: 1.75em;
                margin: $filter-input-spacing 0;
                width: 100%;
            }

            &:after {
                color: $icon-color;
                content: "\f002"; // fa-search
                font-family: "FontAwesome";
                position: absolute;
                top: 1.1rem;
                right: $filter-input-spacing;
            }
        }

        .filter-by-active-container {
            @include flex(1 1 2*$column-percent);
            border-right: $default-border;
            .filter-by-active {
                @include font-size(14);
                line-height: 2;
                margin: .714rem;
                menuitem {
                    margin-right: $filter-by-active-inner-spacing;
                }
            }
        }
    }

    ul.entity-list {
        list-style: none inside;
        padding: 0;

        li.column-headers {
            .column, .column:first-child {
                color: $table-header-fg-color;
                font-family: 'Verdana';
                font-weight: 700;
                @include font-size(11);
                padding: .5rem 1rem;
            }
        }

        li {
            @include flexbox;
            background: $white;
            border: $default-border;
            border-bottom: 0;
            font-family: 'Verdana' sans-serif;
            @include font-size(15);

            &:nth-child(2n+1) {
                background: $zebra-table-color;
            }

            &:last-child {
                border-bottom: $default-border;
            }

            .column {
                @include flex(1 1 auto);
                border-left: $default-border;
                padding: 1rem;
                width: $column-percent;

                &:first-child {
                    @include font-size(17);
                    font-family: 'Merriweather' serif;
                    font-weight: 700;
                    border-left: 0;
                }
                .list-button {
                    @include list-button;
                }
            }

            .column, .column a {
                color: $table-content-fg-color;
            }
        }
    }

}
