#subscriptions {
    padding-top: 1rem;

    .zebra-table {
        margin-bottom: 30px;
    }

    .vendor-accordion {
        border-bottom: $default-border;
        margin-bottom: 1rem;
        list-style: outside none none;

        ul.entity-list {
            margin-bottom: 0;

            li:last-child {
                border-bottom: 0;
            }
        }

        header {
            color: $purple;
            @include font-size(17);
            font-family: 'Merriweather', serif;
            font-weight: 700;

            background: $white;
            border: $default-border;
            border-bottom: 0;
            padding: 1rem 1rem 1rem 42px;
        }

        .column {
            //padding: 0;
        }

        .column:nth-child(1) {
            @include vendor-prefix('flex-basis', '40%');
        }
        .column:nth-child(2),
        .column:nth-child(3),
        .column:nth-child(4),
        .column:nth-child(5),
        .column:nth-child(6) {
            @include vendor-prefix('flex-basis', '5%');
            text-align: center;
        }

        .column.funded {
            @include vendor-prefix('flex-basis', '7%');
            text-align: center;
            .fa {
                color: $orange;
                @include font-size(22);
            }
        }
        .column:nth-child(7) {
            @include vendor-prefix('flex-basis', '15%');
        }
        .column:nth-child(9) {
            @include vendor-prefix('flex-basis', '15%');
            padding: .25rem;
        }
    }
}
