/* Styles that apply to all of the subscription screens */
.page-header.subscription {
    h2 {
        margin-top: 0;
    }
    h1 {
        color: $purple;
    }
}

#subscriptions {
    .zebra-table {
        margin-bottom: 30px;
    }

    &.content {
      @media (max-width: 1500px) {
        padding-left: 30px;
        padding-right: 30px;
        min-width: 1020px;
      }
    }

    .vendor-accordion,
    .library-accordion {
        border-bottom: $default-border;
        margin-bottom: 1rem;
        list-style: outside none none;

        li {
            @extend [carli-accordion];

            &.collapsed {
                @extend [carli-accordion].collapsed;
            }
        }

        .filter-controls {
            border-left: $default-border;
            border-right: $default-border;
            border-top: $default-border;
            min-height: 53px;
            padding: 0.5rem 1rem;
            line-height: 2.6rem;

            span {
                color: $purple;
                cursor: pointer;

                &.active-offering-filter {
                    font-weight: 600;
                    cursor: auto;
                }
            }
        }

        ul.entity-list {
            margin-bottom: 0;

            .column {
                @include vendor-prefix('align-items', 'center');
                @include flexbox;
                @include flex(0 0 auto);
                @include vendor-prefix('justify-content', 'center');
                padding: .75rem;
            }
        }

        .accordion-header {
            color: $purple;
            @include font-size(17);
            font-family: 'Merriweather', serif;
            font-weight: 700;

            background: $white;
            border: $default-border;
            border-bottom: 0;
            padding: 1rem 1rem 1rem 42px;

            .vendor-status,
            .library-status {
                @include body-text();
                line-height: 1.5rem;
                float: right;
            }

            .vendor-flag {
                float: right;
                margin-left: 1rem;

                .fa {
                    &.fa-flag-o {
                        color: $gray;
                    }

                    &.fa-flag {
                        color: $orange;
                    }
                    @include font-size(22);
                }
            }
        }

        .footer {
            @include clearfix;
            background: $light-gray;
            border-left: $default-border;
            border-right: $default-border;
            padding: 1rem;

            checkbox {
                float: right;
            }
        }

        #open-system-modal {
            form {
                label:first-of-type {
                    margin-top: 0;
                }

                checkbox {
                    padding: 1rem;
                }
            }
        }
    }

    #open-system-modal {
        form {
            label:first-of-type {
                margin-top: 0;
            }

            checkbox {
                margin-top: 1rem;
            }
        }
    }
}

.subscription + #subscriptions {
    padding-top: 1rem;
}
