/* Common styles shared by all of the subscriptions screens that display offerings */
.offerings-editor {

    .offerings-list {
        border-right: $default-border;
        border-left: $default-border;
        list-style: none inside;

        & > li {

            &.offering > edit-offering + render-offering {
                display: none;
            }

            &.column-headers,
            &.offering > render-offering,
            &.offering > edit-offering > form {
                @include flexbox;
                align-items: stretch;

                & > .column {
                    border-right: $default-border;
                    @include flex(0 0 auto);
                    position: relative;

                    &.library {
                        @include flex(2 0 10%);
                    }

                    &.product,
                    &.vendor {
                        @include flex(2 0 10%);

                        h3 {
                            margin: 0;
                        }
                    }

                    &.selected-last-year {
                        width: 100px;
                    }

                    &.library-view {
                        width: 380px;
                    }

                    &.site-license-price {
                        width: 380px;

//                        &.current-year-only {
//                            width: 190px;
//                        }
                    }

                    &.flag {
                        width: 70px;
                    }

                    &.selection,
                    &.vendor-invoice {
                        @include flex(1 1 5%);
                        min-width: 60px;
                    }
                }
            }

            &.column-headers {
                @include sortable-column-header;
            }

            &.offering {
                border-top: 3px solid $purple;
                position: relative;

                &.edit-mode {
                    border-color: $orange;
                }

                > checkbox {
                    position: absolute;
                    top: 1rem;
                    left: -2rem;
                }
            }

            &.offering > render-offering,
            &.offering > edit-offering > form {
                .column {
                    &.product,
                    &.vendor,
                    &.library,
                    &.one-time-purchase-pricing,
                    &.selection,
                    &.vendor-invoice {
                        padding: 1rem;
                    }

                    &.flag {
                        align-self: center;
                    }
                }

                & > .column {
                    border-right: $default-border;
                    position: relative;

                    label, .label {
                        margin-top: 0;
                    }

                    .controls {
                        bottom: .2rem;
                        left: 1rem;
                        min-width: 165px;
                        position: absolute;

                        .carli-button {
                            display: block;
                            margin-left: 0;
                            margin-top: 0.5rem;
                            text-align: left;
                        }
                    }

                    &.product,
                    &.vendor {
                        h3 {
                            margin: 0;
                        }
                    }

                    &.product {
                        h3 {
                            font-weight: 700;
                        }
                    }

                    &.selected-last-year {
                        text-align: center;

                        .fa-check-circle {
                            @include font-size(22);
                            color: $orange;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    &.library-view {
                        .display {
                            border-bottom: $default-border;
                            padding: .5rem 1rem;
                        }
                        view-edit-radios {
                            line-height: 20px;
                        }
                    }

                    &.flag {
                        border-right: 0;
                        text-align: center;

                        .fa {
                            @include font-size(22);

                            &.fa-flag-o {
                                color: $gray;
                            }

                            &.fa-flag {
                                color: $orange;
                            }

                            &.carli-flag {
                                color: $purple;
                            }
                        }

                        checkbox {
                            .checkbox-display {
                                cursor: pointer;
                            }
                            input[type="checkbox"] {
                                & + label {
                                    user-select: none;
                                    color: $gray;
                                }

                                &:checked + label {
                                    color: $orange;
                                }
                            }

                            &.carli-flag {
                                input[type="checkbox"] {
                                    & + label,
                                    &:checked + label {
                                        color: $purple;
                                    }
                                }
                            }
                            
                            &.focused {
                                background: transparent;
                                .checkbox-display {
                                    outline: $light-purple auto 5px;
                                }
                            }
                        }
                    }

                    &.selection {
                        .selection-display {
                            .price {
                                color: $purple;
                                font-weight: 700;
                            }
                        }
                        
                        .one-time-purchase-invoice-date {
                            color: $orange;
                            font-weight: 700;
                        }
                    }

                    .carli-button {
                        border: 0;
                        height: auto;
                        padding: 0;

                        &:hover {
                            background: $white;
                        }
                    }
                }
            }
        }
    }

    /* Applies to the by-vendor offerings view */
    .vendor-accordion {
        .vendor-product-list {
            list-style: none inside;
            min-width: 960px;

            .product-header {
                background: $light_gray;
                color: $black;
                border: $default_border;
                border-bottom: none;
                cursor: pointer;
                @include font-size(17);
                font-family: 'Merriweather';
                padding: 1rem;
                padding-left: 3rem;
                position: relative;
                z-index: 2;

                &.affix {
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: 100%;
                    z-index: 1;

                    &.dontAffix {
                        position: relative !important;
                    }

                    &.expanded {
                        z-index: 10;
                    }
                }

                &.expanded {
                    background: $purple;
                    color: $white;
                    border: none;
                }

                .price-cap {
                    float: right;
                    @include font-size(14);
                    font-family: 'Verdana';
                }
            }

            .product-content {
                display: none;

                &.expanded {
                    display: block;
                }
            }

            .footer {
                @include clearfix;
                border-top: $default-border;
                border-right: $default-border;
                border-left: $default-border;
            }
        }

        .footer.vendor {
            border-top: $default-border;
        }
    }

    /* Applies to the by-library offerings view */
    .library-accordion {
        .column-headers {
            .column {
                border-top: $default-border;
            }
        }
    }
}
