#subscriptions {
    padding-top: 1rem;

    .zebra-table {
        margin-bottom: 30px;
    }

    .vendor-accordion {
        border-bottom: $default-border;
        margin-bottom: 1rem;
        list-style: outside none none;

        ul.entity-list {
            margin-bottom: 0;
        }

        header {
            color: $purple;
            @include font-size(17);
            font-family: 'Merriweather', serif;
            font-weight: 700;

            background: $white;
            border: $default-border;
            border-bottom: 0;
            padding: 1rem 1rem 1rem 42px;

            .reviewed-message {
                float: right;
            }
        }

        .column {
            @include vendor-prefix('align-items', 'center');
            @include flexbox;
            @include flex(0 0 auto);
            @include vendor-prefix('justify-content', 'center');
            padding: .75rem;
        }

        .column.product-name {
            @include flex(1 0 10%);
            @include vendor-prefix('justify-content', 'flex-start');
        }
        .column.selection-history {
            text-align: center;
            width: 60px;
        }

        .column.funded {
            text-align: center;
            width: 80px;
            .fa {
                color: $orange;
                @include font-size(22);
            }
        }
        .column.last-price {
            @include flex(0 1 auto);
            width: 160px;
        }
        .column.remove {
            padding: 0;
            text-align: center;
            width: 118px;
        }

        footer {
            border-left: $default-border;
            border-right: $default-border;
            padding: 1rem;

            checkbox {
                float: right;
            }
        }
    }
}
