/* Common styles shared by all of the subscriptions screens that display offerings */
.offerings-editor {

    .offerings-list {
        border-right: $default-border;
        border-left: $default-border;
        list-style: none inside;

        & > li {

            &.column-headers,
            &.offering > render-offering {
                @include flexbox;
                align-items: stretch;

                & > .column {
                    border-right: $default-border;
                    @include flex(0 0 auto);
                    position: relative;

                    &.library {
                        @include flex(2 0 10%);
                    }

                    &.product,
                    &.vendor {
                        @include flex(2 0 10%);

                        h3 {
                            margin: 0;
                        }
                    }

                    &.selected-last-year {
                        width: 100px;
                    }

                    &.library-view {
                        width: 380px;
                    }

                    &.site-license-price {
                        width: 380px;

                        &.current-year-only {
                            width: 190px;
                        }
                    }

                    &.flag {
                        width: 70px;
                    }

                    &.selection,
                    &.vendor-invoice {
                        @include flex(1 1 5%);
                        min-width: 60px;
                    }
                }
            }

            &.column-headers {
                @include sortable-column-header;
            }

            &.offering {
                border-top: 3px solid $purple;

                &.edit-mode {
                    border-color: $orange;
                }
            }

            &.offering > render-offering {

                .column {
                    &.product,
                    &.vendor,
                    &.library,
                    &.selection {
                        padding: 1rem;
                    }

                    &.flag {
                        align-self: center;
                    }
                }

                & > .column {
                    border-right: $default-border;
                    @include flex(0 0 auto);
                    position: relative;

                    label, .label {
                        margin-top: 0;
                    }

                    button.save,
                    button.edit {
                        bottom: 1rem;
                        left: 1rem;
                        position: absolute;
                        min-width: 65px;
                    }

                    &.product,
                    &.vendor {
                        h3 {
                            margin: 0;
                        }
                    }

                    &.selected-last-year {
                        text-align: center;
                    }

                    &.library-view {
                        .display {
                            border-bottom: $default-border;
                            padding: .5rem 1rem;
                        }
                    }

                    &.flag {
                        border-right: 0;
                        text-align: center;

                        checkbox {
                            .checkbox-display {
                                cursor: pointer;
                            }
                            input[type="checkbox"] {
                                & + label {
                                    user-select: none;
                                    color: $gray;
                                }

                                &:checked + label {
                                    color: $orange;
                                }
                            }

                            .fa {
                                @include font-size(22);
                            }

                            &.focused {
                                background: transparent;
                                .checkbox-display {
                                    outline: $light-purple auto 5px;
                                }
                            }
                        }
                    }

                    &.selection {
                        .selection-display {
                            .price {
                                color: $purple;
                                font-weight: 700;
                            }
                        }
                    }

                    .carli-button {
                        border: 0;
                        height: auto;
                        padding: 0;
                        text-align: left;

                        &:hover {
                            background: $white;
                        }
                    }
                }
            }
        }
    }

    /* Applies to the by-vendor offerings view */
    .vendor-accordion {
        .product-content {
            list-style: none inside;
            min-width: 960px;

            .product-header {
                background: $purple;
                color: #fff;
                @include font-size(17);
                font-family: 'Merriweather';
                padding: 1rem;

                .price-cap {
                    float: right;
                    @include font-size(14);
                    font-family: 'Verdana';
                }
            }

            .footer {
                @include clearfix;
                border-top: $default-border;
                border-right: $default-border;
                border-left: $default-border;
            }
        }
    }

    /* Applies to the by-library offerings view */
    .library-accordion {
        .column-headers {
            .column {
                border-top: $default-border;
            }
        }
    }
}