<section id="subscriptions">
    <div class="list-page-header">
        <h1>Subscriptions</h1>
    </div>

    <section class="content list-content" cg-busy="vm.cyclesLoading">
        <ul class="zebra-table">
            <li ng-repeat="cycle in vm.activeCycles | orderBy:['-year','name']">
                <div class="column">
                    <a ng-href="/subscription/{{ cycle.id }}">{{ cycle.name }}</a>
                </div>
                <div class="column">
                    {{ cycle.getStatusLabel() }}
                </div>
                <div class="column">
                    <div>
                        <button type="button"
                                class="carli-button"
                                data-toggle="modal"
                                data-target="#edit-cycle-dates-modal"
                                id="edit-cycle-dates"
                                ng-click="vm.editCycle(cycle)"
                                ng-if="cycle.status < vm.cycleClosed">
                            Edit Cycle Dates
                        </button>
                        <button type="button"
                                class="carli-button cancel-button"
                                ng-click="vm.archiveCycle(cycle)"
                                ng-if="cycle.status == vm.cycleClosed">
                            Archive Cycle
                        </button>
                    </div>
                </div>
            </li>
        </ul>

        <button type="button" class="carli-button" data-toggle="modal" data-target="#new-cycle-modal">Create New Cycle</button>
    </section>

    <div class="list-page-header">
        <h2>Archived</h2>
        <span class="archived-cycle-list__toggle" ng-click="vm.toggleArchivedCycleList()">{{ vm.hideArchivedCycleList ? '(Show)' : '(Hide)' }}</span>
    </div>

    <section class="content list-content" ng-hide="vm.hideArchivedCycleList" cg-busy="vm.cyclesLoading">
        <ul class="zebra-table">
            <li ng-repeat="cycle in vm.archivedCycles track by cycle.id">
                <div class="column">
                    <a ng-href="/subscription/{{ cycle.id }}">{{ cycle.name }}</a>
                </div>
                <div class="column">
                    {{ cycle.getStatusLabel() }}
                </div>
                <div class="column">
                    <div>
                        <button type="button"
                                class="carli-button cancel-button"
                                ng-click="vm.unarchiveCycle(cycle)"
                                ng-if="cycle.isArchived">
                            Un-Archive Cycle
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </section>

</section>

<new-cycle-form></new-cycle-form>

<modal-dialog modal-id="'edit-cycle-dates-modal'" modal-title="'Edit Cycle Dates'">
    <div class="modal-body comment-text">
        <label for="xxx">Selections Available</label>
        <p>
            <em>Libraries will see this date range <strong>estimate</strong> indicating when they can make selections.</em>
        </p>
        <view-edit-date ng-model="vm.cycleBeingEdited.startDateForSelections" edit-mode="true"></view-edit-date>
        to
        <view-edit-date ng-model="vm.cycleBeingEdited.endDateForSelections" edit-mode="true"></view-edit-date>

        <label for="productsAvailableDate">Products Available to Patrons</label>
        <view-edit-date input-id="productsAvailableDate" ng-model="vm.cycleBeingEdited.productsAvailableDate"
                        edit-mode="true"></view-edit-date>

    </div>
    <div class="modal-footer">
        <button type="button" class="carli-button cancel-button" ng-click="vm.cancelEdit()">Cancel</button>
        <button type="button" class="carli-button save-button" busy-click="vm.saveCycleDates()">Save</button>
    </div>
</modal-dialog>
