<ul>
    <li>
        <a active-tab href="/dashboard"><span>My Products</span></a>
    </li>
    <li>
        <a active-tab href="/addSubscriptions">
            <span>Add Subscriptions</span>
            <span ng-if="vm.showOpenBadge" class="badge">Open!</span>
        </a>
    </li>
    <li>
        <a active-tab href="/addOneTimePurchases"><span>Add One-Time Purchases</span></a>
    </li>
    <li>
        <a active-tab href="/report"><span>Report</span></a>
    </li>
    <li>
        <a active-tab href="/notifications"><span>Notifications</span></a>
    </li>
    <li ng-hide="vm.userIsReadOnly()">
        <a active-tab href="/ipAddresses"><span>IP Addresses</span></a>
    </li>
    <li ng-hide="vm.userIsReadOnly()">
        <a active-tab href="/management"><span>Management</span></a>
    </li>

</ul>
