activity-log-list {
    clear: both;
    display: block;
    margin: 4rem auto;

    .title {
        display: inline-block;
        @include font-size(17);
        font-family: 'Merriweather', serif;
        font-weight: bold;
        color: $black;
    }

    .controls {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        .app-filter-controls {
            display: flex;
            flex-wrap: wrap;
            padding-top: 1rem;

            radio {
                margin: 0 1rem 1rem 0;
            }
        }

        .date-filter-controls {
            align-items: center;
            display: flex;
            flex: 0 0 auto;

            view-edit-date {
                display: inline-block;
                margin-right: 1ex;
                width: 100px;
            }
        }
    }

    ul {
        clear: both;
        @extend .zebra-table;

        li {
            .column {
                @include flex(0 1 12%);
                hyphens: auto;
                padding: .5rem 1rem;
                word-wrap: break-word;

                &.Date,
                &.User,
                &.Cycle,
                &.Vendor,
                &.Product,
                &.Library,
                &.Action { }

                &.Action {
                    flex-grow: 2;
                }
            }
        }
    }
}