<div class="controls">
    <div class="app-filter-controls">
        <radio name="'activity-log-list-staff-filter'" value="'staff'" ng-model="vm.appFilter">Show <strong>CARLI Staff Revisions</strong></radio>
        <radio name="'activity-log-list-lib-filter'" value="'library'" ng-model="vm.appFilter">Show <strong>Library Revisions</strong></radio>
        <radio name="'active-log-list-vendor-filter'" value="'vendor'" ng-model="vm.appFilter">Show <strong>Vendor Revisions</strong></radio>
        <radio name="'activity-log-list-all-filter'" value="'all'" ng-model="vm.appFilter">Show <strong>All Revisions</strong></radio>
    </div>
    <div class="date-filter-controls">
        <view-edit-date ng-model="vm.dateFilterStartDate" edit-mode="true"></view-edit-date>
        <view-edit-date ng-model="vm.dateFilterEndDate" edit-mode="true"></view-edit-date>
        <button type="button" class="carli-button" ng-click="vm.updateActivityLogs()">Set Date Range</button>
    </div>
</div>

<ul cg-busy="vm.loadingPromise">
    <li class="column-headers">
        <div class="column {{ column.label }}" ng-class="{ sortable: column.orderByProperty, activeSort: vm.orderBy === column.orderByProperty, reversedSort: vm.reverse }" ng-repeat="column in vm.columns" ng-click="vm.sort(column.orderByProperty)">{{ column.label }}</div>
    </li>
    <li class="activity-log-row" ng-repeat="activity in vm.logs | filter: vm.filterByApp | orderBy:vm.orderBy:vm.reverse as filteredResults track by activity.id">
        <div class="column Date">{{ activity.date | date }}</div>
        <div class="column User">{{ activity.userEmail }}</div>
        <div class="column Cycle">{{ activity.cycleName }}</div>
        <div class="column Vendor">{{ activity.vendorName }}</div>
        <div class="column Product">{{ activity.productName }}</div>
        <div class="column Library">{{ activity.libraryName }}</div>
        <div class="column Action">{{ activity.actionDescription }}</div>
    </li>
</ul>
