$fg-color: $white;
$height: 110px;
$carli-header-min-width: 998px;

header.carli-header {
    color: $fg-color;
    background-color: $purple;
    height: 110px;
    position: relative;

    @media (max-width: $carli-header-min-width) {
	    min-width: $carli-header-min-width;
    }

    .logo-group {
        align-items: center;
        @include flexbox();
        padding-top: 25px;
        padding-left: $page-gutter;

        img {
            @include flex(0 0 auto);
            height: 62px;
            margin-right: 36px;
            width: 198px;
        }

        .app-name {
            color: $light-purple;
            display: inline-block;
            @include flex(0 0 auto);
            font-family: 'Merriweather', serif;
            @include font-size(22);
            font-weight: 100;
            margin: 0;
            padding: 0;
            position: relative;

            &:before {
                border-left: 1px solid $light-purple;
                content: "";
                display: inline-block;
                height: 30px;
                left: -18px;
                position: absolute;
                width: 1px;
            }
        }
    }
}
