
$bg-color: $purple;
$fg-color: $white;

$height: 110px;
$carli-header-min-width: 998px;

header.carli-header {
    color: $fg-color;
    background-color: $bg-color;
    background-image: url('/carliApp/components/carliHeader/images/header-background.png');
    background-repeat: no-repeat;
    height: 110px;
    position: relative;

    @media (max-width: $carli-header-min-width) {
	min-width: $carli-header-min-width;
    }

    .app-name {
        font-family: 'Dosis';
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        @include font-size(30);
        color: $fg-color;
        padding-top: 50px;
        padding-left: $page-gutter;
    }

    .demo-mode {
        display: none;
        position: absolute;
        top: 23px;
        left: 263px;
        font-size: 1.1rem;
        color: #f57300;
    }
}
