
$bg-color: $purple;
$fg-color: $white;

$height: 110px;
$logo-width: 243px;
$logo-height: 59px;

header.carli-header {
    color: $fg-color;
    background-color: $bg-color;
    background-image: url('/images/header-background.png');
    background-repeat: no-repeat;
    height: 110px;

    .carli-logo {
        margin-top: 20px;
        margin-left: $page-gutter;
        width: $logo-width;
        height: $logo-height;
        background-image: url('/images/carli-logo.png');
        background-repeat: no-repeat;
        float: left;
        text-indent: -9999px;
    }
    .app-name {
        float: left;
        margin-top: 37px;
        margin-left: 18px;
        font-family: 'Merriweather', serif;
        font-weight: 300;
        @include font-size(16);
        line-height: 20px;
    }
}
