@import "../../variables";
@import "../../mixins";

$bg_color: $moderate_magenta;
$fg_color: $white;

$height: 110px;
$logo_width: 243px;
$logo_height: 59px;
$logo_align_with_bg_image: 42px;

header.carli-header {
    color: $fg_color;
    background-color: $moderate_magenta;
    background-image: url('/images/header-background.png');
    background-repeat: no-repeat;
    height: 110px;

    .carli-logo {
        margin-top: 20px;
        margin-left: $header_background_margin_left + $logo_align_with_bg_image;
        width: $logo_width;
        height: $logo_height;
        background-image: url('/images/carli-logo.png');
        background-repeat: no-repeat;
        float: left;
        text-indent: -9999px;
    }
    .app-name {
        float: left;
        margin-top: 37px;
        margin-left: 18px;
        font-family: 'Merriweather', serif;
        font-weight: 300;
        @include font_size(16);
        line-height: 20px;
    }
}
