* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 14px;
}

body,
.page-header.affix {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkBAMAAACCzIhnAAAAD1BMVEX5+fnw8PDx8fH7+/vy8vJUDnNpAAAF9klEQVRYw1VYgY3DMAj0mwxQKQtEygIk6QCRsv9O77szkMqy67h5MBwc9Fu3v3a0vzF6+7OxGte2jF1vnSvewOgN+7b5p318axifnPcYH9uw+pg8WcfArlGBlFCFUwWfljFrHPkeBWxT2DqUcm+3j3OjApzrHYzrhjjnH3NdvEPUWPs8O7k74j3YQkFOBdjZB6J9kzVxhZ9dkxUX7v8du6OdFLcYp9wlqzxsKXdBsG0Gl0nBduEcFt1jL1W4BAR3h5KXm6SMmP0Z1M9zvA2H7VSiez6+Dav2a4US41l8l2uDeJeQnmrotlQ8LDIpkG2AlLMEhbtKiVbZeMP31t9iBb+fWGGlDbUOp034XYKkCuKEkhEFo4Oc8BvfGesWuFg5TJ/dODG8UxlV0JESDOe4rNjKDg8rbg2dClbc36HglNsKbGBiDI9rTH6XItcfl1Xwrv5AjX8c9smWLtH+dYKuNHVZNMPae2QU323KEzhmFyYSH0P26YQp/LQUEHlxLRLn3bTTiGQ9vGIoIX483LMZzxncMXfY4lPBQGAErRH2zPcOqzhOYEZl5aoaUOMbbdsNwMOKUiQrDgCvybVLpC1ktTFlF4O5rY68ELHsDevMlOumFWuwWKpqccsZQxSabhTcZZn2FFVDmGxSpPy4YNkudTglvKcdJErc9KzcCQWFGwfEBgoVxKYg/k3U9RJGTbcvsSHUF9dKFsscWhxqfGaM8+7AQjZIbaiwxKWQsB7C/PxVmBmks2Arp2C/TaqeIhYhFSVA+aIETJGLLZznj7MWTtndCLnQKcH2wI36LhR4IAcVme/WXftYpUaWfXXibfUdecH5GuStLYlnlRP5TrMp0sKeUnpmXQEv1BBbRUUZrlp/812101mO9Z5qh4hFKlQhjaeywmllVh7BGzCrUraVtjHqwGLAzO68ShsC+3VUKyFLLtIn7EmX9rxIumNz7EiMqpt8IlXaHgWCqnvW9YWrCkHkDFXJoT4tjXyh4CjOdr8tpB2KrydrpYDn6lP89Wfg54g5PEGpcso32wsXFS9MV+SRBWxGoM6SCgXxIcECf8YU7SzwjTfcMq726aQ9mVhtBp4iyBv7FcE8MbEZstUJ6Mm/bSFKSMFw1hUZc0v8VeU6eLlyP/IkkdGoNkmRWLVSKGiW8wLyFA+FwqXgDndBpVU6Vv5rLdEX/F8kmS5610rYLCVFJioDFVOmxHz1Ahb0burAnggCVZifTkyluzh5ccxfd1WLznrp4djZe+3lNKKUT6iZ5GQ1uoqxxeB7pZyirSLqKydZ1NNTnLwbcaGIKl6P3ZGg4US+I07uArbIHiLDlem+I2nVdpViD9DFBWKBXSdRdSJf7MVS19cPIFEDVlB8ljrg8ooxI7WooNmeIV0xtzljzHBz1sWs7Eci0kWWEWtcVab8DoFFL1aVXukqXLYE+RCXYRoxuBYfjvSh/NIluusnR/b7FF4hbHJVrVV5WuZ2T2o8MqzLXe+8CeGu+1e1nFiw7yS7ZQvYw0U1FG0x2WSc2rHTUQ4AD0fQYp80Y7OzsWzRPXt+jsO7f4u7Ktc1xA5hS+a77m+3ocZTvdCI6FJHDWJ/EwiYGWPC/puiC6cw0QxlUpDJ+uCzftvQlkMVUhRiFB3P1YmpUIeahFwTOEB05JBvSUKKNfxpNhcS7sxy/xaBTgd2xNx0mHHFp6ctlpHGff1cauj1s6IvpoA+r1B4oh1XeKQDpaZCNiq/aYpWYiiHCHkgU7/+g5kjOPgkBJUpvlN0Drgq1JczAxcvWhRnVa5IKdTlGRGMaiivV620UBBnD85YDJYqubHW75lk5AMnJtU/beuWbLbCOckJKwI4GbtZF6FLMJ7sNAj+kg3IcWWr8mUL30cf9u42LZPU8JZOhQG5y+bdXW5aFACZopGyIa76euV4tecSLQ4w/CpoyVtLwS+4Lf+RwDir/IE7ROuMrmQr369wHy2r+v/OaqP4pE4ojSIshWqUqpe0aMLXasMNJySYF820gJ4dJHcuxRUUwqx2k53qxiVwNVhCItWzEvcft8DjpB1hsCoAAAAASUVORK5CYII=);
}
body {
    @include body-text;
}

em {
    font-style: italic;
    font-weight: normal;
    color: $black;
}

main {
    margin: 0;
}


.h1,
h1 {
    font-family: 'Merriweather';
    @include font-size(24);
    font-weight: 700;
}

.h2,
h2 {
    font-family: 'Verdana';
    color: $black;
    font-weight: 700;
    @include font-size(12);
    line-height: 18px;
}

.h3,
h3 {
    font-family: 'Verdana';
    color: $purple;
    font-weight: 400;
    @include font-size(15);
}

.h4,
h4 {
    font-family: 'Merriweather';
    color: $purple;
    @include font-size(17);
    font-weight: 700;
}

.label,
label {
    display: inline-block;
    font-family: 'Verdana', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: $black;
    padding: 0;
    margin-top: $label-margin-top;
    margin-bottom: $label-margin-bottom;
    text-align: left;
}

input[type=number],
input[type=password],
input[type=text],
textarea {
    border: $default-border;
    padding: $default-input-padding;
    width: 100%;
    display: block; /* caused overlap when inline-block */

    &.ng-invalid {
        border: 1px solid $error-red;
    }
}

select {
    display: block;
}

textarea {
    height: 150px;
}

a {
    color: $purple;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: $dark-purple;
    }
}

ul {
    margin-bottom: 0;
}

.dropdown-menu {
    a {
        color: #333 !important;
    }
    .active a {
        color: #fff !important;
    }
}


.container,
.container-fluid {
    padding-left: $page-gutter;
    padding-right: $page-gutter;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.row [class^="col-"],
.row [class*=" col-"]{
    padding-right: 0;
    padding-left: 0;
}


.page-header {
    @extend .container-fluid;
    @include flexbox;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;

    border-bottom: $default-border;

    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .headings {
        @include flex(1 1 auto);
    }

    .controls {
        @include flex(1 1 auto);
        text-align: right;
        align-content: center;
    }

    &.affix {
        top: 0;
        width: 100%;
        z-index: 999;
    }
}

section.content {
    @extend .container-fluid;
    background-color: $white;
    &.list-content {
        background-color: transparent;
    }
    padding-bottom: 50px;
}

.list-page-header {
    @extend .container-fluid;
    @include flexbox;
    @include vendor-prefix('align-items', 'center');

    h1 {
        @include flex(1 1 auto);
        vertical-align: baseline;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .button-container {
        @include flex(1 1 auto);
        text-align: right;
        #new-vendor {
            margin: 0;
        }
    }
}

.cycle-list {
    list-style: none;
}

.warning {
    color: $error-red;
}

.placeholder {
    display: none;
    background: steelblue;
    color: #FFF;
    font-weight: bold;
    line-height: 2rem;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.modal-dialog {
  overflow-y: scroll;
  max-height: 95%;
}

.browserupgrade {
    @extend .alert;
    @extend .alert-danger;
    margin-bottom: 0;
    text-align: center;
}

.hidden {
    display: none;
}
