$white: #ffffff;
$light-gray: #f8f8f8;
$gray: #d6d6d6;
$black: #242424;
$red: #ff1200;
$dark-red: #b60d00;
$orange: #f57300;
$dark-orange: #d75100;
$green: #9bca1d;
$dark-green: #81ac0c;
$super-light-purple: #faf2fc;
$very-light-purple: #f1ddf7;
$light-purple: #e0b4ed;
$purple: #723983;
$dark-purple: #52275f;
$very-dark-purple: #2F153A;

$error-red: $red;
$error-background: #ebccd1;

.orange {
    color: $orange;
}

.black {
    color: $black;
}

.purple {
    color: $purple;
}