ul.product-list {
    @extend .zebra-table;

    clear: both;
    margin-bottom: 60px;

    > li {
        padding: 0;

        .column {
            flex-basis: 5%;
            position: relative;
        }

        .column .list-button {
            @include list-button;
        }

        .total-label {
            @include font-size(17);
            color: $black;
            float: right;
            font-family: 'Dosis';
            font-weight: bold;
            text-align: right;
            text-transform: uppercase;
        }

        &.footer {
            background: $light-gray;
            min-height: 58px;
            padding: 8px;
            position: relative;
        }
    }
}

ul.product-list.subscriptions {
    $selected-last-year-column-width: 80px;
    $funded-column-width: 85px;
    $select-column-width: 200px;

    border-top: 3px solid $black;

    &.complete {
        border-top: none;
    }

    > li {
        &.column-headers {
            border-left: $default-border;
            padding-left: 2px;
        }

        &.offering {
            @extend [collapsible];
        }

        &[collapsible].collapsed {
            border-left: $default-border;
            padding-left: 2px;

            .collapsible-header {
                .column.vendor {
                    font-weight: normal;
                }

                .column.select {
                    .price {
                        background: transparent;
                        border: none;
                        color: $black;
                    }
                    .selected {
                        color: $green;
                    }
                }
            }
        }

        &[collapsible]{
            border-left: 3px solid $purple;
            display: block;
        }

        .collapsible-header,
        .content {
            @include flexbox;
            width: 100%;
        }

        .collapsible-header {
            > .column:first-child {
                padding-left: 36px;
            }

            .column.vendor {
                color: $black;
                font-weight: bold;
            }

            .column.select {
                overflow: hidden;
                padding: 0;

                .selected {
                    background: $green;
                    border: 1px solid $dark-green;
                    color: $white;
                    font-weight: bold;
                }
                .price {
                    height: 100%;
                    left: 0;
                    padding: 16px;
                    position: absolute;
                    top: 0;
                    width: 100%;

                    &.ng-enter {
                        transform: translateX(100%);
                        transition: transform 250ms;
                    }

                    &.ng-enter-active {
                        transform: translateX(0);
                    }

                    &.ng-leave {
                        transform: translateX(0);
                        transition: transform 250ms;
                    }

                    &.ng-leave-active {
                        transform: translateX(100%);
                    }
                }
            }

            .column.purchase {
                @include body-text;

                .date,
                .price {
                    font-weight: bold;
                }
            }
        }

        .content {
            background: $white;
            border-top: $default-border;

            .column.product-info {
                @include body-text;
                flex-basis: 33%;

                .h3 {
                    margin: 0;
                }

            }

            .column.license-info {
                border-left: none;
                flex-basis: 66%;

                .termsAndHistory {
                    @include flexbox;

                    .terms,
                    subscription-history-table {
                        @include flex(1 1 50%);
                    }

                    subscription-history-table {
                        margin-left: 0.5rem;
                    }
                }
            }

            .column.select {
                @include flexbox;
                flex-direction: column;
                justify-content: space-between;
                padding: 0;
                position: relative;
                background-color: $light-gray;

                .subscription-buttons {
                    @include flex(1 1 50%);
                }

                .bottom-buttons {
                    border-top: $default-border;
                    padding: 4px;

                    .remove-button {
                        margin-bottom: 4px;
                    }
                }

                subscription-button {
                    margin: 4px;
                }

                .carli-button {
                    display: block;
                    position: relative;
                    text-align: left;
                    width: 100%;

                    .fa {
                        @include font-size(22);
                        position: absolute;
                        right: 12px;
                    }
                }

                .no-price,
                .no-price-display {
                    padding: 0.5rem;
                }
            }

            .column.empty {
                border: none;
            }
        }

        .column.selected-last-year {
            flex: none;
            width: $selected-last-year-column-width;
            text-align: center;
        }

        &.offering .column.selected-last-year,
        &.offering .column.funded {
            font-size: 22px;
            line-height: 22px;
            padding-bottom: 2px;
            padding-top: 14px;
        }

        .column.funded {
            flex: none;
            width: $funded-column-width;
            text-align: center;
        }

        .column.select {
            flex: none;
            width: $select-column-width;
        }

        &.summary-row {
            border-left: $default-border;

            .column:first-child {
                background: $light-gray;
                line-height: 21px;
            }

            aside {
                @include body-text;
                float: left;
                font-style: italic;
            }

            .column.total {
                background: $white;
                color: $green;
                flex: none;
                font-weight: bold;
                width: $funded-column-width + $select-column-width;
            }
        }

        &.footer {
            border-left: $default-border;

            .carli-button + .carli-button.print {
                margin-left: 8px;
            }

            .carli-button.print,
            .carli-button.export,
            .carli-button.email {
                margin-right: 8px;
                min-width: 80px;
            }

            button.arrow-right,
            ask-carli-button {
                position: absolute;
                right: 8px;
            }
        }
    }
}
