$page-gutter: 118px;
$page-content-width: 960px;
$default-border: 1px solid $gray;
$default-input-padding-top: 0.39rem;
$default-input-padding-left: 0.57rem;
$default-input-padding: $default-input-padding-top $default-input-padding-left;
$label-margin-top: 22px;
$label-margin-bottom: 8px;

$controls-top-border: 3px solid $black;

/** Bootstrap overrides */
$grid-gutter-width: 0;

/** TODO: These definitions should be moved to the header component and user menu components .scss files */

$user-menu-bg-color: $dark-purple;
$user-menu-fg-color: $light-purple;

$background-pricing-old: rgba(224,180,237,.25);
$background-flagged-flagged: rgba(255,18,0,.1);