<div class="subscription page-header">
    <div class="headings">
        <h2>{{ cycleRouter.cycle.name }}</h2>
        <h4>{{ cycleRouter.cycle.getStatusLabel() }}</h4>
    </div>
    <div class="controls group-by-toggle" ng-if="cycleRouter.shouldShowGroupByToggle()">
        <button type="button"
                class="toggle-button"
                ng-class="{ 'active': cycleRouter.cycleRouter.groupBy === 'vendor' }"
                ng-click="cycleRouter.cycleRouter.groupBy = 'vendor'">Vendor</button
        ><button type="button"
                 class="toggle-button"
                 ng-class="{ 'active': cycleRouter.cycleRouter.groupBy === 'library' }"
                 type="button" ng-click="cycleRouter.cycleRouter.groupBy = 'library'">Library</button>
    </div>
</div>

<section id="subscriptions" class="content" ng-switch on="cycleRouter.status">

    <div ng-switch-when="0"><carli-editing-product-list cycle-router="cycleRouter.cycleRouter"></carli-editing-product-list></div>

    <div ng-switch-when="1"><vendors-setting-prices cycle-router="cycleRouter.cycleRouter"></vendors-setting-prices></div>

    <div ng-switch-when="2">CARLI Checking Prices</div>

    <div ng-switch-when="3">Libraries Selecting Products</div>

    <div ng-switch-when="4">Products Available</div>

    <div ng-switch-default>LOADING...</div>

</section>
