radio {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    position: relative;
    width: 1.1em;
    height: 1em;

    .radio-display {
        position: absolute;
        top: 0;
        left: 0;
    }

    input[type="radio"]  {
        margin: 0;
        opacity: 0;
        position: absolute;

        & + .radio-display:before {
            content: "\f10c";
        }

        &:checked + .radio-display:before {
            content: "\f192";
        }
    }
}

