radio {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    line-height: 1em;

    input[type="radio"]  {
        margin: 0;
        pointer-events: none;
        position: absolute;
        visibility: hidden;

        & + label .radio-display:before {
            content: "\f10c";
        }

        &:checked + label .radio-display:before {
            content: "\f192";
        }
    }
    
    label {
        font-weight: normal;
    }
}

