subscription-selections {
    display: block;
    $su-column-width: 135px;
    $cost-column-width: 200px;

    .column-headers {
        .selected-last-year {
            font-size: 9px;
        }
    }

    ul.review.subscriptions,
    ul.complete.subscriptions {
        .column-headers {
            padding-left: 0;
        }

        .column.vendor {
            color: black;
        }

        .column.su {
            color: black;
            flex: none;
            width: $su-column-width;
        }

        .column.review-cost {
            color: black;
            flex: none;
            width: $cost-column-width;
        }

        li.summary-row {
            .column.total {
                width: $cost-column-width;
            }
        }
    }

    .selection-container {
        position: relative;

        .carli-button.select-last-year {
            position: absolute;
            top: -70px;
            right: 0;
        }
    }

    .problem-list {
        list-style: none;

        li {
            margin-bottom: 0.5rem;
        }
    }

    .read-only-price-display,
    .read-only-su-price-display {
        padding: 0.5rem 0.5rem;
    }
}