    <button class="carli-button select-last-year" busy-click="vm.selectLastYearsSelections()">Select Last Year's Subscriptions <fa name="check-circle"></fa></button>
    <ul class="subscriptions product-list" cg-busy="vm.loadingPromise">
        <li class="column-headers">
            <div class="sortable column" ng-class="{ activeSort: vm.orderBy === vm.sortOptions.productName, reversedSort: vm.reverse }" ng-click="vm.sort(vm.sortOptions.productName)">Product</div>
            <div class="column selected-last-year">Selected Last Year</div>
            <div class="sortable column vendor" ng-class="{ activeSort: vm.orderBy === vm.sortOptions.vendorName, reversedSort: vm.reverse }" ng-click="vm.sort(vm.sortOptions.vendorName)">Vendor</div>
            <div class="sortable column funded" ng-class="{ activeSort: vm.orderBy === vm.sortOptions.funded, reversedSort: vm.reverse }" ng-click="vm.sort(vm.sortOptions.funded)">CARLI Funded</div>
            <div class="sortable column select" ng-class="{ activeSort: vm.orderBy === vm.sortOptions.selectionPrice, reversedSort: vm.reverse }" ng-click="vm.sort(vm.sortOptions.selectionPrice)">Selected</div>
        </li>
        <li class="offering display-{{ ::offering.display }}" ng-class="{ collapsed: !vm.openProduct[offering.product.id] }"
            ng-repeat="offering in vm.offerings | orderBy: vm.orderBy:vm.reverse track by offering.id"
            ng-if="::offering.display !== 'none'">
            <div class="collapsible-header" ng-click="vm.toggleProduct(offering.product)">
                <div class="column">
                    <button type="button" class="angle-icon-container">
                        <fa name="angle-down"></fa>
                    </button>
                    {{ ::vm.getProductDisplayName(offering.product) }}
                </div>
                <div class="column selected-last-year">
                    <fa name="check-circle" ng-if="::vm.selectedLastYear(offering)"></fa>
                </div>
                <div class="column vendor">{{ ::offering.product.vendor.name }}</div>
                <div class="column funded">
                    <fa name="check-circle" ng-if="::vm.isFunded(offering)"></fa>
                </div>
                <div class="column select">
                    <span ng-if="offering.selection" class="price">{{ vm.getFundedSelectionPrice(offering) | currency }}</span>
                </div>
            </div>
            <div class="content" ng-if="vm.openProduct[offering.product.id]">
                <div class="column product-info">
                    <div class="label" ng-if="(offering.product.productUrl || offering.product.vendor.websiteUrl)">Product Website</div>
                    <div class="h3" ng-bind-html="(offering.product.productUrl || offering.product.vendor.websiteUrl) | linky:'_blank'"></div>

                    <div class="label">Product Description</div>
                    <p>{{ ::offering.product.description }}</p>

                    <div class="label">Vendor Pricing Comments</div>
                    <vendor-comments-table offering="offering"></vendor-comments-table>

                    <vendor-sales-contact vendor="offering.product.vendor"></vendor-sales-contact>
                </div>
                <div class="column license-info">
                    <div class="label">Comments:</div>
                    <p>{{ offering.libraryComments || offering.product.comments}}</p>

                    <div class="termsAndHistory">
                        <div class="terms">
                            <div class="label">Specific Terms</div>
                            <ul class="terms-list">
                                <li>
                                    <span class="label">Download:</span>
                                    <span class="term">{{ offering.product.terms.downloadTerms || offering.product.license.terms.downloadTerms }}</span>
                                </li>
                                <li>
                                    <span class="label">ILL:</span>
                                    <span class="term">{{ offering.product.terms.interLibraryLoanTerms || offering.product.license.terms.interLibraryLoanTerms }}</span>
                                </li>

                                <li>
                                    <span class="label">Course Packs:</span>
                                    <span class="term">{{ offering.product.terms.coursePacksTerms || offering.product.license.terms.coursePacksTerms }}</span>
                                </li>

                                <li>
                                    <span class="label">Print:</span>
                                    <span class="term">{{ offering.product.terms.printTerms || offering.product.license.terms.printTerms}}</span>
                                </li>

                                <li>
                                    <span class="label">Limited Sharing for Scholarly Purposes:</span>
                                    <span class="term">{{ offering.product.terms.limitedScholarlySharingTerms || offering.product.license.terms.limitedScholarlySharingTerms}}</span>
                                </li>

                                <li>
                                    <span class="label">Use by Walk-ins:</span>
                                    <span class="term">{{ offering.product.terms.walkinTerms || offering.product.license.terms.walkinTerms}}</span>
                                </li>

                                <li>
                                    <span class="label">E-Reserves:</span>
                                    <span class="term">{{ offering.product.terms.eReservesTerms || offering.product.license.terms.eReservesTerms}}</span>
                                </li>
                            </ul>
                        </div>
                        <subscription-history-table cycle="vm.cycle" product="::offering.product" library="vm.library"></subscription-history-table>
                    </div>

                    <license-list license-id="offering.product.license.id"></license-list>
                </div>
                <div class="column select">

                    <div class="subscription-buttons" ng-if="offering.display === 'with-price'">
                        <subscription-button ng-if="offering.pricing.site"
                                             title="Site License" price="{{ ::vm.getFundedSiteLicensePrice(offering) }}"
                                             selected="vm.isSelected(offering, 'Site License')"
                                             busy-click="vm.selectAndUpdateProduct(offering, 'Site License')">
                        </subscription-button>
                        <div class="su-buttons" ng-if="offering.pricing.su && offering.pricing.su.length">
                            <subscription-button ng-repeat="su in offering.pricing.su | orderBy:users"
                                                 ng-if="su.price < offering.pricing.site || !offering.pricing.site"
                                                 title="{{ su.users }} Simultaneous Users" price="{{ su.price }}"
                                                 selected="vm.isSelected(offering, su.users)"
                                                 busy-click="vm.selectAndUpdateProduct(offering, su.users)">
                            </subscription-button>
                        </div>

                        <div class="no-price" ng-if="!offering.pricing.site && !offering.pricing.su.length">A price has not been provided for this product. Ask CARLI for more information.</div>
                    </div>

                    <div class="no-price-display" ng-if="offering.display === 'without-price'">Ask CARLI to find out the price of this product for your institution.</div>

                    <div class="bottom-buttons">
                        <button type="button" class="carli-button remove-button"
                                busy-click="vm.unSelectAndUpdateProduct(offering)"
                                ng-if="offering.selection">
                            Remove Selection<fa name="remove"></fa>
                        </button>
                        <ask-carli-button context="{{ offering.product.name }} from {{ offering.product.vendor.name }}"></ask-carli-button>
                    </div>
                </div>
            </div>
        </li>
        <li class="summary-row">
            <div class="column">
                <aside>All changes saved automatically</aside>
                <span class="total-label">Total</span>
            </div>
            <div class="column total">{{ vm.computeTotalPurchasesAmount() | currency}}</div>
        </li>
        <li class="footer">
            <button class="carli-button export" ng-click="vm.exportProductList()">EXPORT</button>
            <button type="button" ng-click="vm.reviewSelections()" class="carli-button primary-button arrow-right">Review</button>
        </li>
    </ul>
</section>

<modal-dialog modal-id="'selection-problems-modal'" modal-title="'Problems Making Selections from Last Year'" modal-class="modal-lg">
    <div class="modal-body">
        <ul class="problem-list">
            <li ng-repeat="problem in vm.selectionProblems"><strong>{{ problem.product }}</strong> - {{ problem.reason }}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="carli-button primary-button" data-dismiss="modal">OK</button>
    </div>
</modal-dialog>
