<subscription-progress step="vm.selectionStep"></subscription-progress>

<div ng-if="vm.selectionStep === 'select'" ng-include="'libraryApp/sections/addSubscriptions/addSubscriptionsSelect.html'" class="selection-container"></div>
<div ng-if="vm.selectionStep === 'review'" ng-include="'libraryApp/sections/addSubscriptions/addSubscriptionsReview.html'"></div>
<div ng-if="vm.selectionStep === 'complete'" ng-include="'libraryApp/sections/addSubscriptions/addSubscriptionsComplete.html'"></div>

        <pre>
            {{ vm | json }}
        </pre>