.edit-su-pricing {
    table {
        border: $default-border;
        width: 100%;

        thead,
        tbody > tr {
            border-bottom: $default-border;

            &:last-child {
                border-bottom: 0;
            }
        }

        th, td {
            border-right: $default-border;
            border-collapse: collapse;
            font-weight: normal;
            position: relative;

            &:last-child {
                border-right: 0;
            }
        }
    }

    .carli-button.add {
        text-align: right;
        width: 100%;
    }

    .carli-button.remove {
        background: transparent;
        color: $gray;
        min-width: 1rem;
        position: absolute;
        right: 1rem;
        top: 0.3rem;

        &:hover {
            background: transparent;
        }

        .fa {
            margin: 0;
            vertical-align: middle;
        }
    }
}