checkbox {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    line-height: 1em;

    input[type="checkbox"]  {
        margin: 0;
        pointer-events: none;
        position: absolute;
        visibility: hidden;

        & + label .checkbox-display:before {
            content: "\f096";
        }

        &:checked + label .checkbox-display:before {
            content: "\f14a";
        }
    }

    label {
        font-weight: normal;
    }
}
