    <form class="edit-form" ng-class="vm.editable ? 'editMode' : 'viewMode'" name="userForm" warn-if-unsaved>

    <div class="page-header">
        <div class="headings">
            <label for="name">User Full Name</label>
            <view-edit-text-field ng-model="vm.user.fullName" edit-mode="vm.editable" input-id="name">
                <h1>{{ vm.user.fullName }}</h1>
            </view-edit-text-field>
        </div>
        <div ng-show="!vm.newUser" class="controls">
            <div ng-show="vm.editable">
                <button type="button" class="carli-button cancel-button" ng-click="vm.cancelEdit()">Cancel</button>
                <input class="carli-button save-button" ng-disabled="!vm.editable" type="button" value="{{ vm.submitLabel() }}" busy-click="vm.submitAction()" >
            </div>

            <button type="button" id="user-delete" class="carli-button remove-button" ng-hide="vm.editable || vm.userType === 'staff'" ng-click="vm.deleteUser()">
                Delete<fa name="delete"></fa>
            </button>

            <button type="button" id="user-edit" class="carli-button" ng-hide="vm.editable" ng-click="vm.toggleEditable()">
                Edit<fa name="edit"></fa>
            </button>
        </div>
    </div>

    <section class="content">
        <fieldset>
            <label for="user-edit-form-email">Email</label>
            <view-edit-text-field ng-model="vm.user.email" edit-mode="vm.newUser" input-id="user-edit-form-email">
                <span class="value">{{ vm.user.email || 'N/A' }}</span>
            </view-edit-text-field>

            <label ng-show="vm.editable && vm.isCurrentUser" for="password">Password</label>
                <view-edit-secret ng-model="vm.user.password" edit-mode="vm.editable && vm.isCurrentUser" input-id="password">
            </view-edit-secret>

            <label ng-show="vm.editable && vm.isCurrentUser" for="password-confirmation">Confirm Password</label>
                <view-edit-secret ng-model="vm.passwordConfirmation" edit-mode="vm.editable && vm.isCurrentUser" input-id="password-confirmation">
            </view-edit-secret>

            <label for="isActive">User Status</label>
            <view-edit-radios radio-group-name="isActive" radio-group-legend="Product Status" items="vm.statusOptions" ng-model="vm.user.isActive" edit-mode="vm.editable" input-id="isActive">
                <span class="value">{{ vm.user.isActive ? 'Active User' : 'Inactive User' }}</span>
            </view-edit-radios>

            <label ng-show="vm.userType === 'vendor'" for="selectedVendor">Vendor</label>
            <view-edit-select-object ng-show="vm.userType === 'vendor'" ng-model="vm.selectedVendor" input-id="selectedVendor" objects="vm.vendors" label-property="name" track-by="id" edit-mode="vm.editable">
                <span class="value">{{ vm.selectedVendor.name || 'N/A' }}</span>
            </view-edit-select-object>

            <div class="user-readonly-checkbox" ng-show="vm.userType === 'library'" >
                <div ng-show="vm.editable">
                    <checkbox ng-model="vm.userIsReadOnly">User has read only access</checkbox>
                </div>
                <div ng-show="!vm.editible && vm.userIsReadOnly">User has read only access</div>
                <div ng-show="!vm.editible && !vm.userIsReadOnly">User has read/write access</div>
            </div>

            <label ng-show="vm.userType === 'library'" for="selectedLibrary">Library</label>
            <view-edit-select-object ng-show="vm.userType === 'library'" ng-model="vm.selectedLibrary" input-id="selectedLibrary" objects="vm.libraries" label-property="name" track-by="id" edit-mode="vm.editable">
                <span class="value">{{ vm.selectedLibrary.name || 'N/A' }}</span>
            </view-edit-select-object>
        </fieldset>
    </section>

    <div class="footer" ng-show="vm.editable">
        <fieldset>
            <button type="button" class="carli-button cancel-button" data-dismiss="modal" ng-click="vm.cancelEdit()">Cancel</button>
            <input type="button" id="user-submit" class="carli-button save-button" value="{{ vm.submitLabel() }}" busy-click="vm.submitAction()">
        </fieldset>
    </div>

</form>
