
#licenses {
    $column-gutter: 20px;

    .edit-form {
        div.column {
            @include grid-column(4);
            @include grid-gutter($column-gutter);
        }
        .e-resource-comments textarea {
            height: 120px;
        }
        .business-comments textarea {
            height: 120px;
        }
        .date-range {
            @include grid-row();
            .start-date {
                @include grid-column(5);
            }
            .separator {
                @include grid-column(1);
                text-align: center;
                position: relative;
                top: 0.5em;
                left: 1em;
            }
            .end-date {
                @include grid-column(5);
                @include grid-column-offset(1);
            }
        }

        .terms-overrides {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;

            .term {
                flex: 1 1 50%;

                label {
                    font-weight: normal;
                }

                .view-edit-yes-no-other {
                    padding-right: 12px;
                }

                select {
                    width: 100%;
                }
            }
        }
        view-edit-checkbox label {
            font-weight: normal;
            margin-top: 0;
        }
    }
}
