table.tableSubscriber {
    border-collapse: collapse;

    th, td {
        text-align: left;
    }

    th {
        font-weight: bold;
        padding: 10px 10px 10px 0;
    }

    td {
        padding: 10px 20px;
        border: $default-border;
    }

    thead {
        tr {
            th {
            }
        }
    }

    tbody {
        tr {
            &:first-child {
                td {
                    /* first row */
                    color: $purple;

                    &:nth-child(3) {
                        /* first row, second column */
                        font-weight: bold;
                    }
                }
            }

            td {
                &:first-child {
                    /* first column */
                    font-weight: bold;
                    border-right: 0;
                }

                &:nth-child(2) {
                    border-left: 0;
                    padding-left: 0;
                }
            }
        }
    }
}