
/* Shades of Gray */
$white: #ffffff;
$light-gray: #f8f8f8;
$gray: #d6d6d6;
$black: #242424;

/* Roy G Biv */
$red: #ff1200;
$dark-red: #b60d00;
$orange: #f57300;
$dark-orange: #d75100;
$green: #9bca1d;
$dark-green: #81ac0c;
$light-purple: #e0b4ed;
$purple: #723983;
$dark-purple: #52275f;

/* These are not in the spec sheet */
$moderate-magenta: #703880;
$violet: #663284;
$dark-violet: #834ba2;
$very-dark-violet: #411a57;

$page-gutter: 124px;
$page-content-width: 960px;
$default-border: 1px solid $gray;
$default-input-padding-top: 0.39rem;
$default-input-padding-left: 0.57rem;
$default-input-padding: $default-input-padding-top $default-input-padding-left;


/** Bootstrap overrides */
$grid-gutter-width: 0;

/** TODO: These definitions should be moved to the header component and user menu components .scss files */

$user-menu-bg-color: $dark-purple;
$user-menu-fg-color: $light-purple;
