@import url(http://fonts.googleapis.com/css?family=Dosis:600|Merriweather:300,700,400italic);
@import "variables";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.layout {
  width: $page_content_width + $page_margin + $page_margin;
}

main {
  width: $page_content_width;
  margin: 0 auto;
}

$button_padding: 10px;

.btn {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: $orange;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid $light_gray;
  padding: $button_padding;
  text-align: center;
  height: 40px;
  display: inline-block;

  span {
    margin: 10px 0px 10px 10px;
    font-size: 22px;
    vertical-align: bottom;
    line-height: 0px;
  }
}