<!DOCTYPE HTML>
<html ng-app="carli.app">
    <head>
        <title>CARLI Select</title>
        <% styles.forEach( function ( file ) { %>
            <link rel="stylesheet" href="/<%= file %>"></script>
        <% }); %>
    </head>
    <body>
        <nav nav-bar></nav>
        <main ng-view></main>

        <!-- compiled JavaScript -->
        <% scripts.forEach( function ( file ) { %>
            <script type="text/javascript" src="/<%= file %>"></script>
        <% }); %>
    </body>
</html>
