<!DOCTYPE HTML>
<html ng-app="carli.app" lang="en">
    <head>
        <base href="/">
        <title>CARLI Select</title>
        <% styles.forEach( function ( file ) { %>
            <link type="text/css" rel="stylesheet" href="/<%= file %>">
        <% }); %>
        <link type="text/css" rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <header carli-header role="banner"></header>
        <nav nav-bar role="navigation"></nav>
        <alerts></alerts>
        <main role="main">
            <div ng-view role="application"></div>
        </main>

        <!-- compiled JavaScript -->
        <% scripts.forEach( function ( file ) { %>
            <script type="text/javascript" src="/<%= file %>"></script>
        <% }); %>
    </body>
</html>
