$add-contact-color: $orange;
$plus-icon-padding: .5em;

.view-contact {
    a {
        display: block;
        font-size: 12px;

        &.contact-phone {
            color: $black;
        }

        &.contact-email {
            color: $purple;
        }
    }
}

.add-contact,
.delete-contact {
    @include vendor-prefix(appearance, 'none');
    background: none;
    border: 0;
}

.add-contact {
    cursor: pointer;
    margin-top: $label-margin-top;
    color: $add-contact-color;
    padding-right: $plus-icon-padding;
    &:after {
        color: $add-contact-color;
        content: "\f055"; // fa-plus-circle
        font-size: 1.25em;
        font-family: "FontAwesome";
        position: relative;
        top: .05em;
        left: $plus-icon-padding;
    }
}
.delete-contact {
    cursor: pointer;
    color: $purple;
    font-size: 12px;
    margin-top: 2px;
}
