@import "../../common/styles/typefaces";
@import "../../common/styles/colors";
@import "../../common/styles/variables";
@import "../../common/styles/mixins";
@import "../../common/styles/helpers";
@import "../../common/styles/gridAdapter";
@import "../../common/styles/zebraTable";
@import "../../common/styles/carli";

@import "tagsInput";


.container,
.container-fluid {
    padding-left: $page-gutter;
    padding-right: $page-gutter;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.row [class^="col-"],
.row [class*=" col-"]{
    padding-right: 0;
    padding-left: 0;
}


.page-header {
    @extend .container-fluid;
    @include flexbox;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;

    border-bottom: $default-border;

    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .headings {
        @include flex(1 1 auto);
    }

    .controls {
        @include flex(1 1 auto);
        text-align: right;
        align-content: center;
    }
}
section.content {
    @extend .container-fluid;
    background-color: $white;
    &.list-content {
        background-color: transparent;
    }
    padding-bottom: 50px;
}

.list-page-header {
    @extend .container-fluid;
    @include flexbox;
    @include vendor-prefix('align-items', 'center');

    h1 {
        @include flex(1 1 auto);
        vertical-align: baseline;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .button-container {
        @include flex(1 1 auto);
        text-align: right;
        #new-vendor {
            margin: 0;
        }
    }
}




@import "../components/alerts/alerts";
@import "../components/buttons/buttons";
@import "../components/collapsible/collapsible";
@import "../components/checkbox/checkbox";
@import "../components/editOffering/_editOffering";
@import "../components/entityForms/editForm";
@import "../components/goodSelect/goodSelect";
@import "../components/carliHeader/carliHeader";
@import "../components/entityForms/license/editLicense";
@import "../components/entityForms/product/editProduct";
@import "../components/entityForms/vendor/editVendor";
@import "../components/entityList/entityList";
@import "../components/filterByActive/filterByActive";
@import "../components/navBar/navBar";
@import "../components/modalDialog/modalDialog";
@import "../components/newCycleForm/newCycleForm";
@import "../components/notificationList/notificationList";
@import "../components/notificationPreviewModal/notificationPreviewModal";
@import "../components/productSelectionHistoryIcon/productSelectionHistoryIcon";
@import "../components/radio/radio";
@import "../components/selectCycle/selectCycle";
@import "../components/spinner/spinner";
@import "../components/subscriptionScreenComponents/libraryInfo/libraryInfo";
@import "../components/subscriptionScreenComponents/offeringComments/offeringComments";
@import "../components/subscriptionScreenComponents/offeringPricing/offeringPricing";
@import "../components/userMenu/userMenu";
@import "../components/viewEditDirectives/viewEditCheckbox/viewEditCheckbox";
@import "../components/viewEditDirectives/viewEditContact/viewEditContact";
@import "../components/viewEditDirectives/viewEditDate/viewEditDate";
@import "../components/viewEditDirectives/viewEditRadios/viewEditRadios";
@import "../components/viewEditDirectives/viewEditSuPricing/viewEditSuPricing";
@import "../components/viewEditDirectives/viewEditPercentageField/viewEditPercentageField";

@import "../sections/libraries/libraries";
@import "../sections/licenses/licenses";
@import "../sections/notifications/notifications";
@import "../sections/oneTimePurchases/oneTimePurchases";
@import "../sections/oneTimePurchases/selectedProducts/selectedProducts";
@import "../sections/products/products";
@import "../sections/styleGuide/styleGuide";
@import "../sections/subscriptions/subscriptions";
@import "../sections/subscriptions/subscriptionsOfferingsEditor";
@import "../sections/subscriptions/carliEditingProductList/carliEditingProductList";
@import "../sections/subscriptions/librariesSelectingProducts/librariesSelectingProducts";
@import "../sections/subscriptions/productsAvailable/productsAvailable";
@import "../sections/subscriptions/vendorsSettingPrices/vendorsSettingPrices";
@import "../sections/vendors/vendors";
