<section class="content" id="dashboard" cg-busy="vm.loadingPromise">
    <h1>{{ vm.library.name }}'s Products</h1>

    <p class="purchased-message">This page lists all of the products that your library's patrons currently have access to through CARLI.
        If your library is not able to access any one of these items, please <a ask-carli="Dashboard - unable to access product - contact CARLI">contact CARLI</a>.</p>

    <div class="cycle-link-header">Jump to:</div>
    <ol class="cycle-link-list">
        <li class="cycle-link" ng-repeat="cycle in vm.cycles | orderBy:'-year' track by cycle.id">
            <button class="clear-button-styles" scroll-to="{{ cycle.id }}">Link to {{ cycle.name }}</button>
        </li>
    </ol>

    <ol class="cycle-list">
        <li class="cycle" ng-repeat="cycle in vm.cycles | orderBy:'-year' track by cycle.id" id="{{ cycle.id }}">
            <h2>{{ cycle.name }}</h2>
            <library-products-list-expandable cycle="cycle" library-id="{{ vm.library.id }}" license-on-click="vm.showLicenseAgreements"></library-products-list-expandable>

            <ask-carli-button context="Dashboard - {{ cycle.name }} products list"></ask-carli-button>
            <button class="carli-button" ng-if="cycle.id !== 'one-time-purchase-products-cycle'" ng-click="vm.viewUnselectedProductsFor(cycle)">
                View Upgrades and Unselected {{ cycle.name }} Subscription Products
            </button>
            <a class="carli-button" ng-hide="vm.userIsReadOnly()" href="/addOneTimePurchases" ng-if="cycle.id === 'one-time-purchase-products-cycle'">Add One-Time Purchases</a>
        </li>
    </ol>
</section>

<unselected-products cycle="vm.cycleForUnselectedProducts"></unselected-products>

<modal-dialog modal-id="'redacted-license-popup'" modal-title="'License Agreement and Amendments'">
    <div class="modal-body">
        <license-list license-id="vm.selectedLicenseId"></license-list>
    </div>
</modal-dialog>
