<section id="addSubscriptions">
    <div class="list-page-header" cg-busy="vm.loadingPromise">
        <h1>{{ vm.cycle.name }}</h1>
    </div>

    <section class="content list-content" ng-if="vm.chooseCycle">
        Choose Cycle
    </section>

    <section class="content list-content" ng-if="vm.activeCycle">
        <subscription-selections cycle="vm.cycle"></subscription-selections>
    </section>

    <section class="content list-content" ng-if="vm.noCycles">
        No Cycles!
    </section>
</section>