<div class="modal fade" id="new-user-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><fa aria-hidden="true" name="remove"></fa><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modal-label">New User</h4>
            </div>
            <ng-include src="vm.currentTemplate"></ng-include>
        </div>
    </div>
</div>
