view-edit-date {
    display: block;
    position: relative;

    input[type="text"] {
        padding-right: 26px;

        &.ng-invalid-date {
            border: 1px solid $error-red;

            & + .invalidDateNote,
            & + ul + .invalidDateNote {
                display: block;
            }
        }
    }

    .warning {
        color: $error-red;
        display: none;
    }

    .fa-calendar {
        cursor: pointer;
        position: absolute;
        right: 6px;
        top: 6px;
        @include font-size(17);
    }

    .dropdown-menu {
        border-radius: 0;
        margin: 0;
        padding: 8px;

        table {
            outline: none;
        }

        tr {
            @include flexbox;
            @include vendor-prefix('align-items', 'center');
        }

        th[colspan="6"],
        thead > tr:nth-child(2) > th {
            display: block; /* Firefox ignores flex properties if display is table related */
            @include flex(1 1 auto);
        }

        [role="heading"] {
            color: $purple;
        }

        /* There is a directive option for hiding the weeks but it does not appear to work */
        th[ng-show="showWeeks"],
        td[ng-show="showWeeks"] {
            display: none !important;
        }

        .glyphicon {
            font-family: "FontAwesome";
            font-size: 1.5rem;

            &.glyphicon-chevron-left:before {
                content: "\f0d9";
            }

            &.glyphicon-chevron-right:before {
                content: "\f0da";
            }
        }

        .btn {
            border: 0;
            border-radius: 0;

            &.active {
                background: $purple;

                .text-info {
                    color: $white;
                }
            }
        }
    }
}