view-edit-date {
    display: block;
    position: relative;

    input[type="text"] {
        padding-right: 26px;
    }

    .fa-calendar {
        cursor: pointer;
        position: absolute;
        right: 6px;
        top: 6px;
    }
}