.dashboard-content {

    &__section {
        float: left;
        min-width: 500px;
        padding: 16px;

        h2 {
            margin-top: 0;
        }

        ul {
            border: 1px solid $black;
        }
    }
}
