
<section id="dashboard">
    <div class="list-page-header">
        <h1>Dashboard</h1>
    </div>

    <section class="content list-content">
        <div class="dashboard-content">
            <div class="dashboard-content__section dashboard-content__section--subscriptions">
                <h2>Subscription Cycles</h2>
                <ul cg-busy="vm.cyclesLoading">
                    <li ng-repeat="cycle in vm.cycles">
                        <div class="column">
                            <a ng-href="/subscription/{{ cycle.id }}">{{ cycle.name }}</a>
                        </div>
                        <div class="column">
                            {{ cycle.getStatusLabel() }}
                        </div>
                        <div class="column">
                           Total: {{ vm.totalsByCycle[cycle.id].invoicePrice - vm.totalsByCycle[cycle.id].selectionPrice | currency}}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dashboard-content__section">
                <h2>Subscription: Recent Activity</h2>
                <ul class="" cg-busy="vm.activityLoading">
                    <li ng-repeat="log in vm.logs | filter: vm.subscriptionActivity">
                        <span class="user-email">{{ log.userEmail }}</span>
                        <span class="activity">{{ ::vm.subscriptionSummary(log) }}</span>
                    </li>
                </ul>
            </div>
            <div class="dashboard-content__section">
                <h2>One-Time Purchases: Recent Activity</h2>
                <ul class="" cg-busy="vm.activityLoading">
                    <li ng-repeat="log in vm.logs | filter: vm.oneTimePurchaseActivity">
                        {{ log.actionDescription }} {{ log.libraryName }}
                    </li>
                </ul>
            </div>
            <div class="dashboard-content__section">
                <h2>Library Changes</h2>
                <ul class="" cg-busy="vm.activityLoading">
                    <li ng-repeat="log in vm.logs | filter: vm.libraryActivity">
                        {{ log.actionDescription }} {{ log.libraryName }}
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>

<pre>
    {{ vm.logs | json }}
</pre>
