@media (min-width: (960px + 2*40)) {
    .modal-lg {
        width: (960px + 2*40);
    }
}

.modal-dialog {
    $modal-padding: 40px;
    $modal-line-height: 4rem;

    .modal-content {
        border-radius: 0;
    }
    
    .modal-header {
        background: $purple;
        padding-top: 0;
        padding-bottom: 0;
        
        button.close {
            color: #fff;
            line-height: $modal-line-height;
            opacity: 1;
            text-shadow: none;
            
            i.fa {
                font-size: 1.5rem;
            }
        }
        
        h4 {
            color: #fff;
            font-family: 'Dosis' sans-serif;
            line-height: $modal-line-height;
            text-transform: uppercase;
        }
    }
    
    .modal-footer {
        background: $light-gray;
        line-height: $modal-line-height;
        padding-top: 0;
        padding-bottom: 0;
    }

    .page-header, {
        padding-top: 15px;
        padding-left: $modal-padding;
        padding-right: $modal-padding;
    }

    section.content {
        padding-left: $modal-padding;
        padding-right: $modal-padding;

        footer {
            margin-left: -$modal-padding;
            margin-right: -$modal-padding;
            max-width: none;
        }
    }
}