modal-dialog {
    $height: 4rem;

    .modal-content {
        border-radius: 0;
    }
    
    .modal-header {
        background: $purple;
        padding-top: 0;
        padding-bottom: 0;
        
        button.close {
            color: #fff;
            font-size: 1.5rem;
            line-height: $height;
            opacity: 1;
            text-shadow: none;
        }
        
        h4 {
            color: #fff;
            font-family: 'Dosis' sans-serif;
            line-height: $height;
            text-transform: uppercase;
        }
    }
    
    .modal-footer {
        background: $light-gray;
        line-height: $height;
        padding-top: 0;
        padding-bottom: 0;
    }
}