<div class="label">Comments:</div>
<p>{{ vm.offering.libraryComments || vm.offering.product.comments}}</p>

<div class="termsAndHistory">
    <div class="terms">
        <div class="label">Specific Terms</div>
        <ul class="terms-list">
            <li>
                <span class="label">Download Digital Copy:</span>
                <span class="term">{{ vm.offering.product.terms.downloadTerms || vm.offering.product.license.terms.downloadTerms }}</span>
            </li>
            <li>
                <span class="label">ILL:</span>
                <span class="term">{{ vm.offering.product.terms.interLibraryLoanTerms || vm.offering.product.license.terms.interLibraryLoanTerms }}</span>
            </li>

            <li>
                <span class="label">Course Packs:</span>
                <span class="term">{{ vm.offering.product.terms.coursePacksTerms || vm.offering.product.license.terms.coursePacksTerms }}</span>
            </li>

            <li>
                <span class="label">Print Copy:</span>
                <span class="term">{{ vm.offering.product.terms.printTerms || vm.offering.product.license.terms.printTerms}}</span>
            </li>

            <li>
                <span class="label">Limited Sharing for Scholarly Purposes:</span>
                <span class="term">{{ vm.offering.product.terms.limitedScholarlySharingTerms || vm.offering.product.license.terms.limitedScholarlySharingTerms}}</span>
            </li>

            <li>
                <span class="label">E-Reserves:</span>
                <span class="term">{{ vm.offering.product.terms.eReservesTerms || vm.offering.product.license.terms.eReservesTerms}}</span>
            </li>

            <li>
                <span class="label">Confidentiality of Agreement:</span>
                <span class="term">{{ vm.offering.product.terms.confidentialityAgreement || vm.offering.product.license.terms.confidentialityAgreement}}</span>
            </li>

            <li>
                <span class="label">Confidentiality of User Information:</span>
                <span class="term">{{ vm.offering.product.terms.confidentialityUserInfo || vm.offering.product.license.terms.confidentialityUserInfo}}</span>
            </li>

            <li>
                <span class="label">Text & Data Mining:</span>
                <span class="term">{{ vm.offering.product.terms.dataMining || vm.offering.product.license.terms.dataMining}}</span>
            </li>

            <li>
                <span class="label">Accessibility Compliance:</span>
                <span class="term">{{ vm.offering.product.terms.accessibilityCompliance || vm.offering.product.license.terms.accessibilityCompliance}}</span>
            </li>

            <li>
                <span class="label">Video Performance Rights:</span>
                <span class="term">{{ vm.offering.product.terms.videoPerformance || vm.offering.product.license.terms.videoPerformance}}</span>
            </li>
        </ul>
    </div>
    <subscription-history-table cycle="vm.cycle" product="::vm.offering.product" library="vm.library"></subscription-history-table>
</div>

<license-list license-id="vm.offering.product.license.id"></license-list>