.edit-contact {
    @include grid-row();
    .form-group {
        @include grid-column(4);
        margin-bottom: 0;
        padding-left: 10px;
        label {
            font-weight: normal;
            margin-top: 0;
        }
    }
    .form-group:first-child {
        padding-left: 0;
    }
}