<div class="edit-contact" ng-show="editMode">
    <div class="form-group">
        <label for="contactName">Name</label>
        <input type="text" name="contactName" ng-model="contact.name">
    </div>
    <div class="form-group">
        <label for="contactEmail">Email</label>
        <input type="text" name="contactName" ng-model="contact.email">
    </div>
    <div class="form-group">
        <label for="contactPhone">Phone</label>
        <input type="text" name="contactName" ng-model="contact.phoneNumber">
    </div>
</div>
<div class="view-contact" ng-show="!editMode">
    <div class="contact-name">{{ contact.name }}</div>
    <div class="contact-contact-methods">
        <a class="contact-phone" href="tel:{{ contact.phoneNumber }}">{{ contact.phoneNumber }}</a>
        <a class="contact-email" href="mailto:{{ contact.email }}">{{ contact.email }}</a>
    </div>
</div>
