ul.product-list.selected-products {
  .column.product {
    flex-grow: 2;
  }

  .column.license {
    cursor: pointer;
  }

  .column.cost {
    color: black;
    flex: none;
    width: 200px;
  }

  .column.su {
    color: black;
  }

  li.summary-row {
    .column.cost {
      background: $white;
      color: $green;
      font-weight: bold;
    }

    .column.total {
      text-align: right;
    }
  }
}