.carli-select {
    $height: 32px;
    position: relative;
    
    select {
        @include vendor-prefix('appearance', 'none');
        background: #fff;
        border: $default-border;
        border-radius: .33rem;
        font-family: 'Verdana' sans-serif;
        @include font-size(15);
        line-height: $height;
        outline: none;
        padding: 0 3rem 0 1rem;
    }
    
    &:after {
        content: "\f0dc";
        display: inline-block;
        font-family: 'FontAwesome';
        font-size: 1.5em;
        line-height: $height;
        right: 0;
        pointer-events: none;
        position: absolute;
        text-align: center;
        text-rendering: auto;
        top: 0rem;
        width: 2rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}