.carli-select {
    $height: 32px;
    position: relative;
    display: inline-block;
    
    select {
        @include vendor-prefix('appearance', 'none');
        background: #fff;
        border: $default-border;
        border-radius: .33rem;
        font-family: 'Verdana', sans-serif;
        @include font-size(15);
        height: $height; //Firefox needs this defined because it ignores line-height
        line-height: $height;
        padding: 0 1.75rem 0 0.5rem;
        width: 100%;

        &::-ms-expand {
            display: none;
        }
    }
    
    &:after {
        content: "\f0dc";
        display: inline-block;
        font-family: 'FontAwesome';
        font-size: 1.5em;
        line-height: $height;
        right: 0;
        pointer-events: none;
        position: absolute;
        text-align: center;
        text-rendering: auto;
        top: 0rem;
        width: 2rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
