<products-available-by-vendor ng-if="vm.cycleRouter.groupBy === 'vendor'" on-offering-saved="vm.updateSelectionAndInvoiceTotals"></products-available-by-vendor>
<products-available-by-library ng-if="vm.cycleRouter.groupBy === 'library'" on-offering-saved="vm.updateSelectionAndInvoiceTotals"></products-available-by-library>

<div class="invoice-summary">
    <div class="row">
        <span class="label">Vendor Invoices Received Total:</span> {{ vm.cycleTotals.invoicePrice | currency }}
    </div>
    <div class="row">
        <span class="label">Library Invoices Total:</span> {{ vm.cycleTotals.selectionPrice | currency }}
    </div>
    <div class="row">
        <span class="label">Selection System Total:</span> {{ vm.cycleTotals.invoicePrice - vm.cycleTotals.selectionPrice | currency }}
    </div>
</div>


<button type="button" class="carli-button pull-left" busy-click="vm.undoCloseSystem()">Undo Close System</button>
<button type="button" class="carli-button" busy-click="vm.exportForBanner()">Export for Banner</button>

<div class="placeholder" style="width: 400px; margin-bottom: 1rem;">
    TODO: Archive Button
</div>
