<ul ng-if="vm.userName">
    <li class="dropdown">
        <a data-toggle="dropdown"
           data-target="#user-menu"
           href="">Hi, {{ vm.userName }}!
        <span style="display: none" ng-if="vm.isStaffUser"> ({{ vm.libraryName }})</span>
        <button id="user-menu-label"
                class="clear-button-styles"
                type="button"
                aria-haspopup="true"
                aria-expanded="false">
            <span class="sr-only">Open user menu</span>
            <span class="fa fa-cog"></span>
        </button>
        </a>
        <ul id="user-menu" class="dropdown-menu" role="menu" aria-labelledby="user-menu-label">
            <li ng-if="vm.isStaffUser"><a href="/masquerade">Masquerade as…</a></li>
            <li><a ng-click="vm.logout()">Log out</a></li>
        </ul>

    </li>
</ul>
