<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="debugHeading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#debugCollapse" aria-expanded="true" aria-controls="debugCollapse">
                <fa name="bug"></fa>
            </a>
        </h4>
    </div>
    <div id="debugCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="debugHeading">
        <div class="panel-body">
            <pre><span ng-transclude></span></pre>
        </div>
    </div>
</div>
