<table id="invoiceContent">
    <tr>
        <th class="vendor">Item</th>
        <th class="amount">Amount</th>
    </tr>
    {{# if ishare }}
    <tr>
        <td class="product">I-Share</td>
        <td class="amount">$<span class="align">{{ currency ishare }}</span></td>
    </tr>
    {{/if}}
    {{# if membership }}
    <tr>
        <td class="product">CARLI Membership</td>
        <td class="amount">$<span class="align">{{ currency membership }}</span></td>
    </tr>
    {{/if}}
    <tr class="footer">
        <td class="product">Total</td>
        <td class="total amount">$<span class="align">{{ currency invoiceTotal }}</span></td>
    </tr>
</table>
