[collapsible] {

    header {

    }

    .content {
        height: 120px;
        overflow: hidden;
        transition: height .4s;
    }

}

[collapsible].collapsed {

    header {

    }

    .content {
        height: 0px;
    }
}