<div class="modal fade" id="notification-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><fa aria-hidden="true" name="remove"></fa><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modal-label">Notification: {{ vm.template.name }}</h4>
            </div>
            <div class="modal-body">
                <label for="recipients">To</label>
                <textarea id="recipients">{{ vm.draft.recipients }}</textarea>

                <label for="subject">Subject Line</label>
                <input id="subject" type="text" value="{{ vm.draft.subject }}">

                <label for="emailBody">Email Text</label>
                <textarea id="emailBody">{{ vm.draft.emailBody }}</textarea>

                <div ng-show="vm.template.isPdfContentEditable">
                    <label for="pdfBody">Invoice Text</label>
                    <textarea id="pdfBody">{{ vm.draft.pdfBody }}</textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="carli-button cancel-button" data-dismiss="modal">Cancel</button>
                <button type="button" class="carli-button save-button" ng-click="vm.saveNotifications()">Save</button>
             </div>
        </div>
    </div>
</div>
