<div class="site-pricing" ng-class="{ 'single-column': vm.hidePreviousYear }">
    <div class="column" ng-if="!vm.hidePreviousYear">
        <div class="header"><strong>{{ ::vm.year - 1 }}</strong> Price</div>
        <div class="row">{{ ::vm.offering.history[vm.year - 1].pricing.site | currency }}</div>
    </div>
    <div class="column">
        <div class="header"><strong>{{ ::vm.year }}</strong> Price</div>
        <div class="row">
            <view-edit-price ng-model="vm.offering.pricing.site" funded-price="vm.fundedPrice" input-id="offering-pricing-site" edit-mode="vm.editMode">
                {{ vm.offering.pricing.site | currency }}
            </view-edit-price>
            <!--<div tabindex="0" class="comment-marker fa fa-comment-o"></div>-->
        </div>
    </div>
</div>
<div class="su-pricing" ng-class="{ 'single-column': vm.hidePreviousYear }">
    <div class="header"><strong>Simultaneous User Price</strong></div>

    <div class="pricing-container">
        <div class="column" ng-if="!vm.hidePreviousYear">
            <div class="edit-su-pricing">
                <table>
                    <thead>
                    <tr>
                        <th><strong>{{ ::vm.year - 1 }}</strong> Price</th>
                        <th>User(s)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="offer in vm.offering.history[vm.year - 1].pricing.su">
                        <td>{{ ::offer.price | currency }}</td>
                        <td>{{ ::offer.users }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column">
            <view-edit-su-pricing year="vm.year" edit-mode="vm.editMode" ng-model="vm.offering.pricing.su" input-id="offering.id"></view-edit-su-pricing>
        </div>
    </div>
</div>
