
$button-padding: 10px;
$button-height: 40px;

@mixin carli-button-hover {
    background-color: $light-gray;
    text-decoration: none;
    color: $dark-orange;
}
.carli-button {
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    @include font-size(15);
    background-color: $white;
    color: $orange;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid $gray;
    padding: $button-padding;
    text-align: center;
    line-height: $button-height - (2 * $button-padding);
    height: $button-height;
    min-width: 110px;
    display: inline-block;

    i {
        margin: 10px 0px 10px 10px;
        @include font-size(22);
        vertical-align: bottom;
        line-height: 0px;
    }

    &:hover {
        @include carli-button-hover;
    }
}

@mixin cancel-button-hover {
    color: $dark-purple;
}
.cancel-button {
    background-color: $white;
    color: $purple;
    &:hover {
        @include cancel-button-hover;
    }
}

@mixin save-button-hover {
    background-color: $dark-orange;
    color: $white;
}
.save-button {
    background-color: $orange;
    color: $white;
    &:hover {
        @include save-button-hover;
    }
}

@mixin list-button-hover {
    background-color: $white;
    color: $orange;
}
@mixin list-button {
    background-color: $white;
    color: $gray;
    &:hover {
        @include list-button-hover;
    }
}
.list-button {
    @include list-button;
}


@mixin ask-button-hover {
    color: $gray;
    background-color: $purple;
}

.ask-button {
    background-color: $purple;
    border: 1px solid $dark-purple;
    color: $white;
    &:hover {
        @include ask-button-hover;
    }
}

@mixin remove-button-hover {
    color: $gray;
    background-color: $red;
}

.remove-button {
    background-color: $red;
    border: 1px solid $dark-red;
    color: $white;
    &:hover {
        @include remove-button-hover;
    }
}