<modal-dialog modal-title="'Create New Cycle'" modal-id="'new-cycle-modal'" modal-class="">
    <form id="new-cycle-form" class="edit-form" name="newCycleForm" warn-if-unsaved>
        <section class="content">
            <fieldset>
                <div class="column">
                    <label for="cycleType">Cycle Type</label>
                    <div>
                        <div class="carli-select">
                            <select id="cycleType"
                                    ng-model="vm.cycle.cycleType"
                                    ng-options="option for option in vm.cycleTypeOptions"
                                    ng-change="vm.updateCopyFromOptions(); vm.resetSourceCycle()"></select>
                        </div>
                    </div>
                    <div ng-show="vm.matchingCyclesOfType && vm.matchingCyclesOfType.length > 0">
                        <label for="copyFrom">Copy Cycle Data From</label>
                        <div>
                            <div class="carli-select">
                                <select id="copyFrom"
                                        ng-model="vm.sourceCycle"
                                        ng-options="option.name for option in vm.matchingCyclesOfType"
                                        ng-change="vm.populateFormForSourceCycle()"></select>
                            </div>
                        </div>
                    </div>
                    <div ng-show="vm.cycle.cycleType == 'Alternative Cycle'">
                        <label for="cycleDescription">Description for Alternative Cycle</label>
                        <input id="cycleDescription" type="text" ng-model="vm.cycle.description">
                    </div>

                    <label for="cycleYear">Year</label>
                    <view-edit-integer input-id="cycleYear" ng-model="vm.cycle.year" ng-change="vm.updateCycleNamePreview()" edit-mode="true"></view-edit-integer>

                    <div ng-if="vm.cycle.cycleType">
                        <div class="label">The cycle's name will be</div>
                        <div>{{ vm.cycleNamePreview }}</div>
                    </div>

                    <label for="xxx">Selections Available</label>
                    <p>
                        <em>Libraries will see this date range <strong>estimate</strong> indicating when they can make selections.</em>
                    </p>
                    <view-edit-date ng-model="vm.cycle.startDateForSelections" edit-mode="true"></view-edit-date> to
                    <view-edit-date ng-model="vm.cycle.endDateForSelections" edit-mode="true"></view-edit-date>

                    <label for="productsAvailableDate">Products Available to Patrons</label>
                    <view-edit-date input-id="productsAvailableDate" ng-model="vm.cycle.productsAvailableDate" edit-mode="true"></view-edit-date>
                </div>

                <div class="placeholder">Manage Surcharge</div>
            </fieldset>
        </section>
        <div class="footer">
            <fieldset>
                <button type="button" class="carli-button cancel-button" data-dismiss="modal" ng-click="vm.cancelEdit()">Cancel</button>
                <button type="button" class="carli-button save-button" id="cycle-submit" busy-click="vm.saveCycle()">Save</button>
            </fieldset>
        </div>
    </form>
</modal-dialog>
