<ul class="vendor-accordion">
    <li carli-accordion ng-repeat="vendor in vm.vendors | orderBy: 'name'">
        <div class="accordion-header" ng-click="vm.loadProductsForVendor(vendor)" cg-busy="vm.loadingPromise[vendor.id]">
            <button type="button" class="angle-icon-container">
                <fa name="angle-down"></fa><span class="sr-only">Open offering for {{vendor.name}}</span>
            </button>
            {{ vendor.name }}
            <span class="vendor-status reviewed-message" ng-show="vendor.reviewed">Products reviewed</span>
        </div>
        <div class="content">
            <ul class="entity-list" role="grid">
                <li class="column-headers" role="row">
                    <div role="columnheader" id="product-name-column-header" class="sortable column product-name" ng-class="{ activeSort: vm.orderBy === 'name', reversedSort: vm.reverse }" ng-click="vm.sort('name')">
                        Product
                    </div>
                    <div role="columnheader" id="selection-history-column-header" class="column selection-history" ng-repeat="year in vm.yearsToDisplay">{{ year }}</div>
                    <div role="columnheader" id="last-price-column-header" class="sortable column last-price" ng-class="{ activeSort: vm.orderBy === 'lastPrice', reversedSort: vm.reverse }" ng-click="vm.sort('lastPrice')">
                        Last Price
                    </div>
                    <div role="columnheader" id="funded-column-header" class="column funded">Funded</div>
                    <div role="columnheader" id="remove-column-header" class="column remove">Remove</div>
                </li>
                <li role="row" class="" ng-repeat="product in vendor.products | filter:{isActive:true} | orderBy:vm.orderBy:vm.reverse track by product.id">
                    <div role="gridcell" aria-describedby="product-name-column-header" class="column product-name">{{ vm.getProductDisplayName(product) }} <em ng-if="product.isThirdPartyProduct">(3<sup>rd</sup> Party Product)</em></div>
                    <div role="gridcell" aria-describedby="selection-history-column-header" class="column selection-history" ng-repeat="history in product.historicalPricing | orderBy:'year'">
                        <product-selection-history-icon selected="{{ history.description }}"></product-selection-history-icon>
                    </div>
                    <div role="gridcell" aria-describedby="last-price-column-header" class="column last-price">{{ product.pricingLastYear }}</div>
                    <div role="gridcell" aria-describedby="funded-column-header" class="column funded"><fa name="question-circle" class="todo"></fa></div>
                    <div role="gridcell" aria-describedby="remove-column-header" class="column remove">
                        <button class="carli-button subdued-remove-button" busy-click="vm.removeProduct(product)">Remove <fa name="times"></fa></button>
                    </div>
                </li>
            </ul>
            <div class="footer">
                <checkbox ng-model="vendor.reviewed">Mark products as reviewed</checkbox>
                <div class="placeholder" style="width: 300px;">Print / Export / Email</div>
            </div>
        </div>
    </li>
</ul>

<button type="button" class="carli-button pull-right" busy-click="vm.openVendorPricing()">Open Vendor Pricing</button>
