#oneTimePurchases {

    .list-page-header {
        border-bottom: $default-border;
    }
    
    section.content {
        padding-top: 1rem;
    }

    filter-by-active-toggle {
        display: none;
    }
    entity-list {
        li:hover .list-button {
            @include list-button-hover;
        }
        .column:first-child {
            flex: 2 1 70%;
            padding-bottom: 0;
        }

        .column {
            flex: 1 1 15%;
        }

        .column:last-child {
            flex: 0 0 120px;
            padding: 4px;
        }
    }

    .notifications {
        margin-top: 2rem;

        header {
            @extend label;
            display: block;
        }

        .carli-button {
            margin-top: 0;
            margin-right: .5rem;
        }
    }
}
