<section id="oneTimePurchases">
    <div class="list-page-header">
        <h1>One-Time Purchases</h1>

        <div class="button-container">

            <div class="controls group-by-toggle">
                <button type="button"
                        class="toggle-button"
                        ng-class="{ 'active': vm.groupBy === 'vendor' }"
                        ng-click="vm.groupBy = 'vendor'">Vendor</button
                        ><button type="button"
                                 class="toggle-button"
                                 ng-class="{ 'active': vm.groupBy === 'library' }"
                                 type="button" ng-click="vm.groupBy = 'library'">Library</button>
            </div>
        </div>
    </div>

    <one-time-purchases-by-vendor ng-if="vm.groupBy === 'vendor'"></one-time-purchases-by-vendor>
    <one-time-purchases-by-library ng-if="vm.groupBy === 'library'"></one-time-purchases-by-library>
</section>

<notification-modal></notification-modal>
