    <form class="edit-form" ng-class="vm.editable ? 'editMode' : 'viewMode'" name="licenseForm" ng-submit="vm.saveLicense(); vm.closeNewLicenseModal();" warn-if-unsaved>

        <header class="page-header">
            <h1 ng-show="vm.newLicense">New License</h1>

            <fieldset>
                <div class="name">
                    <label for="licenseName">License Name</label>
                    <view-edit-text-field ng-model="vm.license.name" edit-mode="vm.editable"><h1>{{ vm.license.name }}</h1>
                    </view-edit-text-field>
                </div>

                <div ng-show="!vm.newLicense" class="edit-buttons pull-right">
                    <div ng-show="vm.editable">
                        <button type="button" class="carli-button cancel-button" ng-click="vm.cancelEdit()">Cancel</button>
                        <input class="carli-button save-button" ng-disabled="!vm.editable" type="submit" value="Save">
                    </div>

                    <button type="button" id="license-edit" class="carli-button" ng-hide="vm.editable" ng-click="vm.toggleEditable()">Edit<i class="fa fa-edit"></i></button>
                </div>
            </fieldset>
        </header>

        <section class="content">
            <fieldset>
                <div class="column">
                    <label>Vendor</label>
                    <view-edit-typeahead ng-model="vm.license.vendor" options="vm.vendorList" edit-mode="vm.newLicense">
                        {{ vm.license.vendor.name }}
                    </view-edit-typeahead>

                    <label>Contract Number</label>
                    <view-edit-text-field ng-model="vm.license.contractNumber"  edit-mode="vm.editable">{{ vm.license.contractNumber }}</view-edit-text-field>

                    <label>Redacted License</label>
                    <view-edit-text-field ng-model="vm.license.redactedLicenseFile"  edit-mode="vm.editable">{{ vm.license.redactedLicenseFile }}</view-edit-text-field>

                    <div class="placeholder">
                        TODO: File upload
                    </div>

                    <label>Full License</label>
                    <view-edit-text-field ng-model="vm.license.fullLicenseFile"  edit-mode="vm.editable">{{ vm.license.fullLicenseFile }}</view-edit-text-field>

                    <div class="placeholder">
                        TODO: File upload
                    </div>

                    <label for="eResourceComments">Internal E-Resource Comments</label>
                    <view-edit-text-area class="e-resource-comments" ng-model="vm.license.eResourceComments" edit-mode="vm.editable">{{ vm.license.eResourceComments }}</view-edit-text-area>

                    <label for="businessComments">Internal Business Services Comments</label>
                    <view-edit-text-area class="business-comments" ng-model="vm.license.businessComments" edit-mode="vm.editable">{{ vm.license.businessComments }}</view-edit-text-area>

                    <div class="unlabeled-element">
                        <a ng-click="vm.showProductsModal()" ng-show="!vm.newLicense">View all Products attached​ to this License Agreement</a>
                    </div>

                    <label for="vendorStatus">Status</label>
                    <view-edit-radios radio-group-name="isActive" items="vm.statusOptions" ng-model="vm.license.isActive" edit-mode="vm.editable"><h3>{{ vm.license.isActive ? 'Active' : 'Inactive' }}</h3></view-edit-radios>

                </div>
                <div class="column">
                    <label>Date Effective</label>
                    <view-edit-date ng-model="vm.license.effectiveDate" edit-mode="vm.editable">{{ vm.license.effectiveDate | date:'MM/d/yy' }}</view-edit-date>
                    <label>Total Contract Term</label>
                    <div class="date-range">
                        <view-edit-date class="start-date" ng-model="vm.license.totalTermStartDate" edit-mode="vm.editable">{{ vm.license.totalTermStartDate | date:'MM/d/yy' }}</view-edit-date>
                        <span class="separator"> to </span>
                        <view-edit-date class="end-date" ng-model="vm.license.totalTermEndDate" edit-mode="vm.editable">{{ vm.license.totalTermEndDate | date:'MM/d/yy' }}</view-edit-date>
                    </div>
                    <label>Current Term</label>

                    <div class="date-range">
                        <view-edit-date class="start-date" ng-model="vm.license.currentTermStartDate" edit-mode="vm.editable">{{ vm.license.currentTermStartDate | date:'MM/d/yy' }}</view-edit-date>
                        <span class="separator"> to </span>
                        <view-edit-date class="end-date" ng-model="vm.license.currentTermEndDate" edit-mode="vm.editable">{{ vm.license.currentTermEndDate | date:'MM/d/yy' }}</view-edit-date>
                        <label>Remaining Renewals</label>
                    </div>
                    <view-edit-number-field ng-model="vm.license.remainingRenewals"  edit-mode="vm.editable">{{ vm.license.remainingRenewals }}</view-edit-number-field>

                    <h2>Specific Terms</h2>
                    <div class="terms-overrides">
                        <div class="term">
                            <label>Download</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.downloadTerms" edit-mode="vm.editable">
                                {{ vm.license.terms.downloadTerms }}
                            </view-edit-yes-no-other>
                        </div>
                        <div class="term">
                            <label>Course Packs</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.coursePacksTerms" edit-mode="vm.editable">
                                {{ vm.license.terms.coursePacksTerms }}
                            </view-edit-yes-no-other>
                        </div>

                        <div class="term">
                            <label>ILL</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.interLibraryLoanTerms" edit-mode="vm.editable">
                                {{ vm.license.terms.interLibraryLoanTerms }}
                            </view-edit-yes-no-other>
                        </div>
                        <div class="term">
                            <label>Print (in accordance with the Copyright Act)</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.printTerms" edit-mode="vm.editable">
                                {{ vm.license.terms.printTerms }}
                            </view-edit-yes-no-other>
                        </div>

                        <div class="term">
                            <label>Limited Sharing for Scholarly Purposes</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.limitedScholarlySharingTerms" edit-mode="vm.editable">
                                {{ vm.license.terms.limitedScholarlySharingTerms }}
                            </view-edit-yes-no-other>
                        </div>
                        <div class="term">
                            <label>Use by Walk-ins</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.walkinTerms" edit-mode="vm.editable">
                                {{ vm.license.terms.walkinTerms }}
                            </view-edit-yes-no-other>
                        </div>

                        <div class="term">
                            <label>E-Reserves</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.eReservesTerms" edit-mode="vm.editable">
                                {{ vm.license.terms.eReservesTerms }}
                            </view-edit-yes-no-other>
                        </div>
                        <div class="term">
                            <label>Confidentiality Language</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.hasConfidentialityLanguage" edit-mode="vm.editable">
                                {{ vm.license.terms.hasConfidentialityLanguage }}
                            </view-edit-yes-no-other>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <label>PO Number</label>
                    <view-edit-text-field ng-model="vm.license.purchaseOrderNumber"  edit-mode="vm.editable">{{ vm.license.purchaseOrderNumber }}</view-edit-text-field>
                    <label>PO Amount</label>
                    <view-edit-text-field ng-model="vm.license.purchaseOrderAmount"  edit-mode="vm.editable">{{ vm.license.purchaseOrderAmount }}</view-edit-text-field>
                    <label ng-show="!vm.newLicense">PO Balance</label>
                    <div>{{ vm.license.purchaseOrderBalance }}</div>

                    <div class="placeholder">
                        TODO: PO Balance
                    </div>

                    <label>Banner ID</label>
                    <view-edit-text-field ng-model="vm.license.bannerId"  edit-mode="vm.editable">{{ vm.license.bannerId }}</view-edit-text-field>

                    <h2>Type</h2>
                    <view-edit-checkbox ng-model="vm.license.isRfp" edit-mode="vm.editable" label="'RFP'">
                        RFP: {{ vm.license.isRfp ? 'Yes' : 'No' }}
                    </view-edit-checkbox>
                    <view-edit-checkbox ng-model="vm.license.isSoleSource" edit-mode="vm.editable" label="'Sole Source'">
                        Sole Source: {{ vm.license.isSoleSource ? 'Yes' : 'No' }}
                    </view-edit-checkbox>
                    <view-edit-checkbox ng-model="vm.license.isSealedBid" edit-mode="vm.editable" label="'Sealed Bid'">
                        Sealed Bid: {{ vm.license.isSealedBid ? 'Yes' : 'No' }}
                    </view-edit-checkbox>
                    <view-edit-checkbox ng-model="vm.license.isOtherType" edit-mode="vm.editable" label="'Other'">
                        Other: {{ vm.license.isOtherType ? 'Yes' : 'No' }}
                    </view-edit-checkbox>
                    <view-edit-text-field ng-model="vm.license.otherType"  edit-mode="vm.editable">{{ vm.license.otherType }}</view-edit-text-field>

                    <label>Product / Service</label>
                    <view-edit-radios radio-group-name="offeringType" items="vm.offeringTypeOptions" ng-model="vm.license.offeringType" edit-mode="vm.editable">{{ vm.license.offeringType }}</view-edit-radios>

                </div>
            </fieldset>
        </section>

        <footer ng-show="vm.editable">
            <fieldset>
                <button type="button" class="carli-button cancel-button" data-dismiss="modal" ng-click="vm.cancelEdit()">Cancel</button>
                <input type="submit" id="license-submit" class="carli-button save-button" value="Save"></input>
            </fieldset>
        </footer>
    </form>


    <modal-dialog modal-id="'products-modal'" title="'Products'">
        <ng-include src="'carliApp/components/entityForms/license/productsModal.html'"></ng-include>
    </modal-dialog>

    <hr>
    <debug-panel>{{ vm.license | json }}</debug-panel>
