    <form class="edit-form" ng-class="vm.editable ? 'editMode' : 'viewMode'" name="licenseForm" ng-submit="vm.saveLicense()" warn-if-unsaved cg-busy="vm.loadingPromise">

        <div class="page-header">
            <div class="headings">
                <label for="licenseName">License Name</label>
                <view-edit-text-field ng-model="vm.license.name" edit-mode="vm.editable" input-id="licenseName">
                    <h1>{{ vm.license.name }}</h1>
                </view-edit-text-field>
            </div>
            <div ng-show="!vm.newLicense" class="controls">
                <div ng-show="vm.editable">
                    <button type="button" class="carli-button cancel-button" ng-click="vm.cancelEdit()">Cancel</button>
                    <input class="carli-button save-button" ng-disabled="!vm.editable" type="submit" value="Save" ng-disabled="vm.userIsReadOnly">
                </div>

                <button type="button" id="license-edit" class="carli-button" ng-hide="vm.editable" ng-click="vm.toggleEditable()" ng-disabled="vm.userIsReadOnly">Edit<i class="fa fa-edit"></i></button>
            </div>
        </div>

        <section class="content">
            <fieldset>
                <div class="column">
                    <label for="vendor">Vendor</label>
                    <view-edit-typeahead ng-model="vm.license.vendor" options="vm.vendorList" edit-mode="vm.newLicense" input-id="vendor">
                        <span class="value">{{ vm.license.vendor.name || 'N/A' }}</span>
                    </view-edit-typeahead>

                    <label for="contractNumber">Contract Number</label>
                    <view-edit-text-field ng-model="vm.license.contractNumber"  edit-mode="vm.editable" input-id="contractNumber">
                        <span class="value">{{ vm.license.contractNumber || 'N/A' }}</span>
                    </view-edit-text-field>

                    <div class="label">Redacted License</div>
                    <file-upload-list ng-if="vm.license.id" document-id="vm.license.id"
                            attachment-category="redacted"
                            upload-button-label="Upload Redacted License"></file-upload-list>

                    <div class="label">Full License</div>
                    <file-upload-list ng-if="vm.license.id" document-id="vm.license.id"
                              attachment-category="full"
                              upload-button-label="Upload Full License"></file-upload-list>

                    <label for="eResourceComments">Internal E-Resource Comments</label>
                    <view-edit-text-area class="e-resource-comments" ng-model="vm.license.eResourceComments" edit-mode="vm.editable" input-id="eResourceComments">
                        <span class="value">{{ vm.license.eResourceComments || 'N/A' }}</span>
                    </view-edit-text-area>

                    <label for="businessComments">Internal Business Services Comments</label>
                    <view-edit-text-area class="business-comments" ng-model="vm.license.businessComments" edit-mode="vm.editable" input-id="businessComments">
                        <span class="value">{{ vm.license.businessComments || 'N/A' }}</span>
                    </view-edit-text-area>

                    <div class="unlabeled-element">
                        <a ng-click="vm.showProductsModal()" ng-show="!vm.newLicense">View all Products attached​ to this License Agreement</a>
                    </div>

                    <div class="label">License Status</div>
                    <view-edit-radios radio-group-name="isActive" radio-group-legend="License Status" items="vm.statusOptions" ng-model="vm.license.isActive" edit-mode="vm.editable" input-id="vendorStatus">
                        <span class="value">{{ vm.license.isActive ? 'Active' : 'Inactive' }}</span>
                    </view-edit-radios>

                </div>
                <div class="column">
                    <label for="effectiveDate">Date Effective</label>
                    <view-edit-date ng-model="vm.license.effectiveDate" edit-mode="vm.editable" input-id="effectiveDate">
                        <span class="value">{{ (vm.license.effectiveDate | date:'MM/dd/yyyy') || 'N/A' }}</span>
                    </view-edit-date>

                    <label for="totalTermStartDate">Total Contract Term</label>
                    <div class="date-range">
                        <div class="date-group">
                            <label for="totalTermStartDate">Start Date</label>
                            <view-edit-date class="start-date" ng-model="vm.license.totalTermStartDate" edit-mode="vm.editable" input-id="totalTermStartDate">
                                <span class="value">{{ (vm.license.totalTermStartDate | date:'MM/dd/yyyy') || 'N/A' }}</span>
                            </view-edit-date>
                        </div>
                        <div class="date-group">
                            <label for="totalTermEndDate">End Date</label>
                            <view-edit-date class="end-date" ng-model="vm.license.totalTermEndDate" edit-mode="vm.editable" input-id="totalTermEndDate">
                                <span class="value">{{ (vm.license.totalTermEndDate | date:'MM/dd/yyyy') || 'N/A' }}</span>
                            </view-edit-date>
                        </div>
                    </div>

                    <div class="label">Current Term</div>
                    <div class="date-range">
                        <div class="date-group">
                            <label for="currentTermStartDate">Start Date</label>
                            <view-edit-date class="start-date" ng-model="vm.license.currentTermStartDate" edit-mode="vm.editable" input-id="currentTermStartDate">
                                <span class="value">{{ (vm.license.currentTermStartDate | date:'MM/dd/yyyy') || 'N/A' }}</span>
                            </view-edit-date>
                        </div>
                        <div class="date-group">
                            <label for="currentTermEndDate">End Date</label>
                            <view-edit-date class="end-date" ng-model="vm.license.currentTermEndDate" edit-mode="vm.editable" input-id="currentTermEndDate">
                                <span class="value">{{ (vm.license.currentTermEndDate | date:'MM/dd/yyyy') || 'N/A' }}</span>
                            </view-edit-date>
                        </div>
                    </div>

                    <label for="remainingRenewals">Remaining Renewals</label>
                    <view-edit-integer ng-model="vm.license.remainingRenewals" edit-mode="vm.editable" input-id="remainingRenewals">
                        <span class="value">{{ vm.license.remainingRenewals || 'N/A' }}</span>
                    </view-edit-integer>

                    <aside>Note: these fields are manually edited.</aside>

                    <h2>Specific Terms</h2>
                    <div class="terms-overrides">
                        <div class="term">
                            <label for="downloadTerms">Download</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.downloadTerms" edit-mode="vm.editable" input-id="downloadTerms">
                                <span class="value">{{ vm.license.terms.downloadTerms || 'N/A' }}</span>
                            </view-edit-yes-no-other>
                        </div>
                        <div class="term">
                            <label for="coursePacksTerms">Course Packs</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.coursePacksTerms" edit-mode="vm.editable" input-id="coursePacksTerms">
                                <span class="value">{{ vm.license.terms.coursePacksTerms || 'N/A' }}</span>
                            </view-edit-yes-no-other>
                        </div>

                        <div class="term">
                            <label for="interLibraryLoanTerms">ILL</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.interLibraryLoanTerms" edit-mode="vm.editable" input-id="interLibraryLoanTerms">
                                <span class="value">{{ vm.license.terms.interLibraryLoanTerms || 'N/A' }}</span>
                            </view-edit-yes-no-other>
                        </div>
                        <div class="term">
                            <label for="printTerms">Print (in accordance with the Copyright Act)</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.printTerms" edit-mode="vm.editable" input-id="printTerms">
                                <span class="value">{{ vm.license.terms.printTerms || 'N/A' }}</span>
                            </view-edit-yes-no-other>
                        </div>

                        <div class="term">
                            <label for="limitedScholarlySharingTerms">Limited Sharing for Scholarly Purposes</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.limitedScholarlySharingTerms" edit-mode="vm.editable" input-id="limitedScholarlySharingTerms">
                                <span class="value">{{ vm.license.terms.limitedScholarlySharingTerms || 'N/A' }}</span>
                            </view-edit-yes-no-other>
                        </div>
                        <div class="term">
                            <label for="walkinTerms">Use by Walk-ins</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.walkinTerms" edit-mode="vm.editable" input-id="walkinTerms">
                                <span class="value">{{ vm.license.terms.walkinTerms || 'N/A' }}</span>
                            </view-edit-yes-no-other>
                        </div>

                        <div class="term">
                            <label for="eReservesTerms">E-Reserves</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.eReservesTerms" edit-mode="vm.editable" input-id="eReservesTerms">
                                <span class="value">{{ vm.license.terms.eReservesTerms || 'N/A' }}</span>
                            </view-edit-yes-no-other>
                        </div>
                        <div class="term">
                            <label for="hasConfidentialityTerms">Confidentiality Terms</label>
                            <view-edit-yes-no-other ng-model="vm.license.terms.hasConfidentialityTerms" edit-mode="vm.editable" input-id="hasConfidentialityTerms">
                                <span class="value">{{ vm.license.terms.hasConfidentialityTerms || 'N/A' }}</span>
                            </view-edit-yes-no-other>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="label">Type</div>

                    <view-edit-checkbox label="Sole Source" ng-model="vm.license.licenseType.isSoleSource" edit-mode="vm.editable" input-id="soleSource">
                        Sole Source: <span class="value">{{ vm.license.licenseType.isSoleSource ? 'Yes' : 'No' }}</span>
                    </view-edit-checkbox>

                    <view-edit-checkbox label="Sealed Bid" ng-model="vm.license.licenseType.isSealedBid" edit-mode="vm.editable" input-id="sealedBid">
                        Sealed Bid: <span class="value">{{ vm.license.licenseType.isSealedBid ? 'Yes' : 'No' }}</span>
                    </view-edit-checkbox>

                    <view-edit-checkbox label="Consolidated List" ng-model="vm.license.licenseType.isConsolidatedList" edit-mode="vm.editable" input-id="consolidatedList">
                        Consolidated List: <span class="value">{{ vm.license.licenseType.isConsolidatedList ? 'Yes' : 'No' }}</span>
                    </view-edit-checkbox>

                    <view-edit-checkbox label="RFP" ng-model="vm.license.licenseType.isRfp" edit-mode="vm.editable" input-id="rfp">
                        RFP: <span class="value">{{ vm.license.licenseType.isRfp ? 'Yes' : 'No' }}</span>
                    </view-edit-checkbox>

                    <view-edit-checkbox label="Other" ng-model="vm.license.licenseType.isOtherType" edit-mode="vm.editable" input-id="other">
                        Other: <span class="value">{{ vm.license.licenseType.isOtherType ? vm.license.licenseType.otherType : 'No' }}</span>
                    </view-edit-checkbox>
                    <view-edit-text-field aria-label="Type" ng-model="vm.license.licenseType.otherType" edit-mode="vm.editable" ng-show="vm.license.licenseType.isOtherType"></view-edit-text-field>

                    <br>

                    <view-edit-checkbox label="Archive Capital Fee" ng-model="vm.license.licenseType.hasArchiveCapitalFee" edit-mode="vm.editable" input-id="hasArchiveCapitalFee">
                        Archive Capital Fee: <span class="value">{{ vm.license.licenseType.hasArchiveCapitalFee ? 'Yes' : 'No' }}</span>
                    </view-edit-checkbox>

                    <label for="offeringTypeOptions">Product / Service</label>
                    <view-edit-radios radio-group-name="offeringType" items="vm.offeringTypeOptions" ng-model="vm.license.offeringType" edit-mode="vm.editable" input-id="offeringTypeOptions">
                        <span class="value">{{ vm.license.offeringType === 'Other' ? vm.license.offeringTypeValue : vm.license.offeringType }}
                    </view-edit-radios>
                    <view-edit-text-field aria-label="Offering Type" ng-model="vm.license.offeringTypeValue" edit-mode="vm.editable" ng-show="vm.license.offeringType == 'Other'"></view-edit-text-field>

                </div>
            </fieldset>
        </section>

        <div class="footer" ng-show="vm.editable">
            <fieldset>
                <button type="button" class="carli-button cancel-button" data-dismiss="modal" ng-click="vm.cancelEdit()">Cancel</button>
                <input type="submit" id="license-submit" class="carli-button save-button" value="Save">
            </fieldset>
        </div>
    </form>


    <modal-dialog modal-id="'products-modal'" modal-title="'Products'">
        <ng-include src="'carliApp/components/entityForms/license/productsModal.html'"></ng-include>
    </modal-dialog>
