<label class="main-content" for="currentCycle">View products from cycle:</label>
<select-cycle input-id="currentCycle"></select-cycle>
<ul class="entity-list">
    <li class="column-headers">
        <div class="column">Product Name</div>
    </li>
    <li ng-repeat="product in vm.productList | orderBy:'name'">
        <div class="column"><a ng-click="vm.closeProductsModalAndGoTo('/product/'+product.cycle.id+'/'+product.id)">{{ vm.getProductDisplayName(product) }}</a></div>
    </li>
</ul>

<div class="modal-footer">
    <button type="button" class="carli-button cancel-button" data-dismiss="modal">Close</button>
</div>
