{
  "staffWebAppUrl": "http://staff.carli.local/",
  "libraryWebAppUrl": "http://library.carli.local/",
  "vendorWebAppUrl": "http://vendor.carli.local/",
  "maintenanceMode": {
    "enabled": false,
    "heading": "System Maintenance",
    "detail": "Select is currently offline for a system update."
  }
}
