{
  "storeOptions": {
    "couchDbName": "db_name",
    "couchDbUrl": "http://127.0.0.1:5984",
    "privilegedCouchUrlScheme": "http://",
    "privilegedCouchUsername": "admin",
    "privilegedCouchPassword": "relax",
    "privilegedCouchHostname": "localhost:5984"
  },
  "memberDb": {
    "connectionLimit": 10,
    "host": "localhost",
    "user": "root",
    "password": "",
    "database": "carli_crm"
  }
}
