[collapsible],
[carli-accordion] {

    .accordion-header,
    .collapsible-header {
        cursor: pointer;
        position: relative;

        .angle-icon-container {
            @include vendor-prefix(appearance, 'none');
            background: none;
            border: 0;
            position: absolute;
            text-align: left;
            top: .75rem;
            left: 1rem;

            .fa {
                font-size: 2rem;
            }
            .fa-angle-down {
                @include vendor-prefix(transition, 'all .4s');
            }
        }
    }

    .content {

    }

}

[collapsible].collapsed,
[carli-accordion].collapsed {
    .accordion-header,
    .collapsible-header {
        .angle-icon-container {
            .fa {
                color: $gray;
            }
            .fa-angle-down {
                @include vendor-prefix(transform, 'rotate(-90deg)');
            }
        }
    }

    .content {

    }
}
