#ipAddresses {
    .currentIPAddresses {
        li {
            list-style-type: none;
        }
    }

    .addIPAddresses {
        .addIPInput {
            float: left;
            margin-top: 5px;
            margin-right: 22px;
            width: 250px;
        }

        .addIPInstructions {
            font-style: italic;
        }
    }
}
