ul.product-list > li.with-expandable-info .column.collapsible-header {
    padding-left: 42px;
}

.with-expandable-info {
    flex-wrap: wrap;
}

.info-container {
    @include flexbox();
    border-top: $default-border;
    padding: 1rem;
    width: 100%;

    .product-info-container {
        flex: 1 1 0;
        margin-right: .5rem;
    }

    .license-info-container {
        flex: 1 1 0;
        margin-left: .5rem;
    }
}