#reports {
    .report-columns {
        ul {
            display: flex;
            list-style: none;

            li {
                margin-right: 1rem;
            }
        }
    }

    .export-csv {
        margin-top: 1rem;
    }
}