#reports {
    select {
        width: 400px;
        height: 100px;
    }

    .vendor,
    .product,
    .library {
        select {
            height: 200px;
        }
    }

    .report-columns {
        ul {
            display: flex;
            list-style: none;

            li {
                margin-right: 1rem;
            }
        }
    }

    .export-csv {
        margin-top: 1rem;
    }
}