<div class="column internal-comments">
    <label for="internal-comments">Internal Discussion</label>
    <textarea id="internal-comments" ng-model="vm.offering.internalComments" ng-readonly="!vm.editMode">{{ vm.offering.internalComments }}</textarea>
</div>
<div class="column library-comments">
    <label for="library-comments">Comments for Libraries</label>
    <textarea id="library-comments" ng-model="vm.offering.libraryComments" ng-readonly="!vm.editMode">{{ vm.offering.libraryComments }}</textarea>
</div>
