view-edit-library-contact {
    .edit-contact {
        @include flexbox();

        label {
            margin-bottom: 0;
            margin-top: 0.5rem;
        }

        .form-group {
            margin: 0;
        }

        .info {
            @include flex(1 1 50%);
            padding: 0.5rem;

            .name {
                @include flexbox();

                .form-group {
                    @include flex(1 1 50%);
                }
            }

            .phone-numbers,
            .city-state-zip {
                @include flexbox();

                .form-group {
                    @include flex(1 1 33%);
                }
            }

            .name,
            .phone-numbers,
            .city-state-zip {
                .form-group + .form-group {
                    margin-left: 0.5rem;
                }
            }
        }


    }

    .view-contact {
        @include flexbox();

        .info {
            @include flex(1 1 50%);
            padding: 0.5rem;
        }

        .info + .info {
            border-left: $default-border;
        }

        .contact-name {
            @include font-size(15);
        }

        .contact-responsibility {

        }

        .contact-email {

        }

        .contact-phone {
            margin-bottom: 0.5rem;
        }

        .contact-address {

        }

        .contact-notes {
            margin: 0.5rem 0 0;
            font-style: italic;
        }
    }
}