#addOneTimePurchases {
    .list-page-header {
        display: block;
    }

    h1 {
        margin-bottom: 16px;
        padding-bottom: 0;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 32px;
        padding: 0;
    }
}

ul.product-list {
    @extend .zebra-table;
    border-top: 3px solid $black;
    clear: both;

    li {
        padding: 0;

        &[collapsible]{
            display: block;
        }

        .collapsible-header,
        .content {
            width: 100%;
            @include flexbox;
        }

        .collapsible-header {
            > .column:first-child {
                padding-left: 36px;
            }
        }

        .content {
            border-top: $default-border;

            .column.product-info {
                flex-basis: 33%;
            }

            .column.license-info {
                border-left: none;
                flex-basis: 66%;
            }

            .column.select {
                padding: 0;
                padding-bottom: 50px;
                position: relative;
                background-color: $light-gray;

                subscription-button {
                    margin: 4px;
                }

                .carli-button {
                    display: block;
                    position: relative;
                    text-align: left;
                    width: 100%;

                    .fa {
                        @include font-size(22);
                        position: absolute;
                        right: 12px;
                    }
                }

                .bottom-buttons {
                    border-top: $default-border;
                    bottom: 0;
                    position: absolute;
                    padding: 4px;
                    width: 100%;
                }
            }
        }

        .column.funded {
            flex: none;
            width: 85px;
        }

        .column.select {
            flex: none;
            width: 200px;
        }

        .column .list-button {
            @include list-button;
        }
    }
}