<section id="addOneTimePurchases">
    <div class="list-page-header">
        <h1>One-Time Purchases</h1>
        <h2>Available for Purchase Year-Round</h2>
    </div>

    <section class="content list-content">
        <subscription-progress step="vm.selectionStep" cycle="vm.cycle" ng-hide="vm.userIsReadOnly()"></subscription-progress>

        <div ng-if="vm.selectionStep === 'select'" ng-include="'libraryApp/sections/addOneTimePurchases/addOneTimePurchasesSelect.html'"></div>
        <div ng-if="vm.selectionStep === 'review'" ng-include="'libraryApp/sections/addOneTimePurchases/addOneTimePurchasesReview.html'"></div>
        <div ng-if="vm.selectionStep === 'complete'" ng-include="'libraryApp/sections/addOneTimePurchases/addOneTimePurchasesComplete.html'"></div>
    </section>
</section>
