    <ul class="product-list" cg-busy="vm.loadingPromise">
        <li class="column-headers">
            <div class="sortable column" ng-class="{ activeSort: vm.orderByAvailable === 'product.name', reversedSort: vm.reverseAvailable }" ng-click="vm.sortAvailable('product.name')">Product</div>
            <div class="sortable column" ng-class="{ activeSort: vm.orderByAvailable === 'product.vendor.name', reversedSort: vm.reverseAvailable }" ng-click="vm.sortAvailable(['product.vendor.name','product.name'])">Vendor</div>
            <div class="sortable column" ng-class="{ activeSort: vm.orderByAvailable === 'pricing.site', reversedSort: vm.reverseAvailable }" ng-click="vm.sortAvailable(['pricing.site','product.name'])">Cost</div>
        </li>
        <li collapsible class="collapsed" ng-repeat="offering in vm.availableForPurchase | orderBy: vm.orderByAvailable:vm.reverseAvailable track by offering.id">
            <div class="collapsible-header">
                <div class="column">
                    <button type="button" class="angle-icon-container">
                        <fa name="angle-down"></fa>
                    </button>
                    {{ offering.product.name }}
                </div>
                <div class="column">{{ offering.product.vendor.name }}</div>
                <div class="column">
                    <span ng-if="offering.selectionPendingReview" class="price">{{ offering.selectionPendingReview.price | currency }}</span>
                </div>
            </div>
            <div class="content">
                <div class="column">
                    <div class="content-item-group">
                        <div class="content-item">
                            <label>Date Available Through:</label>
                            <p>{{ offering.product.oneTimePurchaseAvailableForPurchaseThrough | date:shortDate }}</p>
                        </div>
                        <div class="content-item" ng-show="offering.selection.datePurchased">
                            <label>Purchase Date:</label>
                            <p>{{ offering.selection.datePurchased | date:shortDate }}</p>
                        </div>
                    </div>
                    <div class="product-boolean-item" ng-show="offering.product.oneTimePurchaseAnnualAccessFee"><fa name="check"></fa> Requires Annual Access Fee</div>
                </div>
                <div class="column">
                    <div class="content-item">
                        <label>Comments for Library:</label>
                        <p class="comments">{{ offering.product.comments }}</p>
                    </div>
                </div>
                <div class="column">
                    <div ng-if="!offering.selectionPendingReview">
                        <div ng-if="!offering.pricing.site">
                            <span>A price has not been provided for this product. Ask CARLI for more information.</span>
                            <span class="placeholder">Ask CARLI</span>
                        </div>
                        <div ng-if="offering.pricing.site">
                            <div class="label">Add Product</div>
                            <div ng-click="vm.selectProduct(offering)" class="carli-button ask-button">{{ offering.pricing.site | currency }} <fa name="plus-circle"></fa></div>
                        </div>
                    </div>
                    <div ng-if="offering.selectionPendingReview">
                        <div class="label">Remove Product</div>
                        <button type="button" ng-click="vm.unselectProduct(offering)" class="carli-button remove-button">Remove <fa name="remove"></fa></button>
                    </div>
                </div>
            </div>
        </li>
        <li class="summary-row">
            <div class="column"></div>
            <div class="column">Total</div>
            <div class="column">{{ vm.computeTotalPurchasesAmount() | currency}}</div>
        </li>
    </ul>

    <button type="button" ng-click="vm.reviewSelections()" class="carli-button">Review</button>

    <h2>Previously Purchased Items</h2>
    <ul class="product-list" cg-busy="vm.loadingPromise">
        <li class="column-headers">
            <div class="sortable column" ng-class="{ activeSort: vm.orderByPurchased === 'product.name', reversedSort: vm.reversePurchased }" ng-click="vm.sortPurchased('product.name')">Product</div>
            <div class="sortable column" ng-class="{ activeSort: vm.orderByPurchased === 'product.vendor.name', reversedSort: vm.reversePurchased }" ng-click="vm.sortPurchased(['product.vendor.name','product.name'])">Vendor</div>
            <div class="sortable column" ng-class="{ activeSort: vm.orderByPurchased === 'pricing.site', reversedSort: vm.reversePurchased }" ng-click="vm.sortPurchased('pricing.site')">Cost</div>
        </li>
        <li collapsible class="collapsed" ng-repeat="offering in vm.purchased | orderBy: vm.orderByPurchased:vm.reversePurchased track by offering.id ">
            <div class="collapsible-header">
                <div class="column">
                    <button type="button" class="angle-icon-container">
                        <fa name="angle-down"></fa>
                    </button>
                    {{ offering.product.name }}
                </div>
                <div class="column">{{ offering.product.vendor.name }}</div>
                <div class="column">
                    <span ng-if="offering.selection" class="price">{{ offering.pricing.site | currency }}</span>
                </div>
            </div>
            <div class="content">
                <div class="column">
                    <div class="content-item-group">
                        <div class="content-item">
                            <label>Date Available Through:</label>
                            <p>{{ offering.product.oneTimePurchaseAvailableForPurchaseThrough | date:shortDate }}</p>
                        </div>
                        <div class="content-item" ng-show="offering.selection.datePurchased">
                            <label>Purchase Date:</label>
                            <p>{{ offering.selection.datePurchased | date:shortDate }}</p>
                        </div>
                    </div>
                    <div class="product-boolean-item" ng-show="offering.product.oneTimePurchaseAnnualAccessFee"><fa name="check"></fa> Requires Annual Access Fee</div>
                </div>
                <div class="column">
                    <div class="content-item">
                        <label>Comments for Library:</label>
                        <p class="comments">{{ offering.product.comments }}</p>
                    </div>
                </div>
                <div class="column">
                    {{ offering.selection }}
                </div>
            </div>
        </li>
    </ul>
</section>
