<p> Please review your purchase. You have selected the following item(s):
</p>
<ul class="product-list" cg-busy="vm.loadingPromise">
    <li class="column-headers">
        <div class="sortable column" ng-class="{ activeSort: vm.orderBy === 'product.name', reversedSort: vm.reverse }" ng-click="vm.sort('product.name')">Product</div>
        <div class="sortable column" ng-class="{ activeSort: vm.orderBy === 'product.vendor.name', reversedSort: vm.reverse }" ng-click="vm.sort(['product.vendor.name','product.name'])">Vendor</div>
        <div class="sortable column" ng-class="{ activeSort: vm.orderBy === 'pricing.site', reversedSort: vm.reverse }" ng-click="vm.sort(['pricing.site','product.name'])">Cost</div>
    </li>
    <li ng-repeat="offering in vm.availableForPurchase | filter: vm.hasPendingSelection | orderBy: vm.orderBy:vm.reverse track by offering.id">
        <div class="column">{{ offering.product.name }}</div>
        <div class="column">{{ offering.product.vendor.name }}</div>
        <div class="column">{{ offering.selectionPendingReview.price | currency }}</div>
    </li>
    <li class="summary-row">
        <div class="column"></div>
        <div class="column">Total</div>
        <div class="column">{{ vm.computeTotalPurchasesAmount() | currency}}</div>
    </li>
</ul>

<button type="button" busy-click="vm.startSelections()" class="carli-button">Change Selections</button>
<button type="button" busy-click="vm.completeSelections()" class="carli-button">Complete</button>