<p ng-if="isOneTimePurchaseCycle" class="financial-commitment-notice">
    TODO: need text for One Time Purchase financial commitment notice
</p>
<p ng-if="!isOneTimePurchaseCycle" class="financial-commitment-notice">
    Each database selected through the CARLI Database Brokering Program constitutes a financial commitment for the
    period {{ cycle.productsAvailableDate | date:'longDate' }} through {{ computedCycleEndDate | date:'longDate' }}.
    It is strongly encouraged that final database selections be reviewed
    and authorized by the appropriate individuals in the selecting library.
</p>
<ol>
    <li class="select" ng-class="{ selected: step === 'select' }">Select</li>
    <li class="review" ng-class="{ selected: step === 'review' }">Review</li>
    <li class="complete"  ng-class="{ selected: step === 'complete' }">Complete</li>
</ol>
