.library-info,
library-info {
    @include body-text();
    line-height: 20px;
    padding-bottom: 6px;
    margin-bottom: 10px;

    .name {
        @extend h3;
        font-weight: 700;
        margin-top: 0;
        padding-bottom: 6px;
    }

    .label {
        color: $black;
    }

    .key {
        margin-right: 0.5em;
    }

    .value {
        color: $purple;
    }

    &.inline {
        display: inline;

        div {
            display: inline;
        }

        .name {
            color: $purple;
            @include font-size(17);
            font-family: 'Merriweather', serif;
            font-weight: 700;
        }

        .key {
            margin-left: 1rem;
        }
    }
}
