user-menu {
    position: absolute;
    right: 118px;
    top: 0;

    ul {
        @include flexbox;
        background: $dark-purple;
        border-radius: 0 0 6px 6px;
        box-shadow: 0 1px 1px -1px $light-purple;

        li {
            @include flex(1 1 auto);
            list-style: none;
            padding: 0.5rem 1.25rem;

            &:not(:first-child) {
                border-left: 1px solid $purple;
            }

            a {
                color: $light-purple;
                font-size: 13px;

                &:hover {
                    color: $light-purple;
                }

                &:focus,
                &:active {
                    color: $white;
                }

                .notifications-count {
                    color: $white;
                }

                .fa-cog {
                    color: $white;
                    font-size: 15px;
                }
            }
        }
    }
}