<ul>
   <li><a href="">Login Message</a></li>
   <li><a href="">Reports</a></li>
   <li><a href="/notifications" active-tab>Notifications <span class="special-text" ng-show="vm.notificationsCount > 0">({{ vm.notificationsCount }})</span></a></li>
    <li><a href="">Revision History</a></li>
    <li class="dropdown">
        <a href="">Hi, {{ vm.userName }}!
            <button id="user-menu-label"
                    class="clear-button-styles"
                    type="button"
                    data-toggle="dropdown"
                    data-target="#user-menu"
                    aria-haspopup="true"
                    aria-expanded="false">
                <span class="sr-only">Open user menu</span>
                <span class="fa fa-cog"></span>
            </button>
        </a>
        <ul id="user-menu" class="dropdown-menu" role="menu" aria-labelledby="user-menu-label">
            <li><a href="/user">User Management</a></li>
            <li><a ng-click="vm.logout()">Log out</a></li>
        </ul>

    </li>
</ul>
