#one-time-purchase-products {
    $default-spacing: 36px;

    ul.entity-list li {
        display: block;
        border-left: 3px solid $purple;

        &.collapsed {
            border-left: $default-border;
        }

        header,
        div.content {
            @include flexbox;
            width: 100%;

            .column:first-child {
                padding-left: $default-spacing;
            }
        }

        div.content {
            border-top: $default-border;

            .content-item-group {
                margin-bottom: 25px;

                .content-item {
                    display: inline-block;

                    label {
                        margin: 0;
                    }

                    p {
                        @extend .h3;
                        margin: 0;
                    }
                }

                .content-item + .content-item {
                    margin-left: $default-spacing;
                }
            }

            .product-boolean-item {
                @include body-text;
                font-weight: bold;
                color: $purple;
            }
        }
    }

    ul.entity-list li.column-headers {
        @include flexbox;
        border-left: $default-border;
    }

}
