#one-time-purchase-products {
    $default-spacing: 36px;

    section.content {
        .carli-button {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        menu {
            margin-top: 2.5rem;
            margin-bottom: 1rem;

            menuitem {
                margin-left: 1.5rem;
            }
        }

        .notifications {
            margin-top: 2rem;

            header {
                @extend label;
                display: block;
            }

            .carli-button {
                margin-top: 0;
                margin-right: .5rem;
            }
        }
    }

    ul.entity-list {
        border-top: $controls-top-border;

        li {
            display: block;
            border-left: 3px solid $purple;
            position: relative;

            &.collapsed {
                border-left: $default-border;
                padding-left: 2px;
            }

            &.column-headers {
                @include flexbox;
                border-left: $default-border;
                padding-left: 2px;
            }

            .column {
                flex-basis: 40%;
            }

            .column:first-child {
                padding-left: 36px;
            }

            .column:last-child {
                flex-basis: 20%;
            }

            checkbox {
                position: absolute;
                left: -2rem;
                top: 1.25rem;
                label {
                    margin-top: 0;
                }
            }

            header {
                .price {
                    font-weight: bold;
                    color: $black;
                }
            }

            header,
            div.content {
                @include flexbox;
                width: 100%;
            }

            div.content {
                border-top: $default-border;

                .column:first-child {
                    padding-left: $default-spacing;
                }
                .column:nth-child(2) {
                    border-left: none;
                    padding-left: 0;
                }

                label {
                    margin: 0;
                }

                .label {
                    @extend label;
                    display: block;
                    padding: 0;
                    text-align: left;
                }

                .comments {
                    border: $default-border;
                    min-height: 4rem;
                    background-color: $white;
                }

                .content-item-group {
                    margin-bottom: 25px;

                    .content-item {
                        display: inline-block;
                        vertical-align: top;

                        p {
                            @extend .h3;
                            margin: 0;
                            min-height: 16px;
                        }
                    }

                    .content-item + .content-item {
                        margin-left: $default-spacing;
                    }
                }

                .product-boolean-item {
                    @include body-text;
                    font-weight: bold;
                    color: $purple;
                }
            }

            &.collapsed {
                border-left: $default-border;
                padding-left: 2px;

                checkbox {
                    left: unquote("calc(-2rem + 2px)");
                }
            }

            &.summary-row {
                @include flexbox;
                border-left: $default-border;
                padding-left: 2px;
                background-color: $light-gray;

                .column:nth-child(2) {
                    border-left: 0;
                    text-align: right;
                    font-family: 'Dosis';
                    font-weight: bold;
                    @include font-size(17);
                    color: $black;
                    text-transform: uppercase;
                }

                .column:last-child {
                    color: $green;
                    background-color: $white;
                    font-weight: bold;
                }
            }
        }
    }
}
