<section id="one-time-purchase-products">

    <form class="edit-form" name="oneTimePurchaseProductForm" ng-submit="vm.savePurchase()">

        <header class="page-header">
            <label>One-Time Purchases</label>
            <h1>{{ vm.library.name }}</h1>
        </header>

        <section class="content">
            <a href="/oneTimePurchases" class="carli-button"> <i class="fa fa-chevron-circle-left"></i> Back to Libraries</a>

            <menu class="pull-right filter-by-purchased" role="radiogroup">
                <menuitem ng-click="vm.setShowPurchasedProducts()" id="filter-purchased">
                    <span tabindex="0" role="radio" class="fa" ng-class="{ 'fa-dot-circle-o': vm.filterState === 'purchased', 'fa-circle-o': vm.filterState != 'purchased' }"></span> Show <strong>purchased</strong> products
                </menuitem>
                <menuitem ng-click="vm.setShowNotPurchasedProducts()" id="filter-not-purchased">
                    <span tabindex="0" role="radio" class="fa" ng-class="{ 'fa-dot-circle-o': vm.filterState === 'not-purchased', 'fa-circle-o': vm.filterState != 'not-purchased' }"></span> Show <strong>not purchased</strong> products
                </menuitem>
                <menuitem ng-click="vm.setShowAllProducts()" id="filter-all">
                    <span tabindex="0" role="radio" class="fa" ng-class="{ 'fa-dot-circle-o': vm.filterState === 'all', 'fa-circle-o': vm.filterState != 'all' }"></span> Show <strong>all</strong> products
                </menuitem>
            </menu>

            <ul class="entity-list">
                <li class="column-headers">
                    <div class="sortable column" ng-class="{ activeSort: vm.orderBy === 'name', reversedSort: vm.reverse }" ng-click="vm.sort('name')">Product</div>
                    <div class="sortable column" ng-class="{ activeSort: vm.orderBy === 'vendor.name', reversedSort: vm.reverse }" ng-click="vm.sort('vendor.name')">Vendor</div>
                    <div class="sortable column" ng-class="{ activeSort: vm.orderBy === 'oneTimePurchase.libraryPurchaseData[vm.libraryId].price', reversedSort: vm.reverse }" ng-click="vm.sort('oneTimePurchase.libraryPurchaseData[\''+vm.libraryId+'\'].price')">Cost</div>
                </li>
                <li collapsible class="collapsed" ng-repeat="product in vm.productList | filter: vm.filter | orderBy: vm.orderBy:vm.reverse track by product.id ">
                    <checkbox ng-model="vm.selectedProducts[product.id]"></checkbox>
                    <header>
                        <div class="column">
                            <fa name="angle-right"></fa>
                            <fa name="angle-down"></fa>
                            {{ product.name }}
                        </div>
                        <div class="column">{{ product.vendor.name }}</div>
                        <div class="column">
                            <span ng-if="product.oneTimePurchase.libraryPurchaseData[vm.libraryId].datePurchased" class="price">{{ product.oneTimePurchase.libraryPurchaseData[vm.libraryId].price | currency }}</span>
                        </div>
                    </header>
                    <div class="content">
                        <div class="column">
                            <div class="content-item-group">
                                <div class="content-item">
                                    <label>Date Available Through:</label>
                                    <p>{{ product.oneTimePurchase.availableForPurchaseThrough }}</p>
                                </div>
                                <div class="content-item">
                                    <label>Purchase Date:</label>
                                    <p>{{ product.oneTimePurchase.libraryPurchaseData[vm.libraryId].datePurchased }}</p>
                                </div>
                            </div>
                            <div class="product-boolean-item" ng-show=""><fa name="check"></fa> Funded</div>
                            <div class="product-boolean-item" ng-show="product.oneTimePurchase.annualAccessFee"><fa name="check"></fa> Requires Annual Access Fee</div>
                        </div>
                        <div class="column">
                            <div class="content-item">
                                <label>Comments for Library:</label>
                                <p class="comments">{{ product.comments }}</p>
                            </div>
                        </div>
                        <div class="column">
                            <div ng-if="!product.oneTimePurchase.libraryPurchaseData[vm.libraryId].datePurchased">
                                <div class="label">Add Product</div>
                                <div ng-click="vm.purchaseProduct(product);" class="carli-button ask-button">{{ product.oneTimePurchase.libraryPurchaseData[vm.libraryId].price | currency }} <fa name="plus-circle"></fa></div>
                            </div>
                            <div ng-if="product.oneTimePurchase.libraryPurchaseData[vm.libraryId].datePurchased">
                                <div class="label">Remove Product</div>
                                <button type="button" ng-click="vm.cancelPurchase(product);" class="carli-button remove-button">Remove <fa name="remove"></fa></button>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="summary-row">
                    <div class="column"></div>
                    <div class="column">Total</div>
                    <div class="column">{{ vm.computeTotalPurchasesAmount() | currency}}</div>
                </li>
            </ul>

            <div class="notifications">
                <header>Notifications</header>
                <button type="button" ng-click="vm.invoiceProducts()" class="carli-button"> Invoice: Checked Products <i class="fa fa-check-square-o"></i></button>
                <button type="button" ng-click="vm.reportProducts()" class="carli-button"> Report: Checked Products<i class="fa fa-check-square-o"></i></button>

                <div class="placeholder pull-right">
                    TODO: View as Library Button
                </div>
            </div>

            <div class="placeholder" style="width: 350px;">
                TODO: Invoice: Annual Access Fees Button
            </div>

        </section>
    </form>
</section>

<hr>
Selected Products: {{ vm.selectedProducts }}
