<section id="oneTimePurchaseSelections">

    <form class="edit-form" name="oneTimePurchaseForm" ng-submit="vm.savePurchase()">

        <div class="page-header">
            <div class="label">One-Time Purchases</div>
            <h1>{{ vm.library.name }}</h1>
        </div>

        <section class="content">
            <a href="/oneTimePurchases" class="carli-button"> <i class="fa fa-chevron-circle-left"></i> Back to Libraries</a>

            <menu class="pull-right filter-by-purchased" role="radiogroup">
                <menuitem ng-click="vm.setShowPurchasedProducts()" id="filter-purchased">
                    <span tabindex="0" role="radio" class="fa" ng-class="{ 'fa-dot-circle-o': vm.filterState === 'purchased', 'fa-circle-o': vm.filterState != 'purchased' }"></span> Show <strong>purchased</strong> products
                </menuitem>
                <menuitem ng-click="vm.setShowNotPurchasedProducts()" id="filter-not-purchased">
                    <span tabindex="0" role="radio" class="fa" ng-class="{ 'fa-dot-circle-o': vm.filterState === 'not-purchased', 'fa-circle-o': vm.filterState != 'not-purchased' }"></span> Show <strong>not purchased</strong> products
                </menuitem>
                <menuitem ng-click="vm.setShowAllProducts()" id="filter-all">
                    <span tabindex="0" role="radio" class="fa" ng-class="{ 'fa-dot-circle-o': vm.filterState === 'all', 'fa-circle-o': vm.filterState != 'all' }"></span> Show <strong>all</strong> products
                </menuitem>
            </menu>

            <ul class="entity-list" cg-busy="vm.loadingPromise">
                <li class="column-headers">
                    <div class="sortable column" ng-class="{ activeSort: vm.orderBy === vm.sortOptions.productName, reversedSort: vm.reverse }" ng-click="vm.sort(vm.sortOptions.productName)">Product</div>
                    <div class="sortable column" ng-class="{ activeSort: vm.orderBy === vm.sortOptions.vendorName, reversedSort: vm.reverse }" ng-click="vm.sort(vm.sortOptions.vendorName)">Vendor</div>
                    <div class="sortable column" ng-class="{ activeSort: vm.orderBy === vm.sortOptions.cost, reversedSort: vm.reverse }" ng-click="vm.sort(vm.sortOptions.cost)">Cost</div>
                </li>
                <li collapsible class="collapsed" ng-repeat="offering in vm.offeringList | filter: vm.filter | orderBy: vm.orderBy:vm.reverse track by offering.id ">
                    <checkbox ng-show="offering.selection" ng-model="vm.selectedOfferings[offering.id]"></checkbox>
                    <div class="collapsible-header">
                        <div class="column">
                            <button type="button" class="angle-icon-container">
                                <fa name="angle-down"></fa>
                            </button>
                            {{ ::vm.getProductDisplayName(offering.product) }}
                        </div>
                        <div class="column">{{ ::offering.product.vendor.name }}</div>
                        <div class="column">
                            <span ng-if="offering.selection" class="price">{{ vm.getFundedSelectionPrice(offering) | currency }}</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="column">
                            <div class="content-item-group">
                                <div class="content-item">
                                    <label>Date Available Through:</label>
                                    <p>{{ offering.product.oneTimePurchaseAvailableForPurchaseThrough | date:shortDate }}</p>
                                </div>
                                <div class="content-item" ng-show="offering.selection.datePurchased">
                                    <label>Purchase Date:</label>
                                    <p>{{ offering.selection.datePurchased | date:shortDate }}</p>
                                </div>
                            </div>
                            <div class="product-boolean-item"><fa name="check-circle" ng-if="::vm.isFunded(offering)"></fa></div>
                            <div class="product-boolean-item" ng-show="offering.oneTimePurchaseAnnualAccessFee"><fa name="check"></fa> Requires Annual Access Fee of {{ offering.oneTimePurchaseAnnualAccessFee | currency  }}</div>
                            <div class="product-boolean-item">{{ ::vm.englishSummaryOfDisplayProperty(offering) }}</div>
                        </div>
                        <div class="column">
                            <div class="content-item comment-item">
                                <label>Internal Discussion:</label>
                                <textarea class="comments" ng-model="offering.internalComments"></textarea>
                            </div>
                            <div class="content-item comment-item">
                                <label>Comments for Libraries:</label>
                                <textarea class="comments" ng-model="offering.libraryComments"></textarea>
                            </div>
                            <div class="content-item comment-item">
                                <label>Vendor Pricing Comments:</label>
                                <textarea class="comments" ng-model="offering.vendorComments.site"></textarea>
                            </div>
                            <button class="carli-button" ng-click="vm.saveComments(offering)">Save Comments</button>
                        </div>
                        <div class="column">
                            <div ng-if="!offering.selection">
                                <div ng-if="!offering.pricing.site">
                                    No price entered.
                                </div>
                                <div ng-if="offering.pricing.site">
                                    <div class="label">Add Product</div>
                                    <div ng-click="vm.purchaseProduct(offering)" class="carli-button ask-button">{{ vm.getFundedSiteLicensePrice(offering) | currency }} <fa name="plus-circle"></fa></div>
                                </div>
                            </div>
                            <div ng-if="offering.selection">
                                <div class="label">Remove Product</div>
                                <button type="button" ng-click="vm.cancelPurchase(offering)" class="carli-button remove-button">Remove <fa name="remove"></fa></button>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="summary-row">
                    <div class="column"></div>
                    <div class="column">Total</div>
                    <div class="column">{{ vm.computeTotalPurchasesAmount() | currency}}</div>
                </li>
            </ul>

            <div class="notifications">
                <header>Notifications</header>
                <button type="button" ng-click="vm.invoiceProducts()" class="carli-button"> Invoice: Checked Products <i class="fa fa-check-square-o"></i></button>
                <button type="button" ng-click="vm.reportProducts()" class="carli-button"> Report: Checked Products<i class="fa fa-check-square-o"></i></button>
                <button type="button" ng-click="vm.invoiceAnnualAccessFees()" class="carli-button"> Invoice: Annual Access Fees</button>

                <div class="placeholder pull-right">
                    TODO: View as Library Button
                </div>
            </div>

        </section>
    </form>
</section>

<notification-modal></notification-modal>
