auth-timeout-alert {
  .underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.75;
  }

  .alert {
    $alert-width: 60%;
    $alert-height: 30%;

    position: absolute;
    top: 50%;
    left: 50%;

    width: $alert-width;
    height: $alert-height;

    margin-left: -0.5 * $alert-width;
    margin-top: -0.5 * $alert-height;
  }
  
  .alert-danger {
    background-color: $white;
    color: $black;
  }
}
