
$border_color: $gray;
$active_fg_color: $orange;
$inactive_fg_color: $black;
$bg_color: $white;

$height: 54px;
$border: 1px solid $border_color;

nav[nav-bar] {
    border: 0;
    border-bottom: $border;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    @include font-size(15);
    line-height: 18px;
    text-transform: uppercase;
    height: $height;
    background-attachment: $bg_color;

    ul {
        display: table;
        list-style: outside none none;
        margin: 0;
        margin-left: $page_gutter;
        padding: 0;
    }

    li:first-child {
        border-left: $border;
    }
    li {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        text-align: center;
        height: $height - 2; /* account for borders */
        width: 138px;
        border-right: $border;

        a {
            color: $inactive_fg_color;
            text-decoration: none;
        }
        &.active {
            border-top: solid $active_fg_color 3px;
            a { color: $active_fg_color; }
        }
    }
}
