
$border-color: $gray;
$active-fg-color: $orange;
$inactive-fg-color: $black;
$bg-color: $white;

$height: 54px;
$border: 1px solid $border-color;

nav[nav-bar] {
    border: 0;
    border-bottom: $border;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    @include font-size(15);
    line-height: 18px;
    text-transform: uppercase;
    height: $height;
    background: $bg-color;

    ul {
        display: table;
        list-style: outside none none;
        margin: 0;
        margin-left: $page-gutter;
        padding: 0;
    }

    li:first-child {
        border-left: $border;
    }
    li {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        text-align: center;
        height: $height; // - 2; /* account for borders */ No need with box-sizing: border-box
        width: 138px;
        border-right: $border;
        border-top: 3px solid transparent;

        a {
            color: $inactive-fg-color;
            text-decoration: none;
        }
        &.active {
            border-top-color: $active-fg-color;
            a { color: $active-fg-color; }
        }
    }
}
