<ul>
    <li>
        <a id="nav-dashboard" active-tab href="/dashboard"><span>Dashboard</span></a>
    </li>
    <li>
        <a id="nav-subscription" active-tab href="/subscription"><span>Subscriptions</span></a>
    </li>
    <li>
        <a id="nav-one-time-purchases" active-tab href="/oneTimePurchases"><span>One-Time Purchases</span></a>
    </li>
    <li>
        <a id="nav-vendors" active-tab href="/vendor"><span>Vendors</span></a>
    </li>
    <li>
        <a id="nav-licenses" active-tab href="/license"><span>License Agreements</span></a>
    </li>
    <li>
        <a id="nav-products" active-tab href="/product"><span>Products</span></a>
    </li>
    <li>
        <a id="nav-libraries" active-tab href="/library"><span>Libraries</span></a>
    </li>
    <li>
        <a id="nav-membership" active-tab href="/membership"><span>Membership</span></a>
    </li>
    <!--</li><li ng-if="!productionEnvironment"><a id="nav-style-guide" active-tab href="/styleGuide">Style Guide</a>-->
</ul>
