<form name="edit-offering-{{ vm.offering.id }}">
    <div role="gridcell" aria-describedby="library-column-header" class="column library" ng-if="vm.shouldShowColumn('library')">
        <library-info library="vm.offering.library"></library-info>
        <div class="controls">
            <button type="button" class="carli-button save" busy-click="vm.saveOffering()">Save
                <fa name="floppy-o"></fa>
            </button>
            <button type="button" class="carli-button cancel" busy-click="vm.cancel()" ng-if="false">Cancel
                <fa name="ban"></fa>
            </button>
            <button type="button" class="carli-button cancel" busy-click="vm.clearManualFlag()" ng-if="vm.flagIsManuallySet()">Clear Manual Flag
                <fa name="remove"></fa>
            </button>
        </div>
    </div>

    <div role="gridcell" aria-describedby="product-column-header" class="column product" ng-if="vm.shouldShowColumn('product')">
        <h3>{{ vm.getProductDisplayName(vm.offering.product) }}</h3>
        <div class="controls">
            <button type="button" class="carli-button save" busy-click="vm.saveOffering()">Save
                <fa name="floppy-o"></fa>
            </button>
        </div>
    </div>

    <div role="gridcell" aria-describedby="vendor-column-header" class="column vendor" ng-if="vm.shouldShowColumn('vendor')">
        <h3>{{ vm.offering.product.vendor.name }}</h3>
    </div>

    <div role="gridcell" aria-describedby="library-view-column-header" class="column library-view" ng-if="vm.shouldShowColumn('library-view')">
        <div class="display">
            <label for="offering-display">Display:</label>
            <view-edit-radios ng-model="vm.offering.display" input-id="offering-display" edit-mode="true" items="vm.offeringDisplayOptions" radio-group-name="offering-{{vm.offering.library.name}}-display"></view-edit-radios>
        </div>
        <div class="comments">
            <offering-comments offering="vm.offering" edit-mode="true"></offering-comments>
        </div>
    </div>

    <div role="gridcell" aria-describedby="selected-last-year-column-header" class="column selected-last-year" ng-if="vm.shouldShowColumn('selected-last-year')">
        <fa ng-if="vm.offering.history[vm.lastYear].selection" name="star"></fa>
    </div>

    <div role="gridcell" aria-describedby="site-license-price-column-header" class="column site-license-price current-year-only" ng-if="vm.shouldShowColumn('site-license-price-both') || vm.shouldShowColumn('site-license-price-current-only')">
        <offering-pricing year="vm.cycle.year" offering="vm.offering" edit-mode="true" hide-previous-year="true"></offering-pricing>
    </div>

    <div role="gridcell" aria-describedby="selection-column-header" class="column selection" ng-if="vm.shouldShowColumn('selection')">
        <label for="{{ vm.offering.id }}_selection" class="sr-only">Library Selection</label>
        <view-edit-offering-selection ng-model="vm.offering" edit-mode="true"></view-edit-offering-selection>
    </div>

    <div role="gridcell" aria-describedby="vendor-invoice-column-header" class="column vendor-invoice" ng-if="vm.shouldShowColumn('vendor-invoice')">
        <div class="label">Vendor Price</div>
        <view-edit-price ng-model="vm.offering.invoice.price" edit-mode="true"></view-edit-price>
        <div class="label">Invoice #</div>
        <view-edit-integer ng-model="vm.offering.invoice.number" edit-mode="true"></view-edit-integer>
    </div>

    <div role="gridcell" aria-describedby="flag-column-header" class="column flag" ng-if="vm.shouldShowColumn('flag')">
        <checkbox ng-click="vm.userClickedFlag()" ng-model="vm.manualFlag" class="flag" ng-class="{'carli-flag': vm.flagIsManuallySet()}"></checkbox>
    </div>
</form>
