libraries-selecting-products {
    .filter-controls {
        border-left: $default-border;
        border-right: $default-border;
        border-top: $default-border;
        padding: 0.5rem 1rem;

        span {
            color: $purple;
            cursor: pointer;

            &.active-offering-filter {
                font-weight: 600;
                cursor: auto;
            }
        }
    }
}
