<libraries-selecting-products-by-library></libraries-selecting-products-by-library>

<button class="carli-button" ng-click="vm.sendReminder()" ng-disabled="vm.userIsReadOnly">Reminder</button>
<button class="carli-button" ng-click="vm.estimateAllLibraries()" ng-disabled="vm.userIsReadOnly">Estimate All Libraries</button>

<button type="button" class="carli-button pull-left" busy-click="vm.undoOpenSystem()" ng-disabled="vm.userIsReadOnly">Undo Open System</button>
<button type="button" class="carli-button pull-right" busy-click="vm.closeSystem()" ng-disabled="vm.userIsReadOnly">Close System</button>

<modal-dialog modal-id="'close-system-modal'" modal-title="'Close System'">
    <form name="modal-form">
        <div class="modal-body">
            <p>You are about to close the Selection System for the current cycle.</p>
            <p>Are you sure you want to close the system?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="carli-button cancel-button" data-dismiss="modal">Cancel</button>
            <button type="button" class="carli-button save-button" busy-click="vm.closeSystemDialogComplete()" ng-disabled="vm.userIsReadOnly">Close System</button>
        </div>
    </form>
</modal-dialog>