<carli-checking-prices-by-vendor ng-if="vm.cycleRouter.groupBy === 'vendor' | orderBy:'name'"></carli-checking-prices-by-vendor>
<carli-checking-prices-by-library ng-if="vm.cycleRouter.groupBy === 'library' | orderBy:'name'"></carli-checking-prices-by-library>

<button type="button" class="carli-button pull-left" busy-click="vm.undoCloseVendorPricing()">Undo Close Vendor Pricing</button>
<button type="button" class="carli-button pull-right" busy-click="vm.openSystem()">Open System</button>

<modal-dialog modal-id="'open-system-modal'" modal-title="'Open System'">
    <form name="modal-form" ng-submit="vm.openSystemDialogComplete();">
        <div class="modal-body">
            <label for="recipients">To:</label>
            <input id="recipients" type="text" ng-model="vm.openSystemMessage.recipients">
            <label for="from">From:</label>
            <input id="from" type="text" ng-model="vm.openSystemMessage.from">
            <label for="message">Message:</label>
            <textarea id="message" ng-model="vm.openSystemMessage.message"></textarea>
            <checkbox ng-model="vm.openSystemMessage.doNotSend">Do not send notification</checkbox>
        </div>
        <div class="modal-footer">
            <button type="button" class="carli-button cancel-button" data-dismiss="modal">Close</button>
            <button type="submit" class="carli-button save-button">Open System</button>
        </div>
    </form>
</modal-dialog>