<carli-checking-prices-by-vendor ng-if="vm.cycleRouter.groupBy === 'vendor'"></carli-checking-prices-by-vendor>
<carli-checking-prices-by-library ng-if="vm.cycleRouter.groupBy === 'library'"></carli-checking-prices-by-library>

<button type="button" class="carli-button pull-left" busy-click="vm.undoCloseVendorPricing()" ng-disabled="vm.userIsReadonly">Undo Close Vendor Pricing</button>
<button type="button" class="carli-button pull-right" busy-click="vm.openSystem()" ng-disabled="vm.userIsReadonly">Open System</button>

<modal-dialog modal-id="'open-system-modal'" modal-title="'Open System'">
    <form name="modal-form" ng-submit="vm.openSystemDialogComplete();">
        <div class="modal-body">
            <label for="to">To:</label>
            <input id="to" type="text" ng-model="vm.openSystemMessage.to">

            <label for="subject">Subject Line</label>
            <input id="subject" type="text" ng-model="vm.openSystemMessage.subject">

            <label for="message">Message:</label>
            <textarea id="message" ng-model="vm.openSystemMessage.emailBody"></textarea>

            <checkbox ng-model="vm.doNotCreateNotification">Do not create notification</checkbox>
        </div>
        <div class="modal-footer">
            <button type="button" class="carli-button cancel-button" data-dismiss="modal" ng-disabled="vm.userIsReadonly">Cancel</button>
            <button type="submit" class="carli-button save-button" ng-disabled="vm.userIsReadonly">Open System</button>
        </div>
    </form>
</modal-dialog>