#membership {
    .entity-list {
        .column {
            font-size: 1rem;
            padding: 0;
            flex-basis: 10%;

            &.library {
                flex-grow: 2;
                line-height: 2rem;
                padding-left: 0.5rem;
            }

            &.ishare {
                width: 150px;
            }

            &.membership {
                width: 150px;
            }

            &.total {
                line-height: 2rem;
                padding-left: 0.5rem;
            }
            
            input {
                background: transparent;
                border: 0;
                color: black;
                padding: 4px 4px 4px 16px;
            }
        }

        .column-headers {
            .column {
                line-height: 2rem;
                padding: 0.5rem;
            }
        }

        .totals {
            .column {
                color: black;
                padding: 0.5rem;
            }
        }
    }


}