
<section id="membership" cg-busy="vm.loadingPromise">
    <div class="list-page-header">
        <h1>Membership: FY{{ vm.displayYear }}</h1>
        <div class="button-container">
            <button class="carli-button" busy-click="vm.viewPreviousYear()">
                View FY{{ vm.previousYear }}
            </button>
            <button class="carli-button" busy-click="vm.viewNextYear()" ng-if="vm.displayYear === vm.currentYear" ng-disabled="vm.userIsReadOnly">
                Start FY{{ vm.nextYear }}
            </button>
            <button class="carli-button" busy-click="vm.viewNextYear()" ng-if="vm.displayYear  <  vm.currentYear">
                View FY{{ vm.nextYear }}
            </button>

            <button class="carli-button save-button" busy-click="vm.saveMembershipData()" ng-disabled="vm.userIsReadOnly">Save</button>
        </div>
    </div>

    <section class="content list-content">
        <div class="controls">
            <div class="type-filter-controls">
                <radio name="'library-list-filter'" value="'All'" ng-model="vm.filter">Show <strong>All Members</strong></radio>
                <radio name="'library-list-filter'" value="'Governing'" ng-model="vm.filter">Show <strong>Governing Members</strong></radio>
                <radio name="'library-list-filter'" value="'Affiliate'" ng-model="vm.filter">Show <strong>Affiliate Members</strong></radio>
            </div>
        </div>

        <form name="membershipForm" warn-if-unsaved>
            <ul class="entity-list">
                <li class="column-headers">
                    <div class="column library"><div class="header-padding">Institution</div></div>
                    <div class="column ishare"><div class="header-padding">I-Share Assessment</div></div>
                    <div class="column membership"><div class="header-padding">Membership</div></div>
                    <div class="column total"><div class="header-padding">Total</div></div>
                </li>
                <li  ng-repeat="library in vm.libraries | filter: vm.filterByMembership | orderBy:'name'">
                    <div class="column library">
                        {{ library.name }}
                    </div>
                    <div class="column ishare">
                        <input type="number" min="0" step=".01" ng-model="vm.membershipData.data[library.id].ishare" ng-disabled="vm.userIsReadOnly">
                    </div>
                    <div class="column membership">
                        <input type="number" min="0" step=".01" ng-model="vm.membershipData.data[library.id].membership" ng-disabled="vm.userIsReadOnly">
                    </div>
                    <div class="column total">
                        {{ vm.membershipData.data[library.id].ishare + vm.membershipData.data[library.id].membership | currency }}
                    </div>
                </li>
                <li class="totals">
                    <div class="column library">Total</div>
                    <div class="column ishare">{{ vm.ishareTotal() | currency }}</div>
                    <div class="column membership">{{ vm.membershipTotal() | currency }}</div>
                    <div class="column total">{{ vm.grandTotal() | currency }}</div>
                </li>
            </ul>
        </form>
        <button class="carli-button save-button" busy-click="vm.createMembershipInvoices()" ng-disabled="vm.userIsReadOnly">Invoice FY{{ vm.displayYear }}</button>
        <button class="carli-button save-button" busy-click="vm.createMembershipEstimates()" ng-disabled="vm.userIsReadOnly">Estimate FY{{ vm.displayYear }}</button>
    </section>
</section>

<notification-modal></notification-modal>