ul.product-list {
    @extend .zebra-table;

    clear: both;
    margin-bottom: 60px;

    > li {
        padding: 0;

        .column {
            flex-basis: 5%;
            position: relative;
        }

        .column .list-button {
            @include list-button;
        }

        .total-label {
            @include font-size(17);
            color: $black;
            float: right;
            font-family: 'Dosis';
            font-weight: bold;
            text-align: right;
            text-transform: uppercase;
        }

        &.footer {
            background: $light-gray;
            min-height: 58px;
            padding: 8px;
            position: relative;
        }
    }
}