$fa-font-path: "/libraryApp/fonts";
@import "../../bower_modules/font-awesome/scss/font-awesome";

@import "../../common/styles/typefaces";
@import "../../common/styles/colors";
@import "../../common/styles/variables";
@import "../../common/styles/mixins";
@import "../../common/styles/buttons";
@import "../../common/styles/helpers";
@import "../../common/styles/gridAdapter";
@import "../../common/styles/zebraTable";
@import "../../common/styles/licenseTermsBox";
@import "../../common/styles/modalDialog";
@import "../../common/styles/productList";
@import "../../common/styles/carli";
@import "../../common/styles/logoHeader";

@import "../../common/components/alerts/alerts";
@import "../../common/components/auth/auth";
@import "../../common/components/askCarliButton/askCarliButton";
@import "../../common/components/checkbox/checkbox";
@import "../../common/components/collapsible/collapsible";
@import "../../common/components/goodSelect/goodSelect";
@import "../../common/components/libraryProductsList/libraryProductsList";
@import "../../common/components/login/login";
@import "../../common/components/navBar/navBar";
@import "../../common/components/radio/radio";
@import "../../common/components/subscriptionHistoryTable/subscriptionHistoryTable";
@import "../../common/components/userMenu/userMenu";
@import "../../common/components/viewEditDirectives/viewEditCheckbox/viewEditCheckbox";
@import "../../common/components/viewEditDirectives/viewEditDate/viewEditDate";
@import "../../common/components/viewEditDirectives/viewEditLibraryContact/viewEditLibraryContact";
@import "../../common/components/viewEditDirectives/viewEditPercentageField/viewEditPercentageField";
@import "../../common/components/viewEditDirectives/viewEditRadios/viewEditRadios";
@import "../../common/components/viewEditDirectives/viewEditSuPricing/viewEditSuPricing";
@import "../../common/components/viewEditDirectives/viewEditVendorContact/viewEditVendorContact";

.purchased-message {
    width: 50%;
    margin-bottom: 30px;
}

@import "../components/entityForms/editForm";
@import "../components/libraryProductsListExpandable/libraryProductsListExpandable";
@import "../components/licenseList/licenseList";
@import "../components/pricingInfo/pricingInfo";
@import "../components/subscriptionButton/subscriptionButton";
@import "../components/subscriptionProgress/subscriptionProgress";
@import "../components/subscriptionSelections/subscriptionSelections";
@import "../components/unselectedProducts/unselectedProducts";
@import "../components/vendorCommentsTable/vendorCommentsTable";
@import "../components/vendorSalesContact/vendorSalesContact";

@import "../sections/addOneTimePurchases/addOneTimePurchases";
@import "../sections/addSubscriptions/addSubscriptions";
@import "../sections/dashboard/dashboard";
@import "../sections/report/report";
@import "../sections/ipAddresses/ipAddresses";
@import "../sections/notifications/notifications";
@import "../sections/management/management";
