.edit-su-pricing {
    table {
        border: $default-border;
        width: 100%;

        thead,
        tbody > tr {
            border-bottom: $default-border;

            &:last-child {
                border-bottom: 0;
            }
        }

        th, td {
            border-right: $default-border;
            border-collapse: collapse;

            &:last-child {
                border-right: 0;
            }
        }
    }

    .carli-button.add {
        border: 0;
        height: auto;
        padding: 0;
        text-align: left;
    }
}