<div class="edit-su-pricing">
    <table>
        <thead>
            <tr>
                <th><strong>{{ vm.year }}</strong> Price</th>
                <th>Users</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="price in vm.pricing">
                <td><view-edit-number-field input-id="{{ vm.inputId }}Price{{ $index }}" edit-mode="vm.editMode" ng-model="price.price">{{ price.price | currency }}</view-edit-number-field></td>
                <td><view-edit-number-field input-id="{{ vm.inputId }}Users{{ $index }}" edit-mode="vm.editMode" ng-model="price.users">{{ price.users }}</view-edit-number-field></td>
            </tr>
            <tr colspan="2" ng-show="vm.editMode" ng-click="vm.addPriceRow()"><td><button>Add S.U. Price <fa name="circle-plus"></fa></button></td></tr>
        </tbody>
    </table>
</div>
