<div class="edit-su-pricing" ng-class="{ 'edit-mode': vm.editMode }">
    <table>
        <thead>
            <tr>
                <th><strong>{{ vm.year }}</strong> Price</th>
                <th>User(s)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="price in vm.pricing track by $index">
                <td><view-edit-price class="price" input-id="{{ vm.inputId }}Price{{ $index }}" edit-mode="vm.editMode" ng-model="price.price">{{ price.price | currency }}</view-edit-price></td>
                <td>
                    <view-edit-integer class="users" input-id="{{ vm.inputId }}Users{{ $index }}" edit-mode="vm.editMode" ng-model="price.users">{{ price.users }}</view-edit-integer>
                    <button class="carli-button remove" ng-click="vm.removePriceRow($index)"><fa name="minus-circle">Remove S.U. Price</fa></button>
                </td>
            </tr>
            <tr ng-show="vm.editMode" ng-click="vm.addPriceRow()"><td class="add-su-pricing" colspan="2"><button class="carli-button add">Add S.U. Price <fa name="plus-circle"></fa></button></td></tr>
        </tbody>
    </table>
</div>
